localstack[runtime]~=1.2.0
localstack-ext[runtime]~=1.2.0

# Has a dependency on `jsonschema` that's incompatible with other requirements.
# So pin to an older version.
openapi-spec-validator~=0.4.0

# `localstack` is calling a private method in `botocore`
# (`_convert_to_request_dict`) and this commit adds a required parameter which
# breaks `localstack`:
# https://github.com/boto/botocore/commit/357d5a81311b9c63286423b64d54ff3d6b99534b
#
# So pin `botocore` to an older version.
botocore==1.27.96
boto3==1.24.96
awscli==1.25.97
