# In Bazel 7 `--enable_bzlmod` was made the default. Disable it since we don't
# want to upgrade now.
always --noenable_bzlmod

# Import Aspect bazelrc presets
import %workspace%/admin/bazel/aspect_bazelrc/bazel7.bazelrc
import %workspace%/admin/bazel/aspect_bazelrc/convenience.bazelrc
import %workspace%/admin/bazel/aspect_bazelrc/correctness.bazelrc
import %workspace%/admin/bazel/aspect_bazelrc/debug.bazelrc
import %workspace%/admin/bazel/aspect_bazelrc/javascript.bazelrc
import %workspace%/admin/bazel/aspect_bazelrc/performance.bazelrc

# We only want to build tests when testing multiple targets. For example
# `bazel test //...` shouldn't build the iOS app.
test --build_tests_only

# Java versions to use. By default, Bazel uses the local Java version for some
# operations. To make sure we get hermetic builds we want to override to a
# remote version of Java which Bazel will download.
# https://bazel.build/docs/bazel-and-java#hermetic-testing
build --java_language_version=17
build --java_runtime_version=remotejdk_17
build --tool_java_language_version=17
build --tool_java_runtime_version=remotejdk_17

# Setting `--skipLibCheck` makes type checking much faster at the cost of
# type checking correctness for `.d.ts` files. We may want to consider
# occasionally doing a type checking run with `--skipLibCheck` off.
common --@aspect_rules_ts//ts:skipLibCheck=always

# Make sure we use a Bash script entrypoint for `py_binary()` rules instead of
# using the system Python installation. Since sometimes we may run on machines
# that don't have Python installed (e.g. CI machines).
build --@rules_python//python/config_settings:bootstrap_impl=script

# When using `--config=production` make sure `--platforms` and
# `--compilation_mode` are set to the same values as what we have in
# `production_transition()`. This reduces the complexity of our build graph as
# Bazel doesn't need to build multiple copies of our artifacts with different
# flags.
#
# This may hide issues with rules that build production assets that should
# have a `production_transition()` to ensure the assets are e.g. minified.
# Since everything is built in production mode we won't notice that these
# rules don't have a `production_transition()`.
build:production --platforms=//admin/bazel:linux_arm64
build:production --compilation_mode=opt
