# Import Aspect bazelrc presets
import %workspace%/admin/bazel/aspect_bazelrc/bazel6.bazelrc
import %workspace%/admin/bazel/aspect_bazelrc/convenience.bazelrc
import %workspace%/admin/bazel/aspect_bazelrc/correctness.bazelrc
import %workspace%/admin/bazel/aspect_bazelrc/debug.bazelrc
import %workspace%/admin/bazel/aspect_bazelrc/javascript.bazelrc
import %workspace%/admin/bazel/aspect_bazelrc/performance.bazelrc

# We only want to build tests when testing multiple targets. For example
# `bazel test //...` shouldn't build the iOS app.
test --build_tests_only

# Java versions to use. By default, Bazel uses the local Java version for some
# operations. To make sure we get hermetic builds we want to override to a
# remote version of Java which Bazel will download.
# https://bazel.build/docs/bazel-and-java#hermetic-testing
build --java_language_version=18
build --java_runtime_version=remotejdk_18
build --tool_java_language_version=18
build --tool_java_runtime_version=remotejdk_18

# Setting `--skipLibCheck` makes type checking much faster at the cost of
# type checking correctness for `.d.ts` files. We may want to consider
# occasionally doing a type checking run with `--skipLibCheck` off.
build --@aspect_rules_ts//ts:skipLibCheck=always
fetch --@aspect_rules_ts//ts:skipLibCheck=always
query --@aspect_rules_ts//ts:skipLibCheck=always
