.prose :global(.bullet-list-item) {
    position: relative;
}

.prose :global(.bullet-list-item)::before {
    content: "";
    position: absolute;
    background-color: theme("colors.gray.500");
    border-radius: 50%;
    pointer-events: none;
    width: 0.375em;
    height: 0.375em;
    top: 0.7125em;
    left: 0.25em;
}

.prose :global(.ordered-list-item) {
    position: relative;
}

.prose :global(.ordered-list-item)::before {
    content: "1.";
    position: absolute;
    color: theme("colors.gray.400");
    top: 0;
    left: 0;
}

.empty[aria-placeholder] {
    position: relative;
}

.empty[aria-placeholder] > p:first-child {
    position: relative;
    z-index: 2;
}

.empty[aria-placeholder]::before {
    content: attr(aria-placeholder);
    position: absolute;
    left: 0;
    right: 0;
    padding-left: inherit;
    padding-right: inherit;
    z-index: 1;
    pointer-events: none;
    color: theme("colors.gray.300");
}
