--- a.ttx	2025-05-14 16:24:22
+++ b.ttx	2025-05-14 16:25:46
@@ -1121,8 +1121,13 @@
 
   <hhea>
     <tableVersion value="0x00010000"/>
-    <ascent value="1036"/>
-    <descent value="-335"/>
+    <!--
+    NOTE(calebmer): Modify this font to have the same ascender/descender
+    proportions as Inter. Since Safari doesn't support the `ascent-override`
+    and `descent-override` CSS properties we'd use otherwise.
+    -->
+    <ascent value="{{newSourceSerifFontAscender}}"/>
+    <descent value="-{{newSourceSerifFontDescender}}"/>
     <lineGap value="0"/>
     <advanceWidthMax value="2273"/>
     <minLeftSideBearing value="-238"/>
@@ -1197,11 +1202,11 @@
     <fsSelection value="00000000 00000001"/>
     <usFirstCharIndex value="32"/>
     <usLastCharIndex value="65535"/>
-    <sTypoAscender value="1036"/>
-    <sTypoDescender value="-335"/>
+    <sTypoAscender value="{{newSourceSerifFontAscender}}"/>
+    <sTypoDescender value="-{{newSourceSerifFontDescender}}"/>
     <sTypoLineGap value="0"/>
-    <usWinAscent value="1036"/>
-    <usWinDescent value="335"/>
+    <usWinAscent value="{{newSourceSerifFontAscender}}"/>
+    <usWinDescent value="{{newSourceSerifFontDescender}}"/>
     <ulCodePageRange1 value="00100000 00000000 00000001 10011111"/>
     <ulCodePageRange2 value="00000000 00000000 00000000 00000000"/>
     <sxHeight value="475"/>
