# @generated by //shared/api/specification:write_specification

openapi: 3.0.0
info:
    title: Alpine API
    description: The Alpine REST API.
    version: 1.0.0
servers:
    - url: https://api.alpine.inc
paths:
    /specification.yaml:
        get:
            responses:
                "200":
                    content:
                        application/yaml: {}
                default:
                    $ref: "#/components/responses/Error"
    /accounts/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/AccountId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - account
                                additionalProperties: false
                                properties:
                                    account:
                                        $ref: "#/components/schemas/AccountWithoutSpace"
                default:
                    $ref: "#/components/responses/Error"
    /accounts/{id}/reference:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/AccountId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - reference
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    reference:
                                        $ref: "#/components/schemas/AccountReference_Response"
                default:
                    $ref: "#/components/responses/Error"
    /spaces/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/SpaceId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - space
                                additionalProperties: false
                                properties:
                                    space:
                                        $ref: "#/components/schemas/Space"
                default:
                    $ref: "#/components/responses/Error"
    /spaces/{id}/accounts/{accountId}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/SpaceId"
            - name: accountId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/AccountId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - account
                                additionalProperties: false
                                properties:
                                    account:
                                        $ref: "#/components/schemas/Account"
                default:
                    $ref: "#/components/responses/Error"
    /spaces/{id}/accounts/{accountId}/inbox:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/SpaceId"
            - name: accountId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/AccountId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - inbox
                                additionalProperties: false
                                properties:
                                    inbox:
                                        $ref: "#/components/schemas/Inbox"
                default:
                    $ref: "#/components/responses/Error"
    /spaces/{id}/accounts/{accountId}/inbox/entries:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/SpaceId"
            - name: accountId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/AccountId"
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: string
                - name: status
                  in: query
                  schema:
                      type: string
                      enum:
                          - New
                          - Done
                      default: New
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - inbox
                                    - entries
                                    - nextCursor
                                additionalProperties: false
                                properties:
                                    inbox:
                                        $ref: "#/components/schemas/Inbox"
                                    nextCursor:
                                        oneOf:
                                            - type: string
                                            - type: "null"
                                    entries:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/InboxEntry"
                default:
                    $ref: "#/components/responses/Error"
    /spaces/{id}/bots/{botId}/settings:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/SpaceId"
            - name: botId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/BotId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - settings
                                additionalProperties: false
                                properties:
                                    settings:
                                        type: object
                                        required:
                                            - values
                                        additionalProperties: false
                                        properties:
                                            values:
                                                type: object
                                                additionalProperties: true
                default:
                    $ref: "#/components/responses/Error"
    /spaces/{id}/accounts/{accountId}/bots/{botId}/settings:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/SpaceId"
            - name: accountId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/AccountId"
            - name: botId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/BotId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - settings
                                additionalProperties: false
                                properties:
                                    settings:
                                        type: object
                                        required:
                                            - values
                                            - space
                                        additionalProperties: false
                                        properties:
                                            values:
                                                type: object
                                                additionalProperties: true
                                            space:
                                                type: object
                                                required:
                                                    - values
                                                additionalProperties: false
                                                properties:
                                                    values:
                                                        type: object
                                                        additionalProperties: true
                default:
                    $ref: "#/components/responses/Error"
    /chats:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - spaceId
                                - chat
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                chat:
                                    $ref: "#/components/schemas/CreateChatRequestBodyChat"
            responses:
                "200":
                    $ref: "#/components/responses/GetChat"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetChat"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}/reference:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - reference
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    reference:
                                        $ref: "#/components/schemas/ChatReference_Response"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum:
                          - Start
                          - End
                      default: Start
            responses:
                "200":
                    $ref: "#/components/responses/GetMessages"
                default:
                    $ref: "#/components/responses/Error"
        post:
            requestBody:
                $ref: "#/components/requestBodies/CreateMessage"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamCompletion"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPing"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /documents:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - spaceId
                                - document
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                document:
                                    type: object
                                    required:
                                        - title
                                        - content
                                    additionalProperties: false
                                    properties:
                                        creator:
                                            type: object
                                            required:
                                                - id
                                            additionalProperties: false
                                            properties:
                                                id:
                                                    $ref: "#/components/schemas/AccountId"
                                        title:
                                            type: string
                                        content:
                                            $ref: "#/components/schemas/Content"
            responses:
                "200":
                    $ref: "#/components/responses/GetDocument"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetDocument"
                default:
                    $ref: "#/components/responses/Error"
        patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - document
                            additionalProperties: false
                            properties:
                                document:
                                    type: object
                                    required:
                                        - version
                                        - title
                                        - content
                                    additionalProperties: false
                                    properties:
                                        version:
                                            type: integer
                                        title:
                                            type: string
                                        content:
                                            $ref: "#/components/schemas/Content"
            responses:
                "200":
                    $ref: "#/components/responses/GetDocument"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/reference:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - reference
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    reference:
                                        $ref: "#/components/schemas/DocumentReference_Response"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - document
                                    - thread
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    thread:
                                        $ref: "#/components/schemas/DocumentThread_Response"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum:
                          - Start
                          - End
                      default: Start
            responses:
                "200":
                    $ref: "#/components/responses/GetMessages"
                default:
                    $ref: "#/components/responses/Error"
        post:
            requestBody:
                $ref: "#/components/requestBodies/CreateMessage"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamCompletion"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPing"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /channels/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChannelId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - channel
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    channel:
                                        $ref: "#/components/schemas/Channel_Response"
                default:
                    $ref: "#/components/responses/Error"
    /channels/{id}/posts:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChannelId"
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      $ref: "#/components/schemas/DateTime"
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - channel
                                    - nextCursor
                                    - posts
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    channel:
                                        $ref: "#/components/schemas/ChannelPreview"
                                    nextCursor:
                                        oneOf:
                                            - $ref: "#/components/schemas/DateTime"
                                            - type: "null"
                                    posts:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/PostPreview"
                default:
                    $ref: "#/components/responses/Error"
    /channels/{id}/reference:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChannelId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - reference
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    reference:
                                        $ref: "#/components/schemas/ChannelReference_Response"
                default:
                    $ref: "#/components/responses/Error"
    /posts:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - spaceId
                                - post
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                post:
                                    type: object
                                    required:
                                        - channelId
                                        - content
                                    properties:
                                        createdTimeZone:
                                            $ref: "#/components/schemas/TimeZone"
                                        channel:
                                            type: object
                                            required:
                                                - id
                                            properties:
                                                id:
                                                    $ref: "#/components/schemas/ChannelId"
                                        content:
                                            $ref: "#/components/schemas/Content"
            responses:
                "200":
                    $ref: "#/components/responses/GetPost"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetPost"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}/preview:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - post
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    post:
                                        $ref: "#/components/schemas/PostPreview"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}/reference:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - reference
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    reference:
                                        $ref: "#/components/schemas/PostReference_Response"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum:
                          - Start
                          - End
                      default: Start
            responses:
                "200":
                    $ref: "#/components/responses/GetMessages"
                default:
                    $ref: "#/components/responses/Error"
        post:
            requestBody:
                $ref: "#/components/requestBodies/CreateMessage"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamCompletion"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPing"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /spaces/{id}/search:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/SpaceId"
        get:
            parameters:
                - name: query
                  in: query
                  required: true
                  schema:
                      type: string
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - results
                                additionalProperties: false
                                properties:
                                    results:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/SearchResult"
                default:
                    $ref: "#/components/responses/Error"
    /sites/{id}/reference:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/SiteId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - reference
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    reference:
                                        $ref: "#/components/schemas/SiteReference_Response"
                default:
                    $ref: "#/components/responses/Error"
    /tasks:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - spaceId
                                - task
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                task:
                                    type: object
                                    additionalProperties: false
                                    properties:
                                        title:
                                            type: string
                                            maxLength: 512
                                        creator:
                                            type: object
                                            required:
                                                - id
                                            additionalProperties: false
                                            properties:
                                                id:
                                                    $ref: "#/components/schemas/AccountId"
                                        status:
                                            $ref: "#/components/schemas/TaskStatus"
                                        assignee:
                                            type: object
                                            required:
                                                - id
                                            additionalProperties: false
                                            properties:
                                                id:
                                                    $ref: "#/components/schemas/AccountId"
                                        due:
                                            $ref: "#/components/schemas/TaskDueDate"
                                        priority:
                                            type: string
                                            enum:
                                                - Low
                                                - Medium
                                                - High
                                                - Urgent
                                        content:
                                            $ref: "#/components/schemas/Content"
            responses:
                "200":
                    $ref: "#/components/responses/GetTask"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
        patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - patches
                            additionalProperties: false
                            properties:
                                actor:
                                    type: object
                                    required:
                                        - id
                                    additionalProperties: false
                                    properties:
                                        id:
                                            $ref: "#/components/schemas/AccountId"
                                patches:
                                    type: array
                                    minItems: 1
                                    items:
                                        $ref: "#/components/schemas/TaskPatch"
            responses:
                "200":
                    $ref: "#/components/responses/GetTask"
                default:
                    $ref: "#/components/responses/Error"
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetTask"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/notes:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
        patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - notes
                            additionalProperties: false
                            properties:
                                notes:
                                    type: object
                                    required:
                                        - version
                                        - content
                                    additionalProperties: false
                                    properties:
                                        version:
                                            type: integer
                                        content:
                                            $ref: "#/components/schemas/Content"
            responses:
                "200":
                    $ref: "#/components/responses/GetTaskNotes"
                default:
                    $ref: "#/components/responses/Error"
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetTaskNotes"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/reference:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - reference
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    reference:
                                        $ref: "#/components/schemas/TaskReference_Response"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum:
                          - Start
                          - End
                      default: Start
            responses:
                "200":
                    $ref: "#/components/responses/GetMessages"
                default:
                    $ref: "#/components/responses/Error"
        post:
            requestBody:
                $ref: "#/components/requestBodies/CreateMessage"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamCompletion"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPing"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /task-collections:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - spaceId
                                - collection
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                collection:
                                    type: object
                                    required:
                                        - name
                                    additionalProperties: false
                                    properties:
                                        creator:
                                            type: object
                                            required:
                                                - id
                                            additionalProperties: false
                                            properties:
                                                id:
                                                    $ref: "#/components/schemas/AccountId"
                                        name:
                                            $ref: "#/components/schemas/LabelString"
                                        color:
                                            oneOf:
                                                - $ref: "#/components/schemas/TaskCollectionColor"
                                                - type: "null"
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - collection
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    collection:
                                        $ref: "#/components/schemas/TaskCollection"
                default:
                    $ref: "#/components/responses/Error"
    /task-collections/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskCollectionId"
        patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - patches
                            additionalProperties: false
                            properties:
                                actor:
                                    type: object
                                    required:
                                        - id
                                    additionalProperties: false
                                    properties:
                                        id:
                                            $ref: "#/components/schemas/AccountId"
                                patches:
                                    type: array
                                    minItems: 1
                                    items:
                                        $ref: "#/components/schemas/TaskCollectionPatch"
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - collection
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    collection:
                                        $ref: "#/components/schemas/TaskCollection"
                default:
                    $ref: "#/components/responses/Error"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - collection
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    collection:
                                        $ref: "#/components/schemas/TaskCollection"
                default:
                    $ref: "#/components/responses/Error"
    /task-collections/{id}/reference:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskCollectionId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - reference
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    reference:
                                        $ref: "#/components/schemas/TaskCollectionReference_Response"
                default:
                    $ref: "#/components/responses/Error"
    /task-collections/{id}/tasks:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskCollectionId"
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: string
                - name: status
                  in: query
                  schema:
                      type: array
                      items:
                          type: string
                          enum:
                              - Open
                              - Closed
                      maxItems: 2
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - nextCursor
                                    - tasks
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    nextCursor:
                                        type:
                                            - string
                                            - "null"
                                    tasks:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/TaskWithoutNotes"
                default:
                    $ref: "#/components/responses/Error"
    /files/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/FileId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - id
                                    - contentType
                                    - contentLength
                                    - signedUrl
                                    - isUploading
                                additionalProperties: false
                                properties:
                                    id:
                                        $ref: "#/components/schemas/FileId"
                                    contentType:
                                        type: string
                                    contentLength:
                                        type: integer
                                    signedUrl:
                                        type: string
                                    isUploading:
                                        type: boolean
                default:
                    $ref: "#/components/responses/Error"
    /files/{id}/content:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/FileId"
        get:
            responses:
                "302":
                    headers:
                        location:
                            schema:
                                type: string
                default:
                    $ref: "#/components/responses/Error"
webhooks:
    bot:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - spaceId
                                - botAccount
                                - attempt
                                - accessToken
                                - eventId
                                - event
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                botAccount:
                                    type: object
                                    required:
                                        - id
                                        - bot
                                    additionalProperties: false
                                    properties:
                                        id:
                                            $ref: "#/components/schemas/AccountId"
                                        bot:
                                            type: object
                                            required:
                                                - id
                                            additionalProperties: false
                                            properties:
                                                id:
                                                    $ref: "#/components/schemas/BotId"
                                attempt:
                                    type: integer
                                    minimum: 1
                                accessToken:
                                    type: string
                                eventId:
                                    $ref: "#/components/schemas/BotWebhookEventId"
                                event:
                                    $ref: "#/components/schemas/BotWebhookEvent"
            responses:
                "200":
                    description: Return a 200 status to indicate that the data was received
                        successfully
components:
    responses:
        Error:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - error
                        additionalProperties: false
                        properties:
                            error:
                                type: object
                                required:
                                    - message
                                    - retry
                                additionalProperties: false
                                properties:
                                    message:
                                        type: string
                                        description: A human-readable message providing more details about the error.
                                    retry:
                                        type: object
                                        required:
                                            - able
                                        additionalProperties: false
                                        properties:
                                            able:
                                                type: boolean
                                                description: If true, it indicates that the request should succeed if tried
                                                    again.
        GetChat:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - spaceId
                            - chat
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            chat:
                                $ref: "#/components/schemas/Chat"
        GetDocument:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - spaceId
                            - document
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            document:
                                $ref: "#/components/schemas/Document_Response"
        GetTask:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - spaceId
                            - task
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            task:
                                $ref: "#/components/schemas/Task_Response"
        GetTaskNotes:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - spaceId
                            - notes
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            notes:
                                $ref: "#/components/schemas/TaskNotes_Response"
        GetMessage:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - spaceId
                            - message
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            message:
                                $ref: "#/components/schemas/Message_Response"
        GetMessages:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - spaceId
                            - totalMessageCount
                            - nextCursor
                            - messages
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            totalMessageCount:
                                type: integer
                            nextCursor:
                                type:
                                    - integer
                                    - "null"
                                minimum: 0
                            messages:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Message_Response"
        GetMessageStreamCompletion:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - spaceId
                            - completion
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            completion:
                                type: object
                                required:
                                    - completedTime
                                additionalProperties: false
                                properties:
                                    completedTime:
                                        $ref: "#/components/schemas/DateTime"
        GetMessageStreamPing:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - spaceId
                            - ping
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            ping:
                                type: object
                                required:
                                    - lastUpdatedTime
                                additionalProperties: false
                                properties:
                                    lastUpdatedTime:
                                        $ref: "#/components/schemas/DateTime"
        GetMessageStreamPart:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - spaceId
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
        GetPost:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - spaceId
                            - post
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            post:
                                $ref: "#/components/schemas/Post_Response"
    requestBodies:
        CreateMessage:
            required: true
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - content
                        additionalProperties: false
                        properties:
                            isStream:
                                type: boolean
                            createdTimeZone:
                                $ref: "#/components/schemas/TimeZone"
                            parent:
                                $ref: "#/components/schemas/MessageContentPayloadParent"
                            content:
                                $ref: "#/components/schemas/Content"
                            files:
                                type: array
                                items:
                                    $ref: "#/components/schemas/MessageContentPayloadFile"
        PutMessageStreamPart:
            required: true
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - payload
                        additionalProperties: false
                        properties:
                            payload:
                                $ref: "#/components/schemas/MessageStreamPartPayload"
    schemas:
        LabelString:
            type: string
            minLength: 1
            maxLength: 50
        DateTime:
            type: string
            format: date-time
        TimeZone:
            type: string
        FileContentType:
            type: string
            enum:
                - application/json
                - application/msword
                - application/octet-stream
                - application/pdf
                - application/sql
                - application/vnd.dart
                - application/vnd.ms-excel
                - application/vnd.ms-powerpoint
                - application/vnd.openxmlformats-officedocument.presentationml.presentation
                - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
                - application/vnd.openxmlformats-officedocument.wordprocessingml.document
                - application/wasm
                - application/x-httpd-php
                - application/x-powershell
                - application/x-ruby
                - application/x-sh
                - application/xml
                - application/yaml
                - audio/mp4
                - audio/mpeg
                - audio/ogg
                - audio/wav
                - audio/webm
                - image/apng
                - image/avif
                - image/bmp
                - image/gif
                - image/heif
                - image/ico
                - image/jpeg
                - image/png
                - image/svg+xml
                - image/tiff
                - image/webp
                - text/css
                - text/html
                - text/javascript
                - text/markdown
                - text/plain
                - text/rust
                - text/x-asm
                - text/x-c++src
                - text/x-clojure
                - text/x-csharp
                - text/x-csrc
                - text/x-elixir
                - text/x-erlang
                - text/x-go
                - text/x-haskell
                - text/x-java
                - text/x-kotlin
                - text/x-lua
                - text/x-objcsrc
                - text/x-ocaml
                - text/x-perl
                - text/x-python
                - text/x-r
                - text/x-scala
                - text/x-solidity
                - text/x-swift
                - text/x-typescript
                - video/mp4
                - video/mpeg
                - video/quicktime
                - video/webm
                - video/x-matroska
        AccountId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        BotId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        BotWebhookEventId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        ChannelId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        ChatId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        DocumentId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        DocumentThreadId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        FileId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        PostId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        SiteId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        SpaceId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        TaskId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        TaskCollectionId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        ContentKey:
            type: string
            minLength: 1
        TaskCollectionColor:
            type: string
            enum:
                - Red
                - Orange
                - Yellow
                - Green
                - Cyan
                - Blue
                - Indigo
                - Purple
                - Pink
        AccountReference:
            type: object
            required:
                - type
                - id
            additionalProperties: false
            properties:
                type:
                    const: Account
                id:
                    $ref: "#/components/schemas/AccountId"
                title:
                    type: string
                shortName:
                    $ref: "#/components/schemas/LabelString"
                bot:
                    type: object
                    required:
                        - id
                    additionalProperties: false
                    properties:
                        id:
                            $ref: "#/components/schemas/BotId"
        AccountReference_Response:
            type: object
            required:
                - type
                - id
                - title
                - shortName
            additionalProperties: false
            properties:
                type:
                    const: Account
                id:
                    $ref: "#/components/schemas/AccountId"
                title:
                    type: string
                shortName:
                    $ref: "#/components/schemas/LabelString"
                bot:
                    type: object
                    required:
                        - id
                    additionalProperties: false
                    properties:
                        id:
                            $ref: "#/components/schemas/BotId"
        ChannelReference:
            type: object
            required:
                - type
                - id
            additionalProperties: false
            properties:
                type:
                    const: Channel
                id:
                    $ref: "#/components/schemas/ChannelId"
                title:
                    type: string
        ChannelReference_Response:
            type: object
            required:
                - type
                - id
                - title
            additionalProperties: false
            properties:
                type:
                    const: Channel
                id:
                    $ref: "#/components/schemas/ChannelId"
                title:
                    type: string
        ChatReference:
            type: object
            required:
                - type
                - id
            additionalProperties: false
            properties:
                type:
                    const: Chat
                id:
                    $ref: "#/components/schemas/ChatId"
                title:
                    type: string
        ChatReference_Response:
            type: object
            required:
                - type
                - id
                - title
            additionalProperties: false
            properties:
                type:
                    const: Chat
                id:
                    $ref: "#/components/schemas/ChatId"
                title:
                    type: string
        DocumentReference:
            type: object
            required:
                - type
                - id
            additionalProperties: false
            properties:
                type:
                    const: Document
                id:
                    $ref: "#/components/schemas/DocumentId"
                title:
                    type: string
        DocumentReference_Response:
            type: object
            required:
                - type
                - id
                - title
            additionalProperties: false
            properties:
                type:
                    const: Document
                id:
                    $ref: "#/components/schemas/DocumentId"
                title:
                    type: string
        PostReference:
            type: object
            required:
                - type
                - id
            additionalProperties: false
            properties:
                type:
                    const: Post
                id:
                    $ref: "#/components/schemas/PostId"
                title:
                    type: string
        PostReference_Response:
            type: object
            required:
                - type
                - id
                - title
            additionalProperties: false
            properties:
                type:
                    const: Post
                id:
                    $ref: "#/components/schemas/PostId"
                title:
                    type: string
        TaskReference:
            type: object
            required:
                - type
                - id
            additionalProperties: false
            properties:
                type:
                    const: Task
                id:
                    $ref: "#/components/schemas/TaskId"
                title:
                    type: string
                status:
                    $ref: "#/components/schemas/TaskStatus"
        TaskReference_Response:
            type: object
            required:
                - type
                - id
                - title
                - status
            additionalProperties: false
            properties:
                type:
                    const: Task
                id:
                    $ref: "#/components/schemas/TaskId"
                title:
                    type: string
                status:
                    $ref: "#/components/schemas/TaskStatus"
        TaskCollectionReference:
            type: object
            required:
                - type
                - id
            additionalProperties: false
            properties:
                type:
                    const: TaskCollection
                id:
                    $ref: "#/components/schemas/TaskCollectionId"
                title:
                    type: string
        TaskCollectionReference_Response:
            type: object
            required:
                - type
                - id
                - title
            additionalProperties: false
            properties:
                type:
                    const: TaskCollection
                id:
                    $ref: "#/components/schemas/TaskCollectionId"
                title:
                    type: string
        SiteReference:
            type: object
            required:
                - type
                - id
            additionalProperties: false
            properties:
                type:
                    const: Site
                id:
                    $ref: "#/components/schemas/SiteId"
                title:
                    type: string
        SiteReference_Response:
            type: object
            required:
                - type
                - id
                - title
            additionalProperties: false
            properties:
                type:
                    const: Site
                id:
                    $ref: "#/components/schemas/SiteId"
                title:
                    type: string
        MentionReference:
            oneOf:
                - $ref: "#/components/schemas/AccountReference"
                - $ref: "#/components/schemas/ChannelReference"
                - $ref: "#/components/schemas/ChatReference"
                - $ref: "#/components/schemas/DocumentReference"
                - $ref: "#/components/schemas/PostReference"
                - $ref: "#/components/schemas/TaskReference"
                - $ref: "#/components/schemas/TaskCollectionReference"
                - $ref: "#/components/schemas/SiteReference"
            discriminator:
                propertyName: type
                mapping:
                    Account: "#/components/schemas/AccountReference"
                    Channel: "#/components/schemas/ChannelReference"
                    Chat: "#/components/schemas/ChatReference"
                    Document: "#/components/schemas/DocumentReference"
                    Post: "#/components/schemas/PostReference"
                    Task: "#/components/schemas/TaskReference"
                    TaskCollection: "#/components/schemas/TaskCollectionReference"
                    Site: "#/components/schemas/SiteReference"
        PreviewReference:
            oneOf:
                - $ref: "#/components/schemas/ChannelReference"
                - $ref: "#/components/schemas/ChatReference"
                - $ref: "#/components/schemas/DocumentReference"
                - $ref: "#/components/schemas/PostReference"
                - $ref: "#/components/schemas/TaskReference"
                - $ref: "#/components/schemas/TaskCollectionReference"
                - $ref: "#/components/schemas/SiteReference"
            discriminator:
                propertyName: type
                mapping:
                    Channel: "#/components/schemas/ChannelReference"
                    Chat: "#/components/schemas/ChatReference"
                    Document: "#/components/schemas/DocumentReference"
                    Post: "#/components/schemas/PostReference"
                    Task: "#/components/schemas/TaskReference"
                    TaskCollection: "#/components/schemas/TaskCollectionReference"
                    Site: "#/components/schemas/SiteReference"
        Content:
            type: object
            additionalProperties: false
            required:
                - elements
            properties:
                elements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentBlockElement"
        ContentBlockElement:
            oneOf:
                - $ref: "#/components/schemas/ContentParagraphBlockElement"
                - $ref: "#/components/schemas/ContentUnorderedListBlockElement"
                - $ref: "#/components/schemas/ContentOrderedListBlockElement"
                - $ref: "#/components/schemas/ContentCheckListBlockElement"
                - $ref: "#/components/schemas/ContentQuoteBlockElement"
                - $ref: "#/components/schemas/ContentHeadingBlockElement"
                - $ref: "#/components/schemas/ContentDividerBlockElement"
                - $ref: "#/components/schemas/ContentTableBlockElement"
                - $ref: "#/components/schemas/ContentCodeBlockElement"
                - $ref: "#/components/schemas/ContentFileBlockElement"
                - $ref: "#/components/schemas/ContentFileGalleryBlockElement"
                - $ref: "#/components/schemas/ContentFileFloatBlockElement"
                - $ref: "#/components/schemas/ContentPreviewBlockElement"
            discriminator:
                propertyName: type
                mapping:
                    Paragraph: "#/components/schemas/ContentParagraphBlockElement"
                    UnorderedList: "#/components/schemas/ContentUnorderedListBlockElement"
                    OrderedList: "#/components/schemas/ContentOrderedListBlockElement"
                    CheckList: "#/components/schemas/ContentCheckListBlockElement"
                    Quote: "#/components/schemas/ContentQuoteBlockElement"
                    Heading: "#/components/schemas/ContentHeadingBlockElement"
                    Divider: "#/components/schemas/ContentDividerBlockElement"
                    Table: "#/components/schemas/ContentTableBlockElement"
                    Code: "#/components/schemas/ContentCodeBlockElement"
                    File: "#/components/schemas/ContentFileBlockElement"
                    FileGallery: "#/components/schemas/ContentFileGalleryBlockElement"
                    FileFloat: "#/components/schemas/ContentFileFloatBlockElement"
                    Preview: "#/components/schemas/ContentPreviewBlockElement"
        ContentParagraphBlockElement:
            type: object
            required:
                - type
                - elements
            additionalProperties: false
            properties:
                type:
                    const: Paragraph
                key:
                    $ref: "#/components/schemas/ContentKey"
                elements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentInlineElement"
        ContentParagraphBlockElement_Response:
            type: object
            required:
                - type
                - key
                - elements
            additionalProperties: false
            properties:
                type:
                    const: Paragraph
                key:
                    $ref: "#/components/schemas/ContentKey"
                elements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentInlineElement_Response"
        ContentListBlockElement:
            oneOf:
                - $ref: "#/components/schemas/ContentUnorderedListBlockElement"
                - $ref: "#/components/schemas/ContentOrderedListBlockElement"
                - $ref: "#/components/schemas/ContentCheckListBlockElement"
            discriminator:
                propertyName: type
                mapping:
                    UnorderedList: "#/components/schemas/ContentUnorderedListBlockElement"
                    OrderedList: "#/components/schemas/ContentOrderedListBlockElement"
                    CheckList: "#/components/schemas/ContentCheckListBlockElement"
        ContentUnorderedListBlockElement:
            type: object
            required:
                - type
                - items
            additionalProperties: false
            properties:
                type:
                    const: UnorderedList
                items:
                    type: array
                    minItems: 1
                    items:
                        $ref: "#/components/schemas/ContentListBlockElementItem"
        ContentOrderedListBlockElement:
            type: object
            required:
                - type
                - items
            additionalProperties: false
            properties:
                type:
                    const: OrderedList
                orderStart:
                    type: integer
                    minimum: 1
                items:
                    type: array
                    minItems: 1
                    items:
                        $ref: "#/components/schemas/ContentListBlockElementItem"
        ContentCheckListBlockElement:
            type: object
            required:
                - type
                - items
            additionalProperties: false
            properties:
                type:
                    const: CheckList
                items:
                    type: array
                    minItems: 1
                    items:
                        $ref: "#/components/schemas/ContentCheckListBlockElementItem"
        ContentListBlockElementItem:
            type: object
            required:
                - elements
            additionalProperties: false
            properties:
                elements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentParagraphBlockElement"
                nestedListElements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentListBlockElement"
        ContentCheckListBlockElementItem:
            type: object
            required:
                - checked
                - elements
            additionalProperties: false
            properties:
                checked:
                    type: boolean
                elements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentParagraphBlockElement"
                nestedListElements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentListBlockElement"
        ContentQuoteBlockElement:
            type: object
            required:
                - type
                - elements
            additionalProperties: false
            properties:
                type:
                    const: Quote
                elements:
                    type: array
                    minItems: 1
                    items:
                        $ref: "#/components/schemas/ContentQuoteBlockElementBlockElement"
        ContentQuoteBlockElementBlockElement:
            oneOf:
                - $ref: "#/components/schemas/ContentParagraphBlockElement"
                - $ref: "#/components/schemas/ContentUnorderedListBlockElement"
                - $ref: "#/components/schemas/ContentOrderedListBlockElement"
                - $ref: "#/components/schemas/ContentCheckListBlockElement"
            discriminator:
                propertyName: type
                mapping:
                    Paragraph: "#/components/schemas/ContentParagraphBlockElement"
                    UnorderedList: "#/components/schemas/ContentUnorderedListBlockElement"
                    OrderedList: "#/components/schemas/ContentOrderedListBlockElement"
                    CheckList: "#/components/schemas/ContentCheckListBlockElement"
        ContentHeadingBlockElement:
            type: object
            required:
                - type
                - level
                - elements
            additionalProperties: false
            properties:
                type:
                    const: Heading
                key:
                    $ref: "#/components/schemas/ContentKey"
                level:
[...]
