# This is the source OpenAPI specification for the Alpine REST API. We run a
# couple transformations before we get to the OpenAPI specification we'll share
# with users.
#
# - All comments are stripped from the final specification.
#
# - There are some template variables you can use that'll be replaced (for
#   example `idRegExp` in Mustache curly brackets).
#
# - Schema names that end with an underscore (e.g. `_Response`) are
#   "specializations" of the base type (e.g.
#   `ContentMentionInlineElement_Response` is a specialization of
#   `ContentMentionInlineElement`).
#
#   Specializations create entirely new type hierarchies that use the
#   specialized type instead of the base type. For example, we generate
#   `ContentInlineElement_Response` that references
#   `ContentMentionInlineElement_Response` instead of
#   `ContentMentionInlineElement`.
#
#   We also update any schema references used in request bodies or responses
#   to use the `_Request` or `_Response` specialization respectively if such a
#   specialization is available.

openapi: 3.0.0
info:
    title: Alpine API
    description: The Alpine REST API.
    version: 1.0.0

servers:
    - url: https://api.alpine.inc

paths:
    /specification.yaml:
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/yaml: {}

    # TODO(calebmer, #public-api): Document that if you have a bot and the bot is
    # trying to read an account that was a former member of the space you'll get
    # the account's old data at removal time instead of the latest data.
    /accounts/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/AccountId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [account]
                                additionalProperties: false
                                properties:
                                    account:
                                        $ref: "#/components/schemas/AccountWithoutSpace"

    /accounts/{id}/mention:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/AccountId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [mention]
                                additionalProperties: false
                                properties:
                                    mention:
                                        type: object
                                        required: [target, title]
                                        additionalProperties: false
                                        properties:
                                            target:
                                                $ref: "#/components/schemas/AccountMentionTarget"
                                            title:
                                                type: string

    /spaces/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/SpaceId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [space]
                                additionalProperties: false
                                properties:
                                    space:
                                        $ref: "#/components/schemas/Space"

    /spaces/{id}/accounts/{accountId}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/SpaceId"}
            - name: accountId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/AccountId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [account]
                                additionalProperties: false
                                properties:
                                    account:
                                        $ref: "#/components/schemas/Account"

    /spaces/{id}/accounts/{accountId}/inbox:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/SpaceId"}
            - name: accountId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/AccountId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [inbox]
                                additionalProperties: false
                                properties:
                                    inbox:
                                        $ref: "#/components/schemas/Inbox"

    /spaces/{id}/accounts/{accountId}/inbox/entries:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/SpaceId"}
            - name: accountId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/AccountId"}
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: string
                - name: status
                  in: query
                  schema:
                      type: string
                      enum: [New, Done]
                      default: New
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [inbox, entries, nextCursor]
                                additionalProperties: false
                                properties:
                                    inbox:
                                        $ref: "#/components/schemas/Inbox"
                                    nextCursor:
                                        oneOf:
                                            - type: string
                                            - type: "null"
                                    entries:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/InboxEntry"

    /spaces/{id}/bots/{botId}/settings:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/SpaceId"}
            - name: botId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/BotId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [settings]
                                additionalProperties: false
                                properties:
                                    settings:
                                        type: object
                                        required: [values]
                                        additionalProperties: false
                                        properties:
                                            values:
                                                type: object
                                                additionalProperties: true

    /spaces/{id}/accounts/{accountId}/bots/{botId}/settings:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/SpaceId"}
            - name: accountId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/AccountId"}
            - name: botId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/BotId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [settings]
                                additionalProperties: false
                                properties:
                                    settings:
                                        type: object
                                        required: [values, space]
                                        additionalProperties: false
                                        properties:
                                            values:
                                                type: object
                                                additionalProperties: true
                                            space:
                                                type: object
                                                required: [values]
                                                additionalProperties: false
                                                properties:
                                                    values:
                                                        type: object
                                                        additionalProperties: true

    /chats/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, chat]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    chat:
                                        $ref: "#/components/schemas/Chat"

    /chats/{id}/mention:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, mention]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    mention:
                                        type: object
                                        required: [target, title]
                                        additionalProperties: false
                                        properties:
                                            target:
                                                $ref: "#/components/schemas/ChatMentionTarget"
                                            title:
                                                type: string

    # TODO(calebmer, #public-api): Add a `-markdown` variant endpoint for all
    # endpoints that deal with content. This variant should return a string for
    # content instead of an AST. Also add a `-markdown` variant for any `/messages`
    # endpoints (both `GET` and `POST`).
    /chats/{id}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /chats/{id}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum: [start, end]
                      default: start
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessages"}
        post:
            requestBody: {$ref: "#/components/requestBodies/CreateMessage"}
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /chats/{id}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamCompletion"}

    /chats/{id}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPing"}

    /chats/{id}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /chats/{id}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /chats/{id}/messages/{index}/experimental-approvals:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageExperimentalApprovals"}
        patch:
            requestBody:
                $ref: "#/components/requestBodies/PatchMessageExperimentalApprovals"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageExperimentalApprovals"}

    /documents:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [spaceId, document]
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                document:
                                    type: object
                                    required: [title, content]
                                    additionalProperties: false
                                    properties:
                                        title:
                                            type: string
                                        # TODO(#public-api-blocking): Use `$ref: "#/components/schemas/Actor"` instead.
                                        creator:
                                            type: object
                                            required: [id]
                                            additionalProperties: false
                                            properties:
                                                id:
                                                    $ref: "#/components/schemas/AccountId"
                                        content:
                                            $ref: "#/components/schemas/Content"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetDocument"}

    /documents/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetDocument"}
        patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [document]
                            additionalProperties: false
                            properties:
                                document:
                                    type: object
                                    required: [version, title, content]
                                    additionalProperties: false
                                    properties:
                                        version:
                                            type: integer
                                        title:
                                            type: string
                                        content:
                                            $ref: "#/components/schemas/Content"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetDocument"}

    /documents/{id}/mention:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, mention]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    mention:
                                        type: object
                                        required: [target, title]
                                        additionalProperties: false
                                        properties:
                                            target:
                                                $ref: "#/components/schemas/DocumentMentionTarget"
                                            title:
                                                type: string

    /documents/{id}/threads:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [thread]
                            additionalProperties: false
                            properties:
                                thread:
                                    type: object
                                    required: [range, firstMessage]
                                    additionalProperties: false
                                    properties:
                                        # TODO(#agent-web): Reuse the create-message
                                        # input type here after `CreateMessage` is updated to match
                                        # message output, including nesting content and files in
                                        # `payload`.
                                        firstMessage:
                                            type: object
                                            required: [content]
                                            additionalProperties: false
                                            properties:
                                                createdTimeZone:
                                                    $ref: "#/components/schemas/TimeZone"
                                                content:
                                                    $ref: "#/components/schemas/Content"
                                                files:
                                                    type: array
                                                    items:
                                                        $ref: "#/components/schemas/MessageContentPayloadFile"
                                        # TODO(#agent-web): Revisit representing thread
                                        # targets as `range: ContentRange | null` and
                                        # `additionalRanges: Array<ContentRange>` once document
                                        # thread responses can represent ranges.
                                        range:
                                            $ref: "#/components/schemas/ContentRange"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            # TODO(#agent-web): Revisit this response after the
                            # `agent_web_2` branch merges because it substantially changes the
                            # document thread response.
                            schema:
                                type: object
                                required: [spaceId, document, thread, message]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    document:
                                        type: object
                                        required: [id, version]
                                        additionalProperties: false
                                        properties:
                                            id:
                                                $ref: "#/components/schemas/DocumentId"
                                            version:
                                                type: integer
                                                minimum: 0
                                    thread:
                                        $ref: "#/components/schemas/DocumentCommentThread"
                                    message:
                                        $ref: "#/components/schemas/Message"

    /documents/{id}/threads/{threadId}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, commentThread]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    commentThread:
                                        $ref: "#/components/schemas/DocumentCommentThread"

    /documents/{id}/threads/{threadId}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /documents/{id}/threads/{threadId}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                # TODO(calebmer, #public-api): Bikeshed this naming. I like it because we can
                # consistently communicate the same pagination concept across all paginated API
                # endpoints. But `index` here could be clearer for messages.
                - name: cursor
                  in: query
                  schema:
                      type: integer
                # TODO(calebmer, #public-api): Bikeshed this name when we ship the public API.
                # Ian's proposal is `order=ascending`/`order=descending`. Which matches SQL
                # language, could feel more natural.
                - name: from
                  in: query
                  schema:
                      type: string
                      enum: [start, end]
                      default: start
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessages"}
        post:
            requestBody: {$ref: "#/components/requestBodies/CreateMessage"}
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /documents/{id}/threads/{threadId}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamCompletion"}

    /documents/{id}/threads/{threadId}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPing"}

    /documents/{id}/threads/{threadId}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /documents/{id}/threads/{threadId}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /documents/{id}/threads/{threadId}/messages/{index}/experimental-approvals:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageExperimentalApprovals"}
        patch:
            requestBody:
                $ref: "#/components/requestBodies/PatchMessageExperimentalApprovals"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageExperimentalApprovals"}

    /channels/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChannelId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, channel]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    channel:
                                        $ref: "#/components/schemas/Channel"

    /channels/{id}/posts:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChannelId"}
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      $ref: "#/components/schemas/DateTime"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, nextCursor, posts]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    nextCursor:
                                        oneOf:
                                            - $ref: "#/components/schemas/DateTime"
                                            - type: "null"
                                    posts:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/PostPreview"

    /channels/{id}/mention:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChannelId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, mention]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    mention:
                                        type: object
                                        required: [target, title]
                                        additionalProperties: false
                                        properties:
                                            target:
                                                $ref: "#/components/schemas/ChannelMentionTarget"
                                            title:
                                                type: string

    /posts:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            # TODO(ifitzsimmons, #ai): Eventually, we'll allow posts to be created
                            # without a channel. That's the reason this endpoint isn't formatted
                            # like `/channels/{id}/posts`. However, since we can't support post
                            # creation outside of channels right now, users are required to provide
                            # a channelId in the request. Going from required to optional will be
                            # a backwards compatible change when the time comes.
                            required: [channelId, content]
                            additionalProperties: false
                            # TODO(ifitzsimmons, #public-api): Response bodies should be assignable to request
                            # bodies for objects of the same type. So `GetPost` should be
                            # assignable to this request body.
                            properties:
                                channelId:
                                    $ref: "#/components/schemas/ChannelId"
                                createdTimeZone:
                                    $ref: "#/components/schemas/TimeZone"
                                content:
                                    $ref: "#/components/schemas/Content"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetPost"}

    /posts/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetPost"}

    /posts/{id}/mention:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, mention]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    mention:
                                        $ref: "#/components/schemas/Mention"

    /posts/{id}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /posts/{id}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum: [start, end]
                      default: start
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessages"}
        post:
            requestBody: {$ref: "#/components/requestBodies/CreateMessage"}
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /posts/{id}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamCompletion"}

    /posts/{id}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPing"}

    /posts/{id}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /posts/{id}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /posts/{id}/messages/{index}/experimental-approvals:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageExperimentalApprovals"}
        patch:
            requestBody:
                $ref: "#/components/requestBodies/PatchMessageExperimentalApprovals"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageExperimentalApprovals"}

    # TODO(ifitzsimmons, #ai): Change this interface so that it returns a parsed string
    # representation of the search filters and an indication of whether a particular
    # result matched the search filter or not.
    /spaces/{id}/search:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/SpaceId"}
        get:
            parameters:
                - name: query
                  in: query
                  required: true
                  schema:
                      type: string
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [results]
                                additionalProperties: false
                                properties:
                                    results:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/SearchResult"

    # TODO(#site-api): Implement site API.
    /sites/{id}/mention:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/SiteId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, mention]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    mention:
                                        type: object
                                        required: [target, title]
                                        additionalProperties: false
                                        properties:
                                            target:
                                                $ref: "#/components/schemas/SiteMentionTarget"
                                            title:
                                                type: string

    /tasks:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [spaceId, task]
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                task:
                                    type: object
                                    additionalProperties: false
                                    properties:
                                        title:
                                            type: string
                                            maxLength: {{taskTitleMaxLength}}
                                        # TODO(#public-api-blocking): Use `$ref: "#/components/schemas/Actor"` instead.
                                        creator:
                                            type: object
                                            required: [id]
                                            additionalProperties: false
                                            properties:
                                                id:
                                                    $ref: "#/components/schemas/AccountId"
                                        status:
                                            $ref: "#/components/schemas/TaskStatus"
                                        assignee:
                                            type: object
                                            required: [id]
                                            additionalProperties: false
                                            properties:
                                                id:
                                                    $ref: "#/components/schemas/AccountId"
                                        due:
                                            $ref: "#/components/schemas/TaskDueDate"
                                        priority:
                                            type: string
                                            enum: [Low, Medium, High, Urgent]
                                        layout:
                                            $ref: "#/components/schemas/TaskLayout"
                                        parent:
                                            $ref: "#/components/schemas/TaskParent"
                                        collections:
                                            type: array
                                            items:
                                                $ref: "#/components/schemas/TaskCollectionItem"
                                        content:
                                            $ref: "#/components/schemas/Content"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetTask"}

    /tasks/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
        patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [patches]
                            additionalProperties: false
                            properties:
                                actor:
                                    type: object
                                    required: [id]
                                    additionalProperties: false
                                    properties:
                                        id:
                                            $ref: "#/components/schemas/AccountId"
                                patches:
                                    type: array
                                    minItems: 1
                                    items:
                                        $ref: "#/components/schemas/TaskPatch"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetTask"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetTask"}

    /tasks/{id}/notes:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
        patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [notes]
                            additionalProperties: false
                            properties:
                                notes:
                                    type: object
                                    required: [version, content]
                                    additionalProperties: false
                                    properties:
                                        version:
                                            type: integer
                                        content:
                                            $ref: "#/components/schemas/Content"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetTaskNotes"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetTaskNotes"}

    /tasks/{id}/mention:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, mention]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    mention:
                                        type: object
                                        required: [target, title]
                                        additionalProperties: false
                                        properties:
                                            target:
                                                $ref: "#/components/schemas/TaskMentionTarget"
                                            title:
                                                type: string

    /tasks/{id}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /tasks/{id}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum: [start, end]
                      default: start
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessages"}
        post:
            requestBody: {$ref: "#/components/requestBodies/CreateMessage"}
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /tasks/{id}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamCompletion"}

    /tasks/{id}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPing"}

    /tasks/{id}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /tasks/{id}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /tasks/{id}/messages/{index}/experimental-approvals:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageExperimentalApprovals"}
        patch:
            requestBody:
                $ref: "#/components/requestBodies/PatchMessageExperimentalApprovals"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageExperimentalApprovals"}

    /task-collections:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [spaceId, collection]
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                collection:
                                    type: object
                                    required: [name]
                                    additionalProperties: false
                                    properties:
                                        creator:
                                            # TODO(#public-api-blocking): Use `$ref: "#/components/schemas/Actor"` instead.
                                            type: object
                                            required: [id]
                                            additionalProperties: false
                                            properties:
                                                id:
                                                    $ref: "#/components/schemas/AccountId"
                                        name:
                                            $ref: "#/components/schemas/LabelString"
                                        color:
                                            oneOf:
                                                - $ref: "#/components/schemas/TaskCollectionColor"
                                                - type: "null"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, collection]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    collection:
                                        $ref: "#/components/schemas/TaskCollection"

    /task-collections/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskCollectionId"}
        patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [patches]
                            additionalProperties: false
                            properties:
                                actor:
                                    type: object
                                    required: [id]
                                    additionalProperties: false
                                    properties:
                                        id:
                                            $ref: "#/components/schemas/AccountId"
                                patches:
                                    type: array
                                    minItems: 1
                                    items:
                                        $ref: "#/components/schemas/TaskCollectionPatch"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, collection]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    collection:
                                        $ref: "#/components/schemas/TaskCollection"
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, collection]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    collection:
                                        $ref: "#/components/schemas/TaskCollection"

    /task-collections/{id}/mention:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskCollectionId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, mention]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    mention:
                                        type: object
                                        required: [target, title]
                                        additionalProperties: false
                                        properties:
                                            target:
                                                $ref: "#/components/schemas/TaskCollectionMentionTarget"
                                            title:
                                                type: string

    /task-collections/{id}/tasks:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskCollectionId"}

        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: string
                - name: status
                  in: query
                  schema:
                      type: array
                      items:
                          type: string
                          enum: [Open, Closed]
                      maxItems: 2
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, nextCursor, tasks]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    nextCursor:
                                        type: [string, "null"]
                                    tasks:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/TaskWithoutNotes"

    /files/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/FileId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [id, contentType, contentLength, signedUrl, isUploading]
                                additionalProperties: false
                                properties:
                                    id:
                                        $ref: "#/components/schemas/FileId"
                                    contentType:
                                        type: string
                                    contentLength:
                                        type: integer
                                    signedUrl:
                                        type: string
                                    isUploading:
                                        type: boolean

    /files/{id}/content:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/FileId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "302":
                    headers:
                        location:
                            schema: {type: string}

webhooks:
    bot:
        post:
            parameters:
                - name: Alpine-Signature
                  in: header
                  required: false
                  description: >
                      Signature of the raw request body formatted as `sha256=<hex>` where `<hex>` is
                      the hex-encoded HMAC SHA-256 of the raw request body keyed with the bot's
                      webhook secret. Only sent when the bot has a webhook secret configured.
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                [spaceId, botId, botAccountId, attempt, accessToken, eventId, event]
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                botId:
                                    $ref: "#/components/schemas/BotId"
                                botAccountId:
                                    $ref: "#/components/schemas/AccountId"
                                # TODO(calebmer, #public-api): Remove `accountId` after this commit deploys.
                                # It's only here for backwards compatibility purposes.
                                accountId:
                                    $ref: "#/components/schemas/AccountId"
                                attempt:
                                    type: integer
                                    minimum: 1
                                accessToken:
                                    type: string
                                eventId:
                                    $ref: "#/components/schemas/BotWebhookEventId"
                                event:
                                    $ref: "#/components/schemas/BotWebhookEvent"
            responses:
                "200":
                    description:
                        Return a 200 status to indicate that the data was received successfully

components:
    responses:
        Error:
            content:
                application/json:
                    schema:
                        type: object
                        required: [error]
                        additionalProperties: false
                        properties:
                            error:
                                type: object
                                required: [message, retry]
                                additionalProperties: false
                                properties:
                                    message:
                                        type: string
                                        description:
                                            A human-readable message providing more details about
                                            the error.
                                    retry:
                                        type: object
                                        required: [able]
                                        additionalProperties: false
                                        properties:
                                            able:
                                                type: boolean
                                                description:
                                                    If true, it indicates that the request should
                                                    succeed if tried again.

        GetDocument:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, document]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            document:
                                $ref: "#/components/schemas/Document"

        GetTask:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, task]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            task:
                                $ref: "#/components/schemas/Task"

        GetTaskNotes:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, notes]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            notes:
                                $ref: "#/components/schemas/TaskNotes"

        GetMessage:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, message]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            message:
                                $ref: "#/components/schemas/Message"

        GetMessages:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, nextCursor, totalMessageCount, messages]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            totalMessageCount:
                                type: integer
                            # TODO(calebmer, #public-api): My dream is for the API browser to return this
                            # as a link. So you can conveniently paginate through the API in your browser
                            # by clicking `nextCursor`.
                            nextCursor:
                                type: [integer, "null"]
                                minimum: 0
                            messages:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Message"

        GetMessageExperimentalApprovals:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, approvals]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            approvals:
                                type: array
                                items:
                                    $ref: "#/components/schemas/MessageExperimentalApproval"

        # TODO(calebmer, #public-api): We don't currently have
        # `GET /chats/{id}/messages/{index}/stream/completion` endpoints but the
        # intention is to add that endpoint and for it to return the same type as the
        # `PUT` endpoint.
        GetMessageStreamCompletion:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, completion]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            completion:
                                type: object
                                required: [completedTime]
                                additionalProperties: false
                                properties:
                                    completedTime:
                                        $ref: "#/components/schemas/DateTime"

        # NOTE(ifitzsimmons, 2025-11-14): If a client tries pinging a stream after it's
        # been completed, we don't throw an error. Instead, we return the completed time
        # and the last stream ping time (without updating the last stream ping time).
        GetMessageStreamPing:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, ping]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            ping:
                                type: object
                                required: [lastUpdatedTime]
                                additionalProperties: false
                                properties:
                                    lastUpdatedTime:
                                        $ref: "#/components/schemas/DateTime"

        # TODO(calebmer, #public-api): We don't currently have
        # `GET /chats/{id}/messages/{index}/stream/parts/{partIndex}` endpoints but
        # the intention is to add that endpoint and for it to return the same type as
        # the `PUT` endpoint.
        GetMessageStreamPart:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"

        GetPost:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, post]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            post:
                                $ref: "#/components/schemas/Post"

    requestBodies:
        # TODO(ifitzsimmons, #public-api): Response bodies should be assignable to request
        # bodies for objects of the same type. So `GetMessage` should be
        # assignable to `CreateMessage`.
        CreateMessage:
            required: true
            content:
                application/json:
                    schema:
                        type: object
                        required: [content]
                        additionalProperties: false
                        properties:
                            isStream:
                                type: boolean
                            createdTimeZone:
                                $ref: "#/components/schemas/TimeZone"
                            parent:
                                $ref: "#/components/schemas/MessageContentPayloadParent"
                            content:
                                $ref: "#/components/schemas/Content"
                            files:
                                type: array
                                items:
                                    $ref: "#/components/schemas/MessageContentPayloadFile"

        # Applies one decision value to every approval in the message that is still
        # undecided. Pending approvals are resolved server side, so a caller with a
        # stale view of the approvals can't mis-target or fail on an approval that
        # was decided concurrently. A message with no pending approvals is a no-op.
        PutMessageExperimentalApprovalsPendingDecision:
            required: true
            content:
                application/json:
                    schema:
                        type: object
                        required: [decision]
                        additionalProperties: false
                        properties:
                            decision:
                                type: object
                                required: [value]
                                additionalProperties: false
                                properties:
                                    value:
                                        $ref: "#/components/schemas/MessageExperimentalApprovalDecisionValue"

        PatchMessageExperimentalApprovals:
            required: true
            content:
                application/json:
                    schema:
                        type: object
                        required: [patches]
                        additionalProperties: false
                        properties:
                            patches:
                                type: array
                                items:
                                    type: object
                                    required: [type, index, decision]
                                    additionalProperties: false
                                    properties:
                                        type:
                                            const: SetDecisionValue
                                        index:
                                            type: integer
                                            minimum: 0
                                        decision:
                                            type: object
                                            required: [value]
                                            additionalProperties: false
                                            properties:
                                                value:
                                                    $ref: "#/components/schemas/MessageExperimentalApprovalDecisionValue"

        # TODO(ifitzsimmons, #public-api): Response bodies should be assignable to request
        # bodies for objects of the same type. So `GetMessageStreamPart` should be
        # assignable to `PutMessageStreamPart`.
        PutMessageStreamPart:
            required: true
            content:
                application/json:
                    schema:
                        type: object
                        required: [payload]
                        additionalProperties: false
                        properties:
                            payload:
                                $ref: "#/components/schemas/MessageStreamPartPayload"

    schemas:
        LabelString:
            type: string
            minLength: 1
            maxLength: {{maxLabelStringLength}}

        DateTime:
            type: string
            format: date-time

        TimeZone:
            type: string

        # =========================================================================== #
        #                                     IDs                                     #
        # =========================================================================== #
        #
        # Ordered alphabetically assuming `Id` isn't appended as a suffix. e.g.
        # `TaskId` comes before `TaskCollectionId` even though `C` comes before `I` in
        # the alphabet.

        AccountId:
            type: string
            pattern: ^{{idRegExp}}$

        BotId:
            type: string
            pattern: ^{{idRegExp}}$

        BotWebhookEventId:
            type: string
            pattern: ^{{idRegExp}}$

        ChannelId:
            type: string
            pattern: ^{{idRegExp}}$

        ChatId:
            type: string
            pattern: ^{{idRegExp}}$

        DocumentId:
            type: string
            pattern: ^{{idRegExp}}$

        DocumentThreadId:
            type: string
            pattern: ^{{idRegExp}}$

        FileId:
            type: string
            pattern: ^{{idRegExp}}$

        PostId:
            type: string
            pattern: ^{{idRegExp}}$

        SiteId:
            type: string
            pattern: ^{{idRegExp}}$

        SpaceId:
            type: string
            pattern: ^{{idRegExp}}$

        TaskId:
            type: string
            pattern: ^{{idRegExp}}$

        TaskCollectionId:
            type: string
            pattern: ^{{idRegExp}}$

        ContentKey:
            type: string
            minLength: 1

        ContentPosition:
            oneOf:
                - $ref: "#/components/schemas/ContentInlinePosition"
                - $ref: "#/components/schemas/ContentBeforePosition"
                - $ref: "#/components/schemas/ContentAfterPosition"
            discriminator:
                propertyName: type
                mapping:
                    Inline: "#/components/schemas/ContentInlinePosition"
                    Before: "#/components/schemas/ContentBeforePosition"
                    After: "#/components/schemas/ContentAfterPosition"

        ContentInlinePosition:
            type: object
            required: [type, key, index]
            additionalProperties: false
            properties:
                type:
                    const: Inline
                key:
                    $ref: "#/components/schemas/ContentKey"
                index:
                    type: integer
                    minimum: 0

        ContentBeforePosition:
            type: object
            required: [type, key]
            additionalProperties: false
            properties:
                type:
                    const: Before
                key:
                    $ref: "#/components/schemas/ContentKey"

        ContentAfterPosition:
            type: object
            required: [type, key]
            additionalProperties: false
            properties:
                type:
                    const: After
                key:
                    $ref: "#/components/schemas/ContentKey"

        ContentRange:
            type: object
            required: [start, end]
            additionalProperties: false
            properties:
                start:
                    $ref: "#/components/schemas/ContentPosition"
                end:
                    $ref: "#/components/schemas/ContentPosition"

        TaskCollectionColor:
            type: string
            enum: [Red, Orange, Yellow, Green, Cyan, Blue, Indigo, Purple, Pink]

        # =========================================================================== #
        #                               Mention targets                               #
        # =========================================================================== #

        # TODO: Rename *MentionTarget to *Target. These are shared between
        # mentions and previews, so "Mention" in the name is misleading.
        # Skip Accounts (no account previews)

        AccountMentionTarget:
            type: object
            required: [type, id]
            additionalProperties: false
            properties:
                type:
                    const: Account
                id:
                    $ref: "#/components/schemas/AccountId"

        ChannelMentionTarget:
            type: object
            required: [type, id]
            additionalProperties: false
            properties:
                type:
                    const: Channel
                id:
                    $ref: "#/components/schemas/ChannelId"

        ChatMentionTarget:
            type: object
            required: [type, id]
            additionalProperties: false
            properties:
                type:
                    const: Chat
                id:
                    $ref: "#/components/schemas/ChatId"

        DocumentMentionTarget:
            type: object
            required: [type, id]
            additionalProperties: false
            properties:
                type:
                    const: Document
                id:
                    $ref: "#/components/schemas/DocumentId"

        PostMentionTarget:
            type: object
            required: [type, id]
            additionalProperties: false
            properties:
                type:
                    const: Post
                id:
                    $ref: "#/components/schemas/PostId"

        # TODO(#sites-api): We may want to add a mention response type for sites
        # that includes the first entity id in the site. I'm still not sure how
        # we will communicate site data via the API, so I'm only adding what's
        # necessary for now. The mention target is necessary because the site file
        # entity mention will exist in Alpine content, and API requests to fetch that
        # content should still succeed.
        # We also may NOT want to add a mention target response with the first entity
        # id. Rerouting to the first entity in the site makes sense in the app since
        # we render the site chrome around the entity. For the API, that "reroute"
        # may be pretty confusing/jarring for clients.
        SiteMentionTarget:
            type: object
            required: [type, id]
            additionalProperties: false
            properties:
                type:
                    const: Site
                id:
                    $ref: "#/components/schemas/SiteId"

        TaskMentionTarget:
            type: object
            required: [type, id]
            additionalProperties: false
            properties:
                type:
                    const: Task
                id:
                    $ref: "#/components/schemas/TaskId"

        TaskMentionTarget_Response:
            type: object
            required: [type, id, status]
            additionalProperties: false
            properties:
                type:
                    const: Task
                id:
                    $ref: "#/components/schemas/TaskId"
                status:
                    $ref: "#/components/schemas/TaskStatus"

        TaskCollectionMentionTarget:
            type: object
            required: [type, id]
            additionalProperties: false
            properties:
                type:
                    const: TaskCollection
                id:
                    $ref: "#/components/schemas/TaskCollectionId"

        MentionTarget:
            oneOf:
                - $ref: "#/components/schemas/AccountMentionTarget"
                - $ref: "#/components/schemas/ChannelMentionTarget"
                - $ref: "#/components/schemas/ChatMentionTarget"
                - $ref: "#/components/schemas/DocumentMentionTarget"
                - $ref: "#/components/schemas/PostMentionTarget"
                - $ref: "#/components/schemas/SiteMentionTarget"
                - $ref: "#/components/schemas/TaskMentionTarget"
                - $ref: "#/components/schemas/TaskCollectionMentionTarget"
            discriminator:
                propertyName: type
                mapping:
                    Account: "#/components/schemas/AccountMentionTarget"
                    Channel: "#/components/schemas/ChannelMentionTarget"
                    Chat: "#/components/schemas/ChatMentionTarget"
                    Document: "#/components/schemas/DocumentMentionTarget"
                    Post: "#/components/schemas/PostMentionTarget"
                    Site: "#/components/schemas/SiteMentionTarget"
                    Task: "#/components/schemas/TaskMentionTarget"
                    TaskCollection: "#/components/schemas/TaskCollectionMentionTarget"

        PreviewTarget:
            oneOf:
                - $ref: "#/components/schemas/ChannelMentionTarget"
                - $ref: "#/components/schemas/ChatMentionTarget"
                - $ref: "#/components/schemas/DocumentMentionTarget"
                - $ref: "#/components/schemas/PostMentionTarget"
                - $ref: "#/components/schemas/SiteMentionTarget"
                - $ref: "#/components/schemas/TaskMentionTarget"
                - $ref: "#/components/schemas/TaskCollectionMentionTarget"
            discriminator:
                propertyName: type
                mapping:
                    Channel: "#/components/schemas/ChannelMentionTarget"
                    Chat: "#/components/schemas/ChatMentionTarget"
                    Document: "#/components/schemas/DocumentMentionTarget"
                    Post: "#/components/schemas/PostMentionTarget"
                    Site: "#/components/schemas/SiteMentionTarget"
                    Task: "#/components/schemas/TaskMentionTarget"
                    TaskCollection: "#/components/schemas/TaskCollectionMentionTarget"

        # =========================================================================== #
        #                                   Content                                   #
        # =========================================================================== #

        Content:
            type: object
            additionalProperties: false
            required: [elements]
            properties:
                elements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentBlockElement"

        ContentBlockElement:
            # TODO(calebmer, #public-api): We need to be able to add items without breaking
            # backwards compatibility. When publishing the API, let's figure out what our
            # schema evolution policy is.
            oneOf:
                - $ref: "#/components/schemas/ContentParagraphBlockElement"
                - $ref: "#/components/schemas/ContentUnorderedListBlockElement"
                - $ref: "#/components/schemas/ContentOrderedListBlockElement"
                - $ref: "#/components/schemas/ContentCheckListBlockElement"
                - $ref: "#/components/schemas/ContentQuoteBlockElement"
                - $ref: "#/components/schemas/ContentHeadingBlockElement"
                - $ref: "#/components/schemas/ContentDividerBlockElement"
                - $ref: "#/components/schemas/ContentTableBlockElement"
                - $ref: "#/components/schemas/ContentCodeBlockElement"
                - $ref: "#/components/schemas/ContentFileBlockElement"
                - $ref: "#/components/schemas/ContentFileGalleryBlockElement"
                - $ref: "#/components/schemas/ContentFileFloatBlockElement"
                - $ref: "#/components/schemas/ContentPreviewBlockElement"
            discriminator:
                propertyName: type
                mapping:
                    Paragraph: "#/components/schemas/ContentParagraphBlockElement"
                    UnorderedList: "#/components/schemas/ContentUnorderedListBlockElement"
                    OrderedList: "#/components/schemas/ContentOrderedListBlockElement"
                    CheckList: "#/components/schemas/ContentCheckListBlockElement"
                    Quote: "#/components/schemas/ContentQuoteBlockElement"
                    Heading: "#/components/schemas/ContentHeadingBlockElement"
                    Divider: "#/components/schemas/ContentDividerBlockElement"
                    Table: "#/components/schemas/ContentTableBlockElement"
                    Code: "#/components/schemas/ContentCodeBlockElement"
                    File: "#/components/schemas/ContentFileBlockElement"
                    FileGallery: "#/components/schemas/ContentFileGalleryBlockElement"
                    FileFloat: "#/components/schemas/ContentFileFloatBlockElement"
                    Preview: "#/components/schemas/ContentPreviewBlockElement"

        ContentParagraphBlockElement:
            type: object
            required: [type, elements]
            additionalProperties: false
            properties:
                type:
                    const: Paragraph
                key:
                    $ref: "#/components/schemas/ContentKey"
[...]
