# This is the source OpenAPI specification for the Alpine REST API. We run a
# couple transformations before we get to the OpenAPI specification we'll share
# with users.
#
# - All comments are stripped from the final specification.
#
# - There are some template variables you can use that'll be replaced (for
#   example `idRegExp` in Mustache curly brackets).
#
# - Schema names that end with an underscore (e.g. `_Response`) are
#   "specializations" of the base type (e.g.
#   `ContentMentionInlineElement_Response` is a specialization of
#   `ContentMentionInlineElement`).
#
#   Specializations create entirely new type hierarchies that use the
#   specialized type instead of the base type. For example, we generate
#   `ContentInlineElement_Response` that references
#   `ContentMentionInlineElement_Response` instead of
#   `ContentMentionInlineElement`.
#
#   We also update any schema references used in request bodies or responses
#   to use the `_Request` or `_Response` specialization respectively if such a
#   specialization is available.

openapi: 3.0.0
info:
    title: Alpine API
    description: The Alpine REST API.
    version: 1.0.0

servers:
    - url: https://api.alpine.inc

paths:
    /specification.yaml:
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/yaml: {}

    # TODO(calebmer, #public-api): Document that if you have a bot and the bot is
    # trying to read an account that was a former member of the space you'll get
    # the account's old data at removal time instead of the latest data.
    /accounts/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/AccountId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [account]
                                additionalProperties: false
                                properties:
                                    account:
                                        $ref: "#/components/schemas/AccountWithoutSpace"

    /accounts/{id}/mention:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/AccountId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [mention]
                                additionalProperties: false
                                properties:
                                    mention:
                                        type: object
                                        required: [target]
                                        additionalProperties: false
                                        properties:
                                            target:
                                                $ref: "#/components/schemas/AccountTarget"

    /spaces/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/SpaceId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [space]
                                additionalProperties: false
                                properties:
                                    space:
                                        $ref: "#/components/schemas/Space"

    /spaces/{id}/accounts/{accountId}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/SpaceId"}
            - name: accountId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/AccountId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [account]
                                additionalProperties: false
                                properties:
                                    account:
                                        $ref: "#/components/schemas/Account"

    /spaces/{id}/bots/{botId}/settings:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/SpaceId"}
            - name: botId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/BotId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [settings]
                                additionalProperties: false
                                properties:
                                    settings:
                                        type: object
                                        required: [values]
                                        additionalProperties: false
                                        properties:
                                            values:
                                                type: object
                                                additionalProperties: true

    /spaces/{id}/accounts/{accountId}/bots/{botId}/settings:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/SpaceId"}
            - name: accountId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/AccountId"}
            - name: botId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/BotId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [settings]
                                additionalProperties: false
                                properties:
                                    settings:
                                        type: object
                                        required: [values, space]
                                        additionalProperties: false
                                        properties:
                                            values:
                                                type: object
                                                additionalProperties: true
                                            space:
                                                type: object
                                                required: [values]
                                                additionalProperties: false
                                                properties:
                                                    values:
                                                        type: object
                                                        additionalProperties: true

    /chats:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [spaceId, chat]
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                chat:
                                    $ref: "#/components/schemas/CreateChatRequestBodyChat"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetChat"}

    /chats/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetChat"}

    /chats/{id}/mention:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, mention]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    mention:
                                        type: object
                                        required: [target]
                                        additionalProperties: false
                                        properties:
                                            target:
                                                $ref: "#/components/schemas/ChatTarget"

    # TODO(calebmer, #public-api): Add a `-markdown` variant endpoint for all
    # endpoints that deal with content. This variant should return a string for
    # content instead of an AST. Also add a `-markdown` variant for any `/messages`
    # endpoints (both `GET` and `POST`).
    /chats/{id}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /chats/{id}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum: [Start, End]
                      default: Start
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessages"}
        post:
            requestBody: {$ref: "#/components/requestBodies/CreateMessage"}
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /chats/{id}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamCompletion"}

    /chats/{id}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPing"}

    /chats/{id}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /chats/{id}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /documents:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [spaceId, document]
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                document:
                                    type: object
                                    required: [title, content]
                                    additionalProperties: false
                                    properties:
                                        title:
                                            type: string
                                        creator:
                                            type: object
                                            required: [id]
                                            additionalProperties: false
                                            properties:
                                                id:
                                                    $ref: "#/components/schemas/AccountId"
                                        content:
                                            $ref: "#/components/schemas/Content"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetDocument"}

    /documents/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetDocument"}
        patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [document]
                            additionalProperties: false
                            properties:
                                document:
                                    type: object
                                    required: [version, title, content]
                                    additionalProperties: false
                                    properties:
                                        version:
                                            type: integer
                                        title:
                                            type: string
                                        content:
                                            $ref: "#/components/schemas/Content"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetDocument"}

    /documents/{id}/mention:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, mention]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    mention:
                                        type: object
                                        required: [target]
                                        additionalProperties: false
                                        properties:
                                            target:
                                                $ref: "#/components/schemas/DocumentTarget"

    /documents/{id}/threads/{threadId}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, thread]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    thread:
                                        $ref: "#/components/schemas/DocumentThread"

    /documents/{id}/threads/{threadId}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /documents/{id}/threads/{threadId}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum: [Start, End]
                      default: Start
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessages"}
        post:
            requestBody: {$ref: "#/components/requestBodies/CreateMessage"}
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /documents/{id}/threads/{threadId}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamCompletion"}

    /documents/{id}/threads/{threadId}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPing"}

    /documents/{id}/threads/{threadId}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /documents/{id}/threads/{threadId}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /channels/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChannelId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, channel]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    channel:
                                        $ref: "#/components/schemas/Channel"

    /channels/{id}/mention:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChannelId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, mention]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    mention:
                                        type: object
                                        required: [target]
                                        additionalProperties: false
                                        properties:
                                            target:
                                                $ref: "#/components/schemas/ChannelTarget"

    /posts:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            # TODO(ifitzsimmons, #ai): Eventually, we'll allow posts to be created
                            # without a channel. That's the reason this endpoint isn't formatted
                            # like `/channels/{id}/posts`. However, since we can't support post
                            # creation outside of channels right now, users are required to provide
                            # a channelId in the request. Going from required to optional will be
                            # a backwards compatible change when the time comes.
                            required: [channelId, content]
                            additionalProperties: false
                            # TODO(ifitzsimmons, #public-api-blocking): Response bodies should be
                            # assignable to request bodies for objects of the same type. So `GetPost`
                            # should be assignable to this request body.
                            properties:
                                channelId:
                                    $ref: "#/components/schemas/ChannelId"
                                createdTimeZone:
                                    $ref: "#/components/schemas/TimeZone"
                                content:
                                    $ref: "#/components/schemas/Content"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetPost"}

    /posts/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetPost"}

    /posts/{id}/mention:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, mention]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    mention:
                                        type: object
                                        required: [target]
                                        additionalProperties: false
                                        properties:
                                            target:
                                                $ref: "#/components/schemas/PostTarget"

    /posts/{id}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /posts/{id}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum: [Start, End]
                      default: Start
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessages"}
        post:
            requestBody: {$ref: "#/components/requestBodies/CreateMessage"}
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /posts/{id}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamCompletion"}

    /posts/{id}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPing"}

    /posts/{id}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /posts/{id}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    # TODO(ifitzsimmons, #ai): Change this interface so that it returns a parsed string
    # representation of the search filters and an indication of whether a particular
    # result matched the search filter or not.
    /spaces/{id}/search:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/SpaceId"}
        get:
            parameters:
                - name: query
                  in: query
                  required: true
                  schema:
                      type: string
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [results]
                                additionalProperties: false
                                properties:
                                    results:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/SearchResult"

    /tasks/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, task]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    task:
                                        $ref: "#/components/schemas/Task"

    /tasks/{id}/mention:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, mention]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    mention:
                                        type: object
                                        required: [target]
                                        additionalProperties: false
                                        properties:
                                            target:
                                                $ref: "#/components/schemas/TaskTarget"

    /tasks/{id}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /tasks/{id}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum: [Start, End]
                      default: Start
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessages"}
        post:
            requestBody: {$ref: "#/components/requestBodies/CreateMessage"}
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /tasks/{id}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamCompletion"}

    /tasks/{id}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPing"}

    /tasks/{id}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /tasks/{id}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /task-collections/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskCollectionId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, taskCollection]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    taskCollection:
                                        $ref: "#/components/schemas/TaskCollection"

    /task-collections/{id}/mention:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskCollectionId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, mention]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    mention:
                                        type: object
                                        required: [target]
                                        additionalProperties: false
                                        properties:
                                            target:
                                                $ref: "#/components/schemas/TaskCollectionTarget"

    /task-collections/{id}/tasks:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskCollectionId"}

        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: string
                - name: status
                  in: query
                  schema:
                      type: array
                      items:
                          type: string
                          enum: [Open, Closed]
                      maxItems: 2
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, tasks, nextCursor]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    nextCursor:
                                        type: [string, "null"]
                                    tasks:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/TaskWithoutContent"

webhooks:
    bot:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                [spaceId, botId, botAccountId, attempt, accessToken, eventId, event]
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                botId:
                                    $ref: "#/components/schemas/BotId"
                                botAccountId:
                                    $ref: "#/components/schemas/AccountId"
                                # TODO(calebmer, #public-api-blocking): Remove `accountId` after this
                                # commit deploys. It's only here for backwards compatibility purposes.
                                accountId:
                                    $ref: "#/components/schemas/AccountId"
                                attempt:
                                    type: integer
                                    minimum: 1
                                accessToken:
                                    type: string
                                eventId:
                                    $ref: "#/components/schemas/BotWebhookEventId"
                                event:
                                    $ref: "#/components/schemas/BotWebhookEvent"
            responses:
                "200":
                    description:
                        Return a 200 status to indicate that the data was received successfully

components:
    responses:
        Error:
            content:
                application/json:
                    schema:
                        type: object
                        required: [error]
                        additionalProperties: false
                        properties:
                            error:
                                type: object
                                required: [message, retry]
                                additionalProperties: false
                                properties:
                                    message:
                                        type: string
                                        description:
                                            A human-readable message providing more details about
                                            the error.
                                    retry:
                                        type: object
                                        required: [able]
                                        additionalProperties: false
                                        properties:
                                            able:
                                                type: boolean
                                                description:
                                                    If true, it indicates that the request should
                                                    succeed if tried again.

        GetChat:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, chat]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            chat:
                                $ref: "#/components/schemas/Chat"

        GetDocument:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, document]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            document:
                                $ref: "#/components/schemas/Document"

        GetMessage:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, message]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            message:
                                $ref: "#/components/schemas/Message"

        GetMessages:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, nextCursor, totalMessageCount, messages]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            totalMessageCount:
                                type: integer
                            nextCursor:
                                type: [integer, "null"]
                                minimum: 0
                            messages:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Message"

        # TODO(calebmer, #public-api): We don't currently have
        # `GET /chats/{id}/messages/{index}/stream/completion` endpoints but the
        # intention is to add that endpoint and for it to return the same type as the
        # `PUT` endpoint.
        GetMessageStreamCompletion:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, completion]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            completion:
                                type: object
                                required: [completedTime]
                                additionalProperties: false
                                properties:
                                    completedTime:
                                        $ref: "#/components/schemas/DateTime"

        # NOTE(ifitzsimmons, 2025-11-14): If a client tries pinging a stream after it's
        # been completed, we don't throw an error. Instead, we return the completed time
        # and the last stream ping time (without updating the last stream ping time).
        GetMessageStreamPing:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, ping]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            ping:
                                type: object
                                required: [lastUpdatedTime]
                                additionalProperties: false
                                properties:
                                    lastUpdatedTime:
                                        $ref: "#/components/schemas/DateTime"

        # TODO(calebmer, #public-api): We don't currently have
        # `GET /chats/{id}/messages/{index}/stream/parts/{partIndex}` endpoints but
        # the intention is to add that endpoint and for it to return the same type as
        # the `PUT` endpoint.
        GetMessageStreamPart:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"

        GetPost:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, post]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            post:
                                $ref: "#/components/schemas/Post"

    requestBodies:
        # TODO(ifitzsimmons, #public-api-blocking): Response bodies should be
        # assignable to request bodies for objects of the same type. So `GetMessage`
        # should be assignable to `CreateMessage`.
        #
        # This means we need to nest these properties in a `message` object right?
        CreateMessage:
            required: true
            content:
                application/json:
                    schema:
                        type: object
                        required: [content]
                        additionalProperties: false
                        properties:
                            isStream:
                                type: boolean
                            createdTimeZone:
                                $ref: "#/components/schemas/TimeZone"
                            parent:
                                $ref: "#/components/schemas/MessageContentPayloadParent"
                            content:
                                $ref: "#/components/schemas/Content"

        # TODO(ifitzsimmons, #public-api-blocking): Response bodies should be
        # assignable to request bodies for objects of the same type. So
        # `GetMessageStreamPart` should be assignable to `PutMessageStreamPart`.
        PutMessageStreamPart:
            required: true
            content:
                application/json:
                    schema:
                        type: object
                        required: [payload]
                        additionalProperties: false
                        properties:
                            payload:
                                $ref: "#/components/schemas/MessageStreamPartPayload"

    schemas:
        LabelString:
            type: string
            minLength: 1
            maxLength: {{maxLabelStringLength}}

        DateTime:
            type: string
            format: date-time

        TimeZone:
            type: string

        FileContentType:
            type: string
            enum: {{fileContentTypes}}

        # =========================================================================== #
        #                                     IDs                                     #
        # =========================================================================== #
        #
        # Ordered alphabetically assuming `Id` isn't appended as a suffix. e.g.
        # `TaskId` comes before `TaskCollectionId` even though `C` comes before `I` in
        # the alphabet.

        AccountId:
            type: string
            pattern: ^{{idRegExp}}$

        BotId:
            type: string
            pattern: ^{{idRegExp}}$

        BotWebhookEventId:
            type: string
            pattern: ^{{idRegExp}}$

        ChannelId:
            type: string
            pattern: ^{{idRegExp}}$

        ChatId:
            type: string
            pattern: ^{{idRegExp}}$

        DocumentId:
            type: string
            pattern: ^{{idRegExp}}$

        DocumentThreadId:
            type: string
            pattern: ^{{idRegExp}}$

        FileId:
            type: string
            pattern: ^{{idRegExp}}$

        PostId:
            type: string
            pattern: ^{{idRegExp}}$

        SpaceId:
            type: string
            pattern: ^{{idRegExp}}$

        TaskId:
            type: string
            pattern: ^{{idRegExp}}$

        TaskCollectionId:
            type: string
            pattern: ^{{idRegExp}}$

        # =========================================================================== #
        #                                   Targets                                   #
        # =========================================================================== #

        AccountTarget:
            type: object
            required: [type, id]
            additionalProperties: false
            properties:
                type:
                    const: Account
                id:
                    $ref: "#/components/schemas/AccountId"
                # TODO(calebmer, #public-api): Document that this will be ignored if you try to
                # create content with a `title`. This property exists solely as a convenience
                # for code that wants to operate on both `ContentMentionInlineElement` and
                # `ContentMentionInlineElement_Response` (which will always have a title).
                title:
                    type: string
                shortName:
                    $ref: "#/components/schemas/LabelString"
                botId:
                    $ref: "#/components/schemas/BotId"

        AccountTarget_Response:
            type: object
            required: [type, id, title, shortName]
            additionalProperties: false
            properties:
                type:
                    const: Account
                id:
                    $ref: "#/components/schemas/AccountId"
                # NOCOMMIT: Make sure `title` is the long name in mentions
                title:
                    type: string
                # NOCOMMIT: Make sure we return `botId` when returning an account target! Mentions + search results.
                shortName:
                    $ref: "#/components/schemas/LabelString"
                botId:
                    $ref: "#/components/schemas/BotId"

        ChannelTarget:
            type: object
            required: [type, id]
            additionalProperties: false
            properties:
                type:
                    const: Channel
                id:
                    $ref: "#/components/schemas/ChannelId"
                # TODO(calebmer, #public-api): Document that this will be ignored if you try to
                # create content with a `title`. This property exists solely as a convenience
                # for code that wants to operate on both `ContentMentionInlineElement` and
                # `ContentMentionInlineElement_Response` (which will always have a title).
                title:
                    type: string

        ChannelTarget_Response:
            type: object
            required: [type, id, title]
            additionalProperties: false
            properties:
                type:
                    const: Channel
                id:
                    $ref: "#/components/schemas/ChannelId"
                title:
                    type: string

        ChatTarget:
            type: object
            required: [type, id]
            additionalProperties: false
            properties:
                type:
                    const: Chat
                id:
                    $ref: "#/components/schemas/ChatId"
                # TODO(calebmer, #public-api): Document that this will be ignored if you try to
                # create content with a `title`. This property exists solely as a convenience
                # for code that wants to operate on both `ContentMentionInlineElement` and
                # `ContentMentionInlineElement_Response` (which will always have a title).
                title:
                    type: string

        ChatTarget_Response:
            type: object
            required: [type, id, title]
            additionalProperties: false
            properties:
                type:
                    const: Chat
                id:
                    $ref: "#/components/schemas/ChatId"
                title:
                    type: string

        DocumentTarget:
            type: object
            required: [type, id]
            additionalProperties: false
            properties:
                type:
                    const: Document
                id:
                    $ref: "#/components/schemas/DocumentId"
                # TODO(calebmer, #public-api): Document that this will be ignored if you try to
                # create content with a `title`. This property exists solely as a convenience
                # for code that wants to operate on both `ContentMentionInlineElement` and
                # `ContentMentionInlineElement_Response` (which will always have a title).
                title:
                    type: string

        DocumentTarget_Response:
            type: object
            required: [type, id, title]
            additionalProperties: false
            properties:
                type:
                    const: Document
                id:
                    $ref: "#/components/schemas/DocumentId"
                title:
                    type: string

        PostTarget:
            type: object
            required: [type, id]
            additionalProperties: false
            properties:
                type:
                    const: Post
                id:
                    $ref: "#/components/schemas/PostId"
                # TODO(calebmer, #public-api): Document that this will be ignored if you try to
                # create content with a `title`. This property exists solely as a convenience
                # for code that wants to operate on both `ContentMentionInlineElement` and
                # `ContentMentionInlineElement_Response` (which will always have a title).
                title:
                    type: string

        PostTarget_Response:
            type: object
            required: [type, id, title]
            additionalProperties: false
            properties:
                type:
                    const: Post
                id:
                    $ref: "#/components/schemas/PostId"
                title:
                    type: string

        TaskTarget:
            type: object
            required: [type, id]
            additionalProperties: false
            properties:
                type:
                    const: Task
                id:
                    $ref: "#/components/schemas/TaskId"
                # TODO(calebmer, #public-api): Document that this will be ignored if you try to
                # create content with a `title`. This property exists solely as a convenience
                # for code that wants to operate on both `ContentMentionInlineElement` and
                # `ContentMentionInlineElement_Response` (which will always have a title).
                title:
                    type: string
                status:
                    $ref: "#/components/schemas/TaskStatus"

        TaskTarget_Response:
            type: object
            required: [type, id, title, status]
            additionalProperties: false
            properties:
                type:
                    const: Task
                id:
                    $ref: "#/components/schemas/TaskId"
                title:
                    type: string
                status:
                    $ref: "#/components/schemas/TaskStatus"

        TaskCollectionTarget:
            type: object
            required: [type, id]
            additionalProperties: false
            properties:
                type:
                    const: TaskCollection
                id:
                    $ref: "#/components/schemas/TaskCollectionId"
                # TODO(calebmer, #public-api): Document that this will be ignored if you try to
                # create content with a `title`. This property exists solely as a convenience
                # for code that wants to operate on both `ContentMentionInlineElement` and
                # `ContentMentionInlineElement_Response` (which will always have a title).
                title:
                    type: string

        TaskCollectionTarget_Response:
            type: object
            required: [type, id, title]
            additionalProperties: false
            properties:
                type:
                    const: TaskCollection
                id:
                    $ref: "#/components/schemas/TaskCollectionId"
                title:
                    type: string

        MentionTarget:
            oneOf:
                - $ref: "#/components/schemas/AccountTarget"
                - $ref: "#/components/schemas/ChannelTarget"
                - $ref: "#/components/schemas/ChatTarget"
                - $ref: "#/components/schemas/DocumentTarget"
                - $ref: "#/components/schemas/PostTarget"
                - $ref: "#/components/schemas/TaskTarget"
                - $ref: "#/components/schemas/TaskCollectionTarget"
            discriminator:
                propertyName: type
                mapping:
                    Account: "#/components/schemas/AccountTarget"
                    Channel: "#/components/schemas/ChannelTarget"
                    Chat: "#/components/schemas/ChatTarget"
                    Document: "#/components/schemas/DocumentTarget"
                    Post: "#/components/schemas/PostTarget"
                    Task: "#/components/schemas/TaskTarget"
                    TaskCollection: "#/components/schemas/TaskCollectionTarget"

        PreviewTarget:
            oneOf:
                - $ref: "#/components/schemas/ChannelTarget"
                - $ref: "#/components/schemas/ChatTarget"
                - $ref: "#/components/schemas/DocumentTarget"
                - $ref: "#/components/schemas/PostTarget"
                - $ref: "#/components/schemas/TaskTarget"
                - $ref: "#/components/schemas/TaskCollectionTarget"
            discriminator:
                propertyName: type
                mapping:
                    Channel: "#/components/schemas/ChannelTarget"
                    Chat: "#/components/schemas/ChatTarget"
                    Document: "#/components/schemas/DocumentTarget"
                    Post: "#/components/schemas/PostTarget"
                    Task: "#/components/schemas/TaskTarget"
                    TaskCollection: "#/components/schemas/TaskCollectionTarget"

        # =========================================================================== #
        #                                   Content                                   #
        # =========================================================================== #

        Content:
            type: object
            additionalProperties: false
            required: [elements]
            properties:
                elements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentBlockElement"

        ContentBlockElement:
            # TODO(calebmer, #public-api): We need to be able to add items without breaking
            # backwards compatibility. When publishing the API, let's figure out what our
            # schema evolution policy is.
            oneOf:
                - $ref: "#/components/schemas/ContentParagraphBlockElement"
                - $ref: "#/components/schemas/ContentUnorderedListBlockElement"
                - $ref: "#/components/schemas/ContentOrderedListBlockElement"
                - $ref: "#/components/schemas/ContentCheckListBlockElement"
                - $ref: "#/components/schemas/ContentQuoteBlockElement"
                - $ref: "#/components/schemas/ContentHeadingBlockElement"
                - $ref: "#/components/schemas/ContentDividerBlockElement"
                - $ref: "#/components/schemas/ContentTableBlockElement"
                - $ref: "#/components/schemas/ContentCodeBlockElement"
                - $ref: "#/components/schemas/ContentFileBlockElement"
                - $ref: "#/components/schemas/ContentFileGalleryBlockElement"
                - $ref: "#/components/schemas/ContentFileFloatBlockElement"
                - $ref: "#/components/schemas/ContentPreviewBlockElement"
            discriminator:
                propertyName: type
                mapping:
                    Paragraph: "#/components/schemas/ContentParagraphBlockElement"
                    UnorderedList: "#/components/schemas/ContentUnorderedListBlockElement"
                    OrderedList: "#/components/schemas/ContentOrderedListBlockElement"
                    CheckList: "#/components/schemas/ContentCheckListBlockElement"
                    Quote: "#/components/schemas/ContentQuoteBlockElement"
                    Heading: "#/components/schemas/ContentHeadingBlockElement"
                    Divider: "#/components/schemas/ContentDividerBlockElement"
                    Table: "#/components/schemas/ContentTableBlockElement"
                    Code: "#/components/schemas/ContentCodeBlockElement"
                    File: "#/components/schemas/ContentFileBlockElement"
                    FileGallery: "#/components/schemas/ContentFileGalleryBlockElement"
                    FileFloat: "#/components/schemas/ContentFileFloatBlockElement"
                    Preview: "#/components/schemas/ContentPreviewBlockElement"

        ContentParagraphBlockElement:
            type: object
            required: [type, elements]
            additionalProperties: false
            properties:
                type:
                    const: Paragraph
                elements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentInlineElement"

        ContentListBlockElement:
            oneOf:
                - $ref: "#/components/schemas/ContentUnorderedListBlockElement"
                - $ref: "#/components/schemas/ContentOrderedListBlockElement"
                - $ref: "#/components/schemas/ContentCheckListBlockElement"
            discriminator:
                propertyName: type
                mapping:
                    UnorderedList: "#/components/schemas/ContentUnorderedListBlockElement"
                    OrderedList: "#/components/schemas/ContentOrderedListBlockElement"
                    CheckList: "#/components/schemas/ContentCheckListBlockElement"

        ContentUnorderedListBlockElement:
            type: object
            required: [type, items]
            additionalProperties: false
            properties:
                type:
                    const: UnorderedList
                items:
                    type: array
                    minItems: 1
                    items:
                        $ref: "#/components/schemas/ContentListBlockElementItem"

        ContentOrderedListBlockElement:
            type: object
            required: [type, items]
            additionalProperties: false
            properties:
                type:
                    const: OrderedList
                orderStart:
                    type: integer
                    minimum: 1
                items:
                    type: array
                    minItems: 1
                    items:
                        $ref: "#/components/schemas/ContentListBlockElementItem"

        ContentCheckListBlockElement:
            type: object
            required: [type, items]
            additionalProperties: false
            properties:
                type:
                    const: CheckList
                items:
                    type: array
                    minItems: 1
                    items:
                        $ref: "#/components/schemas/ContentCheckListBlockElementItem"

        ContentListBlockElementItem:
            type: object
            required: [elements]
            additionalProperties: false
            properties:
                # TODO(calebmer, #public-api): If `elements` is an empty array then this is a
                # "phantom" list item. Phantom list items exist purely to increase the
                # indentation level of their children and aren't rendered as a list item
                # themselves. There's no bullet! An `elements` array with an empty paragraph
                # does render an item.
                #
                # We need to clearly document this behavior in our API documentation.
                elements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentParagraphBlockElement"
                nestedListElements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentListBlockElement"

        ContentCheckListBlockElementItem:
            type: object
            required: [checked, elements]
            additionalProperties: false
            properties:
                checked:
                    type: boolean
                elements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentParagraphBlockElement"
                nestedListElements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentListBlockElement"

        ContentQuoteBlockElement:
            type: object
            required: [type, elements]
            additionalProperties: false
            properties:
                type:
                    const: Quote
                elements:
                    type: array
                    minItems: 1
                    items:
                        $ref: "#/components/schemas/ContentQuoteBlockElementBlockElement"

        ContentQuoteBlockElementBlockElement:
            oneOf:
                - $ref: "#/components/schemas/ContentParagraphBlockElement"
                - $ref: "#/components/schemas/ContentUnorderedListBlockElement"
                - $ref: "#/components/schemas/ContentOrderedListBlockElement"
                - $ref: "#/components/schemas/ContentCheckListBlockElement"
            discriminator:
                propertyName: type
                mapping:
                    Paragraph: "#/components/schemas/ContentParagraphBlockElement"
                    UnorderedList: "#/components/schemas/ContentUnorderedListBlockElement"
                    OrderedList: "#/components/schemas/ContentOrderedListBlockElement"
                    CheckList: "#/components/schemas/ContentCheckListBlockElement"

        ContentHeadingBlockElement:
            type: object
            required: [type, level, elements]
            additionalProperties: false
            properties:
                type:
                    const: Heading
                level:
                    type: integer
                    minimum: 1
                    maximum: 3
                elements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentInlineElement"

        ContentDividerBlockElement:
            type: object
            required: [type]
            additionalProperties: false
            properties:
                type:
                    const: Divider

        ContentTableBlockElement:
            type: object
            required: [type, width, columns, rows]
            additionalProperties: false
            properties:
                type:
                    const: Table
                width:
                    type: number
                hasHeaderRow:
                    type: boolean
                hasHeaderColumn:
                    type: boolean
                columns:
                    type: array
                    minItems: 2
                    items:
                        type: object
                        required: [width]
                        additionalProperties: false
                        properties:
                            width:
                                type: number
                rows:
                    type: array
                    minItems: 1
                    items:
                        $ref: "#/components/schemas/ContentTableBlockElementRow"

        ContentTableBlockElementRow:
            type: object
            required: [cells]
            additionalProperties: false
            properties:
                cells:
                    type: array
                    minItems: 2
                    items:
                        $ref: "#/components/schemas/ContentTableBlockElementCell"

        ContentTableBlockElementCell:
            type: object
            required: [elements]
            additionalProperties: false
            properties:
                elements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentTableBlockElementCellBlockElement"

        ContentTableBlockElementCellBlockElement:
            oneOf:
                - $ref: "#/components/schemas/ContentParagraphBlockElement"
                - $ref: "#/components/schemas/ContentUnorderedListBlockElement"
                - $ref: "#/components/schemas/ContentOrderedListBlockElement"
                - $ref: "#/components/schemas/ContentCheckListBlockElement"
                - $ref: "#/components/schemas/ContentQuoteBlockElement"
                - $ref: "#/components/schemas/ContentCodeBlockElement"
                - $ref: "#/components/schemas/ContentFileBlockElement"
                - $ref: "#/components/schemas/ContentPreviewBlockElement"
            discriminator:
                propertyName: type
                mapping:
                    Paragraph: "#/components/schemas/ContentParagraphBlockElement"
                    UnorderedList: "#/components/schemas/ContentUnorderedListBlockElement"
                    OrderedList: "#/components/schemas/ContentOrderedListBlockElement"
                    CheckList: "#/components/schemas/ContentCheckListBlockElement"
                    Quote: "#/components/schemas/ContentQuoteBlockElement"
                    Code: "#/components/schemas/ContentCodeBlockElement"
                    File: "#/components/schemas/ContentFileBlockElement"
                    Preview: "#/components/schemas/ContentPreviewBlockElement"

        ContentCodeBlockElement:
            type: object
            required: [type, language, lines]
            additionalProperties: false
            properties:
                type:
                    const: Code
                language:
                    type: string
                    enum: {{codeBlockLanguageIds}}
                lines:
                    type: array
                    minItems: 1
                    items:
                        $ref: "#/components/schemas/ContentCodeBlockElementLine"

        ContentCodeBlockElementLine:
            type: object
            required: [elements]
            additionalProperties: false
            properties:
                elements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentCodeBlockElementTextInlineElement"

        ContentFileBlockElement:
            type: object
            required: [type, id]
            additionalProperties: false
            properties:
                type:
                    const: File
                id:
                    $ref: "#/components/schemas/FileId"
                # Ignored on write but ensures ContentFileBlockElement_Response
                # is compatible as input.
                contentType:
                    $ref: "#/components/schemas/FileContentType"
                contentLength:
                    type: integer
                    minimum: 0

        ContentFileBlockElement_Response:
            type: object
            required: [type, id, contentType, contentLength]
            additionalProperties: false
            properties:
                type:
                    const: File
                id:
                    $ref: "#/components/schemas/FileId"
                contentType:
                    $ref: "#/components/schemas/FileContentType"
                contentLength:
                    type: integer
                    minimum: 0

        ContentPreviewBlockElement:
            type: object
            required: [type, target]
            additionalProperties: false
            properties:
                type:
                    const: Preview
                target:
                    $ref: "#/components/schemas/PreviewTarget"

        ContentFileGalleryBlockElement:
            type: object
            required: [type, rows]
            additionalProperties: false
            properties:
                type:
                    const: FileGallery
                rows:
                    type: array
                    minItems: 1
                    items:
                        $ref: "#/components/schemas/ContentFileGalleryBlockElementRow"

        ContentFileGalleryBlockElementRow:
            type: object
            required: [items]
            additionalProperties: false
            properties:
                items:
                    type: array
                    minItems: 1
                    maxItems: 3
                    items:
                        $ref: "#/components/schemas/ContentFileGalleryBlockElementRowItem"

        ContentFileGalleryBlockElementRowItem:
            type: object
            required: [element]
            additionalProperties: false
            properties:
                # Fractional width from 0 to 1 representing the item's share
                # of the row width. Values in a row sum to 1. Ignored on
                # write, populated on read.
                width:
                    type: number
                    minimum: 0
                    maximum: 1
                element:
                    oneOf:
                        - $ref: "#/components/schemas/ContentFileBlockElement"
                        - $ref: "#/components/schemas/ContentPreviewBlockElement"
                    discriminator:
                        propertyName: type
                        mapping:
                            File: "#/components/schemas/ContentFileBlockElement"
                            Preview: "#/components/schemas/ContentPreviewBlockElement"

        ContentFileGalleryBlockElementRowItem_Response:
            type: object
            required: [width, element]
            additionalProperties: false
            properties:
                width:
                    type: number
                    minimum: 0
                    maximum: 1
                element:
                    oneOf:
                        - $ref: "#/components/schemas/ContentFileBlockElement"
                        - $ref: "#/components/schemas/ContentPreviewBlockElement"
                    discriminator:
                        propertyName: type
                        mapping:
                            File: "#/components/schemas/ContentFileBlockElement"
                            Preview: "#/components/schemas/ContentPreviewBlockElement"

        ContentFileFloatBlockElement:
            type: object
            required: [type, side, element]
            additionalProperties: false
            properties:
                type:
                    const: FileFloat
                side:
                    type: string
                    enum: [Left, Right]
                element:
                    oneOf:
                        - $ref: "#/components/schemas/ContentFileBlockElement"
                        - $ref: "#/components/schemas/ContentPreviewBlockElement"
                    discriminator:
                        propertyName: type
                        mapping:
                            File: "#/components/schemas/ContentFileBlockElement"
                            Preview: "#/components/schemas/ContentPreviewBlockElement"

        ContentInlineElement:
            oneOf:
                - $ref: "#/components/schemas/ContentTextInlineElement"
                - $ref: "#/components/schemas/ContentBreakInlineElement"
                - $ref: "#/components/schemas/ContentMentionInlineElement"
            discriminator:
                propertyName: type
                mapping:
                    Text: "#/components/schemas/ContentTextInlineElement"
                    Break: "#/components/schemas/ContentBreakInlineElement"
                    Mention: "#/components/schemas/ContentMentionInlineElement"

        ContentTextInlineElement:
            type: object
            required: [type, text]
            additionalProperties: false
            properties:
                type:
                    const: Text
                text:
                    type: string
                    minLength: 1
                # TODO(calebmer, #public-api): Document that marks are an unordered set. Mark
                # order doesn't matter and duplicates aren't allowed.
                marks:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentInlineElementMark"

        ContentBreakInlineElement:
            type: object
            required: [type]
            additionalProperties: false
            properties:
                type:
                    const: Break
                marks:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentInlineElementMark"

        ContentMentionInlineElement:
            type: object
            required: [type, target]
            additionalProperties: false
            properties:
                type:
                    const: Mention
                # TODO(calebmer, #public-api): Document that `title` is loaded using the search
                # index so may be stale by up to 90s! (60s for slow document reindexing + 10s
                # for OpenSearch refresh interval. Say 90s to give us enough buffer.)
                target:
                    $ref: "#/components/schemas/MentionTarget"
                isAccountShortName:
                    type: boolean
                marks:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentInlineElementMark"

        # Simpler mention type that's compatible with `ContentMentionInlineElement` but
        # without extra element properties like `type` and `marks`.
        Mention:
            type: object
            required: [target]
            additionalProperties: false
            properties:
                target:
                    $ref: "#/components/schemas/MentionTarget"

        ContentInlineElementMark:
            oneOf:
                - $ref: "#/components/schemas/ContentInlineElementBoldMark"
                - $ref: "#/components/schemas/ContentInlineElementItalicMark"
                - $ref: "#/components/schemas/ContentInlineElementStrikeMark"
                - $ref: "#/components/schemas/ContentInlineElementLinkMark"
                - $ref: "#/components/schemas/ContentInlineElementCodeMark"
                - $ref: "#/components/schemas/ContentInlineElementHighlightMark"
                - $ref: "#/components/schemas/ContentInlineElementCommentMark"
            discriminator:
                propertyName: type
                mapping:
                    Bold: "#/components/schemas/ContentInlineElementBoldMark"
                    Italic: "#/components/schemas/ContentInlineElementItalicMark"
                    Strike: "#/components/schemas/ContentInlineElementStrikeMark"
                    Link: "#/components/schemas/ContentInlineElementLinkMark"
                    Code: "#/components/schemas/ContentInlineElementCodeMark"
                    Highlight: "#/components/schemas/ContentInlineElementHighlightMark"
                    Comment: "#/components/schemas/ContentInlineElementCommentMark"

        ContentInlineElementBoldMark:
            type: object
            required: [type]
            additionalProperties: false
            properties:
                type:
                    const: Bold

        ContentInlineElementItalicMark:
            type: object
            required: [type]
            additionalProperties: false
            properties:
                type:
                    const: Italic

        ContentInlineElementStrikeMark:
            type: object
            required: [type]
            additionalProperties: false
            properties:
                type:
                    const: Strike

        ContentInlineElementLinkMark:
            type: object
            required: [type, url]
            additionalProperties: false
            properties:
                type:
                    const: Link
                url:
                    type: string

        ContentInlineElementCodeMark:
            type: object
            required: [type]
            additionalProperties: false
            properties:
                type:
                    const: Code

        ContentInlineElementHighlightMark:
            type: object
            required: [type, color]
            additionalProperties: false
            properties:
                type:
                    const: Highlight
                color:
                    $ref: "#/components/schemas/ContentInlineElementHighlightMarkColor"

        ContentInlineElementHighlightMarkColor:
            type: string
            enum:
                - Red
                - Orange
                - Green
                - Blue
                - Purple

        ContentInlineElementCommentMark:
            type: object
            required: [type, threadId]
            additionalProperties: false
            properties:
                type:
                    const: Comment
                threadId:
                    $ref: "#/components/schemas/DocumentThreadId"

        ContentCodeBlockElementTextInlineElement:
            type: object
            required: [type, text]
            additionalProperties: false
            properties:
                type:
                    const: Text
                text:
                    type: string
                    minLength: 1
                    pattern: ^[^\n\r]*$
                marks:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentCodeBlockElementTextInlineElementMark"

        ContentCodeBlockElementTextInlineElementMark:
            oneOf:
                - $ref: "#/components/schemas/ContentInlineElementBoldMark"
                - $ref: "#/components/schemas/ContentInlineElementItalicMark"
                - $ref: "#/components/schemas/ContentInlineElementStrikeMark"
                - $ref: "#/components/schemas/ContentInlineElementLinkMark"
                - $ref: "#/components/schemas/ContentInlineElementHighlightMark"
                - $ref: "#/components/schemas/ContentInlineElementCommentMark"
            discriminator:
                propertyName: type
                mapping:
                    Bold: "#/components/schemas/ContentInlineElementBoldMark"
                    Italic: "#/components/schemas/ContentInlineElementItalicMark"
                    Strike: "#/components/schemas/ContentInlineElementStrikeMark"
                    Link: "#/components/schemas/ContentInlineElementLinkMark"
                    Highlight: "#/components/schemas/ContentInlineElementHighlightMark"
                    Comment: "#/components/schemas/ContentInlineElementCommentMark"

        # =========================================================================== #
        #                                  Entities                                   #
        # =========================================================================== #

        AccountWithoutSpace:
            type: object
            required: [id, name, shortName]
            additionalProperties: false
            properties:
                id:
                    $ref: "#/components/schemas/AccountId"
                name:
                    $ref: "#/components/schemas/LabelString"
                shortName:
                    $ref: "#/components/schemas/LabelString"
                botId:
                    $ref: "#/components/schemas/BotId"

        Space:
            type: object
            required: [id, name]
            additionalProperties: false
            properties:
                id:
                    $ref: "#/components/schemas/SpaceId"
                name:
                    $ref: "#/components/schemas/LabelString"

        Account:
            type: object
            required: [id, name, shortName, space]
            additionalProperties: false
            properties:
                id:
                    $ref: "#/components/schemas/AccountId"
                name:
                    $ref: "#/components/schemas/LabelString"
                shortName:
                    $ref: "#/components/schemas/LabelString"
                botId:
                    $ref: "#/components/schemas/BotId"
                space:
                    type: object
                    required: [role, addedTime]
                    additionalProperties: false
                    properties:
                        role:
                            type: string
                            enum: [Owner, Admin, Member]
                        addedTime:
                            $ref: "#/components/schemas/DateTime"
                        # TODO(calebmer, #public-api-blocking): Switch this to `state` and add an
                        # `Active` variant.
                        inactive:
                            oneOf:
                                - type: object
                                  required: [type]
                                  additionalProperties: false
                                  properties:
                                      type:
                                          const: Removed
                                      removedTime:
                                          $ref: "#/components/schemas/DateTime"
                                - type: object
                                  required: [type]
                                  additionalProperties: false
                                  properties:
                                      type:
                                          const: InvitePending

        Chat:
            oneOf:
                - $ref: "#/components/schemas/DirectChat"
                - $ref: "#/components/schemas/RoomChat"
            discriminator:
                propertyName: type
                mapping:
                    Direct: "#/components/schemas/DirectChat"
                    Room: "#/components/schemas/RoomChat"

        DirectChat:
            type: object
            required: [type, id, title, members]
            additionalProperties: false
            properties:
                type:
                    const: Direct
                id:
                    $ref: "#/components/schemas/ChatId"
                # TODO(#public-api): Document how this is the same as the chat's `title` when
                # displayed as a mention.
                title:
                    type: string
                members:
                    type: array
                    items:
                        type: object
                        required: [account]
                        additionalProperties: false
                        properties:
                            account:
                                $ref: "#/components/schemas/Account"

        RoomChat:
            type: object
            required: [type, id, name]
            additionalProperties: false
            properties:
                type:
                    const: Room
                id:
                    $ref: "#/components/schemas/ChatId"
                name:
                    $ref: "#/components/schemas/LabelString"

        CreateChatRequestBodyChat:
            oneOf:
                - $ref: "#/components/schemas/CreateChatRequestBodyDirectChat"
                - $ref: "#/components/schemas/CreateChatRequestBodyRoomChat"
            discriminator:
                propertyName: type
                mapping:
                    Direct: "#/components/schemas/CreateChatRequestBodyDirectChat"
                    Room: "#/components/schemas/CreateChatRequestBodyRoomChat"

        CreateChatRequestBodyDirectChat:
            type: object
            required: [type, members]
            additionalProperties: false
            properties:
                type:
                    const: Direct
                # TODO(#public-api): Should we add additional properties from `DirectChat` here
                # so if you pass in a `DirectChat` object, it would work?
                members:
                    type: array
                    items:
                        type: object
                        required: [account]
                        additionalProperties: false
[...]
