# @generated by //shared/api/specification:write_specification

openapi: 3.0.0
info:
    title: Alpine API
    description: The Alpine REST API.
    version: 2026-07-12
servers:
    - url: https://api.alpine.inc
paths:
    /specification.yaml:
        get:
            responses:
                "200":
                    content:
                        application/yaml: {}
                default:
                    $ref: "#/components/responses/Error"
    /auth:
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - auth
                                additionalProperties: false
                                properties:
                                    auth:
                                        $ref: "#/components/schemas/Auth"
                default:
                    $ref: "#/components/responses/Error"
    /accounts/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/AccountId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - account
                                additionalProperties: false
                                properties:
                                    account:
                                        $ref: "#/components/schemas/AccountWithoutSpace"
                default:
                    $ref: "#/components/responses/Error"
    /accounts/{id}-reference:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/AccountId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - reference
                                additionalProperties: false
                                properties:
                                    reference:
                                        $ref: "#/components/schemas/AccountReference"
                default:
                    $ref: "#/components/responses/Error"
    /spaces/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/SpaceId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - space
                                additionalProperties: false
                                properties:
                                    space:
                                        $ref: "#/components/schemas/Space"
                default:
                    $ref: "#/components/responses/Error"
    /spaces/{id}/accounts:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/SpaceId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - space
                                    - accounts
                                additionalProperties: false
                                properties:
                                    space:
                                        $ref: "#/components/schemas/Space"
                                    accounts:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/Account"
                default:
                    $ref: "#/components/responses/Error"
    /spaces/{id}/accounts/{accountId}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/SpaceId"
            - name: accountId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/AccountId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - account
                                additionalProperties: false
                                properties:
                                    account:
                                        $ref: "#/components/schemas/Account"
                default:
                    $ref: "#/components/responses/Error"
    /spaces/{id}/accounts/{accountId}/inbox:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/SpaceId"
            - name: accountId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/AccountId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - inbox
                                additionalProperties: false
                                properties:
                                    inbox:
                                        $ref: "#/components/schemas/Inbox"
                default:
                    $ref: "#/components/responses/Error"
    /spaces/{id}/accounts/{accountId}/inbox/entries:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/SpaceId"
            - name: accountId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/AccountId"
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: string
                - name: status
                  in: query
                  schema:
                      type: string
                      enum:
                          - New
                          - Done
                      default: New
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - inbox
                                    - nextCursor
                                    - entries
                                additionalProperties: false
                                properties:
                                    inbox:
                                        $ref: "#/components/schemas/Inbox"
                                    nextCursor:
                                        oneOf:
                                            - type: string
                                            - type: "null"
                                    entries:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/InboxEntry"
                default:
                    $ref: "#/components/responses/Error"
    /spaces/{id}/bots/{botId}/settings:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/SpaceId"
            - name: botId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/BotId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - settings
                                additionalProperties: false
                                properties:
                                    settings:
                                        type: object
                                        required:
                                            - values
                                        additionalProperties: false
                                        properties:
                                            values:
                                                type: object
                                                additionalProperties: true
                default:
                    $ref: "#/components/responses/Error"
    /spaces/{id}/accounts/{accountId}/bots/{botId}/settings:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/SpaceId"
            - name: accountId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/AccountId"
            - name: botId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/BotId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - settings
                                additionalProperties: false
                                properties:
                                    settings:
                                        type: object
                                        required:
                                            - values
                                            - space
                                        additionalProperties: false
                                        properties:
                                            values:
                                                type: object
                                                additionalProperties: true
                                            space:
                                                type: object
                                                required:
                                                    - values
                                                additionalProperties: false
                                                properties:
                                                    values:
                                                        type: object
                                                        additionalProperties: true
                default:
                    $ref: "#/components/responses/Error"
    /chats:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - spaceId
                                - chat
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                chat:
                                    $ref: "#/components/schemas/ChatCreate_Request"
            responses:
                "200":
                    $ref: "#/components/responses/GetChat"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetChat"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}-reference:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - reference
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    reference:
                                        $ref: "#/components/schemas/ChatReference"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum:
                          - Start
                          - End
                      default: Start
            responses:
                "200":
                    $ref: "#/components/responses/GetMessages"
                default:
                    $ref: "#/components/responses/Error"
        post:
            requestBody:
                $ref: "#/components/requestBodies/CreateMessage"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamCompletion"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPing"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}/messages/{index}/experimental-approvals:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageExperimentalApprovals"
                default:
                    $ref: "#/components/responses/Error"
        patch:
            requestBody:
                $ref: "#/components/requestBodies/PatchMessageExperimentalApprovals"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageExperimentalApprovals"
                default:
                    $ref: "#/components/responses/Error"
    /documents:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - spaceId
                                - document
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                document:
                                    type: object
                                    required:
                                        - title
                                        - content
                                    additionalProperties: false
                                    properties:
                                        creator:
                                            type: object
                                            required:
                                                - id
                                            additionalProperties: false
                                            properties:
                                                id:
                                                    $ref: "#/components/schemas/AccountId"
                                        title:
                                            type: string
                                        content:
                                            $ref: "#/components/schemas/Content_Request"
            responses:
                "200":
                    $ref: "#/components/responses/GetDocument"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetDocument"
                default:
                    $ref: "#/components/responses/Error"
        patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - patches
                            additionalProperties: false
                            properties:
                                patches:
                                    type: array
                                    minItems: 1
                                    items:
                                        $ref: "#/components/schemas/DocumentPatch_Request"
            responses:
                "200":
                    $ref: "#/components/responses/GetDocument"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}-reference:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - reference
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    reference:
                                        $ref: "#/components/schemas/DocumentReference"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - thread
                            additionalProperties: false
                            properties:
                                thread:
                                    type: object
                                    required:
                                        - range
                                        - firstMessage
                                    additionalProperties: false
                                    properties:
                                        range:
                                            $ref: "#/components/schemas/ContentRange"
                                        firstMessage:
                                            type: object
                                            required:
                                                - content
                                            additionalProperties: false
                                            properties:
                                                createdTimeZone:
                                                    $ref: "#/components/schemas/TimeZone"
                                                content:
                                                    $ref: "#/components/schemas/Content_Request"
                                                files:
                                                    type: array
                                                    items:
                                                        $ref: "#/components/schemas/MessageContentPayloadFile_Request"
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - message
                                    - thread
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    message:
                                        $ref: "#/components/schemas/Message"
                                    thread:
                                        $ref: "#/components/schemas/DocumentThread"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - thread
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    thread:
                                        $ref: "#/components/schemas/DocumentThread"
                default:
                    $ref: "#/components/responses/Error"
        patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - patches
                            additionalProperties: false
                            properties:
                                patches:
                                    type: array
                                    minItems: 1
                                    items:
                                        $ref: "#/components/schemas/DocumentThreadPatch"
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - thread
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    thread:
                                        $ref: "#/components/schemas/DocumentThread"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}-with-preview:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - thread
                                    - document
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    thread:
                                        $ref: "#/components/schemas/DocumentThreadWithPreview"
                                    document:
                                        $ref: "#/components/schemas/Document"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum:
                          - Start
                          - End
                      default: Start
            responses:
                "200":
                    $ref: "#/components/responses/GetMessages"
                default:
                    $ref: "#/components/responses/Error"
        post:
            requestBody:
                $ref: "#/components/requestBodies/CreateMessage"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamCompletion"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPing"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}/messages/{index}/experimental-approvals:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageExperimentalApprovals"
                default:
                    $ref: "#/components/responses/Error"
        patch:
            requestBody:
                $ref: "#/components/requestBodies/PatchMessageExperimentalApprovals"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageExperimentalApprovals"
                default:
                    $ref: "#/components/responses/Error"
    /channels:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - spaceId
                                - channel
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                channel:
                                    type: object
                                    required:
                                        - name
                                        - description
                                    additionalProperties: false
                                    properties:
                                        creator:
                                            $ref: "#/components/schemas/Actor_Request"
                                        name:
                                            type: string
                                        description:
                                            $ref: "#/components/schemas/Content_Request"
            responses:
                "200":
                    $ref: "#/components/responses/GetChannel"
                default:
                    $ref: "#/components/responses/Error"
    /channels/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChannelId"
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetChannel"
                default:
                    $ref: "#/components/responses/Error"
        patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - patches
                            additionalProperties: false
                            properties:
                                patches:
                                    type: array
                                    minItems: 1
                                    items:
                                        $ref: "#/components/schemas/ChannelPatch_Request"
            responses:
                "200":
                    $ref: "#/components/responses/GetChannel"
                default:
                    $ref: "#/components/responses/Error"
    /channels/{id}-reference:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChannelId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - reference
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    reference:
                                        $ref: "#/components/schemas/ChannelReference"
                default:
                    $ref: "#/components/responses/Error"
    /channels/{id}-preview:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChannelId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - channel
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    channel:
                                        $ref: "#/components/schemas/ChannelPreview"
                default:
                    $ref: "#/components/responses/Error"
    /channels/{id}/posts:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChannelId"
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      $ref: "#/components/schemas/DateTime"
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - channel
                                    - nextCursor
                                    - posts
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    channel:
                                        $ref: "#/components/schemas/ChannelPreview"
                                    nextCursor:
                                        oneOf:
                                            - $ref: "#/components/schemas/DateTime"
                                            - type: "null"
                                    posts:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/PostPreview"
                default:
                    $ref: "#/components/responses/Error"
    /posts:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - spaceId
                                - post
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                post:
                                    type: object
                                    additionalProperties: false
                                    required:
                                        - channel
                                        - content
                                    properties:
                                        creator:
                                            $ref: "#/components/schemas/Actor_Request"
                                        createdTimeZone:
                                            $ref: "#/components/schemas/TimeZone"
                                        channel:
                                            type: object
                                            required:
                                                - id
                                            additionalProperties: false
                                            properties:
                                                id:
                                                    $ref: "#/components/schemas/ChannelId"
                                        content:
                                            $ref: "#/components/schemas/Content_Request"
            responses:
                "200":
                    $ref: "#/components/responses/GetPost"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetPost"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}-reference:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - reference
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    reference:
                                        $ref: "#/components/schemas/PostReference"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}-preview:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - post
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    post:
                                        $ref: "#/components/schemas/PostPreview"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum:
                          - Start
                          - End
                      default: Start
            responses:
                "200":
                    $ref: "#/components/responses/GetMessages"
                default:
                    $ref: "#/components/responses/Error"
        post:
            requestBody:
                $ref: "#/components/requestBodies/CreateMessage"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamCompletion"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPing"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}/messages/{index}/experimental-approvals:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageExperimentalApprovals"
                default:
                    $ref: "#/components/responses/Error"
        patch:
            requestBody:
                $ref: "#/components/requestBodies/PatchMessageExperimentalApprovals"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageExperimentalApprovals"
                default:
                    $ref: "#/components/responses/Error"
    /spaces/{id}/search:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/SpaceId"
        get:
            parameters:
                - name: query
                  in: query
                  required: true
                  schema:
                      type: string
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - results
                                additionalProperties: false
                                properties:
                                    results:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/SearchResult"
                default:
                    $ref: "#/components/responses/Error"
    /sites/{id}-reference:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/SiteId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - reference
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    reference:
                                        $ref: "#/components/schemas/SiteReference"
                default:
                    $ref: "#/components/responses/Error"
    /tasks:
        patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - spaceId
                                - patches
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                actor:
                                    type: object
                                    required:
                                        - id
                                    additionalProperties: false
                                    properties:
                                        id:
                                            $ref: "#/components/schemas/AccountId"
                                patches:
                                    type: array
                                    minItems: 1
                                    items:
                                        $ref: "#/components/schemas/TaskBatchPatch_Request"
            responses:
                "200":
                    $ref: "#/components/responses/PatchTasks"
                default:
                    $ref: "#/components/responses/Error"
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - spaceId
                                - task
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                task:
                                    $ref: "#/components/schemas/TaskCreate_Request"
            responses:
                "200":
                    $ref: "#/components/responses/GetTaskWithNotes"
                default:
                    $ref: "#/components/responses/Error"
    /tasks-query:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - spaceId
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                limit:
                                    type: integer
                                    minimum: 1
                                    maximum: 100
                                    default: 10
                                cursor:
                                    $ref: "#/components/schemas/TaskQueryCursor"
                                filters:
                                    type: array
                                    items:
                                        $ref: "#/components/schemas/TaskQueryFilter_Request"
                                sorts:
                                    type: array
                                    items:
                                        $ref: "#/components/schemas/TaskQuerySort"
            responses:
                "200":
                    $ref: "#/components/responses/GetTasks"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
        patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - patches
                            additionalProperties: false
                            properties:
                                actor:
                                    type: object
                                    required:
                                        - id
                                    additionalProperties: false
                                    properties:
                                        id:
                                            $ref: "#/components/schemas/AccountId"
                                patches:
                                    type: array
                                    minItems: 1
                                    items:
                                        $ref: "#/components/schemas/TaskPatch_Request"
            responses:
                "200":
                    $ref: "#/components/responses/PatchTask"
                default:
                    $ref: "#/components/responses/Error"
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetTask"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}-reference:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - reference
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    reference:
                                        $ref: "#/components/schemas/TaskReference"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}-with-notes:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetTaskWithNotes"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/notes:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetTaskNotes"
                default:
                    $ref: "#/components/responses/Error"
        patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - patches
                            additionalProperties: false
                            properties:
                                patches:
                                    type: array
                                    minItems: 1
                                    items:
                                        $ref: "#/components/schemas/TaskNotesPatch_Request"
            responses:
                "200":
                    $ref: "#/components/responses/GetTaskNotes"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/subtasks:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      $ref: "#/components/schemas/TaskQueryCursor"
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - task
                                    - nextCursor
                                    - tasks
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    task:
                                        $ref: "#/components/schemas/Task"
                                    nextCursor:
                                        oneOf:
                                            - $ref: "#/components/schemas/TaskQueryCursor"
                                            - type: "null"
                                    tasks:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/TaskQueryItem"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/subtasks-query:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: []
                            additionalProperties: false
                            properties:
                                limit:
                                    type: integer
                                    minimum: 1
                                    maximum: 100
                                    default: 10
                                cursor:
                                    $ref: "#/components/schemas/TaskQueryCursor"
                                filters:
                                    type: array
                                    items:
                                        $ref: "#/components/schemas/TaskQueryFilter_Request"
                                sorts:
                                    type: array
                                    items:
                                        $ref: "#/components/schemas/TaskQuerySort"
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - task
                                    - nextCursor
                                    - tasks
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    task:
                                        $ref: "#/components/schemas/Task"
                                    nextCursor:
                                        oneOf:
                                            - $ref: "#/components/schemas/TaskQueryCursor"
                                            - type: "null"
                                    tasks:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/TaskQueryItem"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}-with-notes/subtasks:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      $ref: "#/components/schemas/TaskQueryCursor"
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - task
                                    - nextCursor
                                    - tasks
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    task:
                                        $ref: "#/components/schemas/TaskWithNotes"
                                    nextCursor:
                                        oneOf:
                                            - $ref: "#/components/schemas/TaskQueryCursor"
                                            - type: "null"
                                    tasks:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/TaskQueryItem"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}-with-notes/subtasks-query:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: []
                            additionalProperties: false
                            properties:
                                limit:
                                    type: integer
                                    minimum: 1
                                    maximum: 100
                                    default: 10
                                cursor:
                                    $ref: "#/components/schemas/TaskQueryCursor"
                                filters:
                                    type: array
                                    items:
                                        $ref: "#/components/schemas/TaskQueryFilter_Request"
                                sorts:
                                    type: array
                                    items:
                                        $ref: "#/components/schemas/TaskQuerySort"
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - task
                                    - nextCursor
                                    - tasks
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    task:
                                        $ref: "#/components/schemas/TaskWithNotes"
                                    nextCursor:
                                        oneOf:
                                            - $ref: "#/components/schemas/TaskQueryCursor"
                                            - type: "null"
                                    tasks:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/TaskQueryItem"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum:
                          - Start
                          - End
                      default: Start
            responses:
                "200":
                    $ref: "#/components/responses/GetMessages"
                default:
                    $ref: "#/components/responses/Error"
        post:
            requestBody:
                $ref: "#/components/requestBodies/CreateMessage"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamCompletion"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPing"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/messages/{index}/experimental-approvals:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageExperimentalApprovals"
                default:
                    $ref: "#/components/responses/Error"
        patch:
            requestBody:
                $ref: "#/components/requestBodies/PatchMessageExperimentalApprovals"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageExperimentalApprovals"
                default:
                    $ref: "#/components/responses/Error"
    /task-collections:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - spaceId
                                - collection
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                collection:
                                    type: object
                                    required:
                                        - name
                                    additionalProperties: false
                                    properties:
                                        creator:
                                            type: object
                                            required:
                                                - id
                                            additionalProperties: false
                                            properties:
                                                id:
                                                    $ref: "#/components/schemas/AccountId"
                                        name:
                                            $ref: "#/components/schemas/LabelString"
                                        color:
                                            oneOf:
                                                - $ref: "#/components/schemas/TaskCollectionColor"
                                                - type: "null"
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - collection
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    collection:
                                        $ref: "#/components/schemas/TaskCollection"
                default:
                    $ref: "#/components/responses/Error"
    /task-collections/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskCollectionId"
        patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - patches
                            additionalProperties: false
                            properties:
                                actor:
                                    type: object
                                    required:
                                        - id
                                    additionalProperties: false
                                    properties:
                                        id:
                                            $ref: "#/components/schemas/AccountId"
                                patches:
                                    type: array
                                    minItems: 1
                                    items:
                                        $ref: "#/components/schemas/TaskCollectionPatch"
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - collection
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    collection:
                                        $ref: "#/components/schemas/TaskCollection"
                default:
                    $ref: "#/components/responses/Error"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - collection
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    collection:
                                        $ref: "#/components/schemas/TaskCollection"
                default:
                    $ref: "#/components/responses/Error"
    /task-collections/{id}-reference:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskCollectionId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - reference
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    reference:
                                        $ref: "#/components/schemas/TaskCollectionReference"
                default:
                    $ref: "#/components/responses/Error"
    /task-collections/{id}-preview:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskCollectionId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - collection
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    collection:
                                        $ref: "#/components/schemas/TaskCollectionPreview"
                default:
                    $ref: "#/components/responses/Error"
    /task-collections/{id}/tasks:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskCollectionId"
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      $ref: "#/components/schemas/TaskQueryCursor"
            responses:
                "200":
                    $ref: "#/components/responses/GetTaskCollectionTasks"
                default:
                    $ref: "#/components/responses/Error"
    /task-collections/{id}/tasks-query:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskCollectionId"
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: []
                            additionalProperties: false
                            properties:
                                limit:
                                    type: integer
                                    minimum: 1
                                    maximum: 100
                                    default: 10
                                cursor:
                                    $ref: "#/components/schemas/TaskQueryCursor"
                                filters:
                                    type: array
                                    items:
                                        $ref: "#/components/schemas/TaskQueryFilter_Request"
                                sorts:
                                    type: array
                                    items:
                                        $ref: "#/components/schemas/TaskQuerySort"
            responses:
                "200":
                    $ref: "#/components/responses/GetTaskCollectionTasks"
                default:
                    $ref: "#/components/responses/Error"
    /files/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/FileId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - file
                                additionalProperties: false
                                properties:
                                    file:
                                        type: object
                                        required:
                                            - id
                                            - contentType
                                            - contentLength
                                            - signedUrl
                                            - isUploading
                                        additionalProperties: false
                                        properties:
                                            id:
                                                $ref: "#/components/schemas/FileId"
                                            contentType:
                                                $ref: "#/components/schemas/FileContentType"
                                            contentLength:
                                                type: integer
                                            signedUrl:
                                                type: string
                                            isUploading:
                                                type: boolean
                default:
                    $ref: "#/components/responses/Error"
    /files/{id}/content:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/FileId"
        get:
            responses:
                "302":
                    headers:
                        location:
                            schema:
                                type: string
                default:
                    $ref: "#/components/responses/Error"
webhooks:
    bot:
        post:
            parameters:
                - name: Alpine-Signature
                  in: header
                  required: false
                  description: >
                      Signature of the raw request body formatted as
                      `sha256=<hex>` where `<hex>` is the hex-encoded HMAC
                      SHA-256 of the raw request body keyed with the bot's
                      webhook secret. Only sent when the bot has a webhook
                      secret configured.
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - spaceId
                                - botAccount
                                - attempt
                                - accessToken
                                - eventId
                                - event
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                botAccount:
                                    type: object
                                    required:
                                        - id
                                        - bot
                                    additionalProperties: false
                                    properties:
                                        id:
                                            $ref: "#/components/schemas/AccountId"
                                        bot:
                                            type: object
                                            required:
                                                - id
                                            additionalProperties: false
                                            properties:
                                                id:
                                                    $ref: "#/components/schemas/BotId"
                                attempt:
                                    type: integer
                                    minimum: 1
                                accessToken:
                                    type: string
                                eventId:
                                    $ref: "#/components/schemas/BotWebhookEventId"
                                event:
                                    $ref: "#/components/schemas/BotWebhookEvent"
            responses:
                "200":
                    description: Return a 200 status to indicate that the data was received
                        successfully
components:
    responses:
        Error:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - error
                        additionalProperties: false
                        properties:
                            error:
                                type: object
                                required:
                                    - message
                                    - retry
                                additionalProperties: false
                                properties:
                                    message:
                                        type: string
                                        description: A human-readable message providing more details about the error.
                                    retry:
                                        type: object
                                        required:
                                            - able
                                        additionalProperties: false
                                        properties:
                                            able:
                                                type: boolean
                                                description: If true, it indicates that the request should succeed if tried
                                                    again.
        GetChannel:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - spaceId
                            - channel
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            channel:
                                $ref: "#/components/schemas/Channel"
        GetChat:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - spaceId
                            - chat
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            chat:
                                $ref: "#/components/schemas/Chat"
        GetDocument:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - spaceId
                            - document
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            document:
                                $ref: "#/components/schemas/Document"
        GetTask:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - spaceId
                            - task
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            task:
                                $ref: "#/components/schemas/Task"
        GetTaskWithNotes:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - spaceId
                            - task
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            task:
                                $ref: "#/components/schemas/TaskWithNotes"
        PatchTask:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - spaceId
                            - task
                            - results
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            task:
                                $ref: "#/components/schemas/Task"
                            results:
                                type: array
                                items:
                                    $ref: "#/components/schemas/TaskPatchResult"
        PatchTasks:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - tasks
                            - results
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            tasks:
[...]
