# This is the source OpenAPI specification for the Alpine REST API. We run a
# couple transformations before we get to the OpenAPI specification we'll share
# with users.
#
# - All comments are stripped from the final specification.
#
# - There are some template variables you can use that'll be replaced (for
#   example `idRegExp` in Mustache curly brackets).
#
# - Schema names may end with any number of underscore-separated
#   "specializations", spelled in alphabetical order (e.g.
#   `ContentParagraphBlockElement_Response_WithoutKeys` is the
#   `{Response, WithoutKeys}` variant of `ContentParagraphBlockElement`).
#
#   Specializations create entirely new type hierarchies that use the
#   specialized type instead of the base type. For example, we generate
#   `ContentInlineElement_Response` that references
#   `ContentMentionInlineElement_Response` instead of
#   `ContentMentionInlineElement`.
#
#   Specializations compose by set union and references resolve to the closest
#   variant that exists: a reference to `Content_WithoutKeys` in a schema being
#   specialized for `Response` becomes `Content_Response_WithoutKeys`, which
#   uses `_Response_WithoutKeys` schemas where available, then `_Response`
#   schemas, then the base schemas.
#
#   Request bodies use the `Request` specialization of every schema they
#   reference and responses use the `Response` specialization. A variant is
#   only generated when it's demanded and structurally different from the
#   variant it would otherwise resolve to.
#
#   See `specialize()` in `generate_api_specification_main.ts` for the full
#   model.
#
# Style guide
# ===========
#
# - Follow general REST principles. Paths should correspond to resources.
#
#   If you need an API endpoint that returns some resource in a different
#   format then add `-whatever` to the path segment you're modifying
#   instead of `/whatever`. We believe this is more "RESTful" since we're
#   not creating a new resource (with a `/`) but rather modifying the way
#   you access an existing resource. You can think of it like how adding a
#   file extension (e.g. `.md`) might change the response type.
#
# - Granular updates use `PATCH` requests where the request body is either a
#   singular `patch` discriminated union object or `patches` array of
#   discriminated union objects. If `patches` is an array then the patches must
#   be committed atomically.
#
# - `POST` and `PUT` request bodies should mirror response outputs. A `GET`
#   result should be assignable to the request body of a `POST` or `PUT`
#   request.
#
# - Aggressively nest properties in objects. This lets us easily evolve the API
#   in the future. If you have a name written in camel case like `{threadId: }`
#   then most of the time `thread: {id: }` is better. Since it'll let us add
#   other properties to `thread` in the future.

openapi: 3.0.0
info:
    title: Alpine API
    description: The Alpine REST API.
    version: 2026-07-12

servers:
    - url: https://api.alpine.inc

paths:
    /specification.yaml:
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/yaml: {}

    /auth:
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [auth]
                                additionalProperties: false
                                properties:
                                    auth:
                                        $ref: "#/components/schemas/Auth"

    # TODO(calebmer, #public-api): Document that if you have a bot and the bot is
    # trying to read an account that was a former member of the space you'll get
    # the account's old data at removal time instead of the latest data.
    /accounts/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/AccountId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [account]
                                additionalProperties: false
                                properties:
                                    account:
                                        $ref: "#/components/schemas/AccountWithoutSpace"

    /accounts/{id}-reference:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/AccountId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [reference]
                                additionalProperties: false
                                properties:
                                    reference:
                                        $ref: "#/components/schemas/AccountReference"

    /spaces/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/SpaceId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [space]
                                additionalProperties: false
                                properties:
                                    space:
                                        $ref: "#/components/schemas/Space"

    /spaces/{id}/accounts/{accountId}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/SpaceId"}
            - name: accountId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/AccountId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [account]
                                additionalProperties: false
                                properties:
                                    account:
                                        $ref: "#/components/schemas/Account"

    /spaces/{id}/accounts/{accountId}/inbox:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/SpaceId"}
            - name: accountId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/AccountId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [inbox]
                                additionalProperties: false
                                properties:
                                    inbox:
                                        $ref: "#/components/schemas/Inbox"

    /spaces/{id}/accounts/{accountId}/inbox/entries:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/SpaceId"}
            - name: accountId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/AccountId"}
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: string
                - name: status
                  in: query
                  schema:
                      type: string
                      enum: [New, Done]
                      default: New
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [inbox, nextCursor, entries]
                                additionalProperties: false
                                properties:
                                    inbox:
                                        $ref: "#/components/schemas/Inbox"
                                    nextCursor:
                                        oneOf:
                                            - type: string
                                            - type: "null"
                                    entries:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/InboxEntry"

    /spaces/{id}/bots/{botId}/settings:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/SpaceId"}
            - name: botId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/BotId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [settings]
                                additionalProperties: false
                                properties:
                                    settings:
                                        type: object
                                        required: [values]
                                        additionalProperties: false
                                        properties:
                                            values:
                                                type: object
                                                additionalProperties: true

    /spaces/{id}/accounts/{accountId}/bots/{botId}/settings:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/SpaceId"}
            - name: accountId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/AccountId"}
            - name: botId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/BotId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [settings]
                                additionalProperties: false
                                properties:
                                    settings:
                                        type: object
                                        required: [values, space]
                                        additionalProperties: false
                                        properties:
                                            values:
                                                type: object
                                                additionalProperties: true
                                            space:
                                                type: object
                                                required: [values]
                                                additionalProperties: false
                                                properties:
                                                    values:
                                                        type: object
                                                        additionalProperties: true

    /chats:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [spaceId, chat]
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                chat:
                                    $ref: "#/components/schemas/ChatCreateRequest"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetChat"}

    /chats/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetChat"}

    /chats/{id}-reference:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, reference]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    reference:
                                        $ref: "#/components/schemas/ChatReference"

    # TODO(calebmer, #public-api): Add a `-markdown` variant endpoint for all
    # endpoints that deal with content. This variant should return a string for
    # content instead of an AST. Also add a `-markdown` variant for any `/messages`
    # endpoints (both `GET` and `POST`).
    /chats/{id}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /chats/{id}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum: [Start, End]
                      default: Start
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessages"}
        post:
            requestBody: {$ref: "#/components/requestBodies/CreateMessage"}
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /chats/{id}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamCompletion"}

    /chats/{id}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPing"}

    /chats/{id}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /chats/{id}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /chats/{id}/messages/{index}/experimental-approvals:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChatId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageExperimentalApprovals"}
        patch:
            requestBody:
                $ref: "#/components/requestBodies/PatchMessageExperimentalApprovals"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageExperimentalApprovals"}

    /documents:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [spaceId, document]
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                document:
                                    type: object
                                    required: [title, content]
                                    additionalProperties: false
                                    properties:
                                        # TODO(#public-api-blocking): Use `$ref: "#/components/schemas/Actor"` instead.
                                        creator:
                                            type: object
                                            required: [id]
                                            additionalProperties: false
                                            properties:
                                                id:
                                                    $ref: "#/components/schemas/AccountId"
                                        title:
                                            type: string
                                        content:
                                            $ref: "#/components/schemas/Content"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetDocument"}

    /documents/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetDocument"}
        patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [patches]
                            additionalProperties: false
                            properties:
                                patches:
                                    type: array
                                    minItems: 1
                                    items:
                                        $ref: "#/components/schemas/DocumentPatch"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetDocument"}

    /documents/{id}-reference:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, reference]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    reference:
                                        $ref: "#/components/schemas/DocumentReference"

    /documents/{id}/threads:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [thread]
                            additionalProperties: false
                            properties:
                                thread:
                                    type: object
                                    required: [range, firstMessage]
                                    additionalProperties: false
                                    properties:
                                        # TODO(#agents-web): Revisit representing thread
                                        # targets as `range: ContentRange | null` and
                                        # `additionalRanges: Array<ContentRange>` once document
                                        # thread responses can represent ranges.
                                        range:
                                            $ref: "#/components/schemas/ContentRange"
                                        # TODO(#agents-web): Reuse the create-message
                                        # input type here after `CreateMessage` is updated to match
                                        # message output, including nesting content and files in
                                        # `payload`.
                                        firstMessage:
                                            type: object
                                            required: [content]
                                            additionalProperties: false
                                            properties:
                                                createdTimeZone:
                                                    $ref: "#/components/schemas/TimeZone"
                                                content:
                                                    $ref: "#/components/schemas/Content"
                                                files:
                                                    type: array
                                                    items:
                                                        $ref: "#/components/schemas/MessageContentPayloadFile"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            # TODO(#agents-web): Revisit this response after the
                            # `agent_web_2` branch merges because it substantially changes the
                            # document thread response.
                            schema:
                                type: object
                                required: [spaceId, message, thread]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    message:
                                        $ref: "#/components/schemas/Message"
                                    thread:
                                        $ref: "#/components/schemas/DocumentThread"

    /documents/{id}/threads/{threadId}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, thread]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    thread:
                                        $ref: "#/components/schemas/DocumentThread"
        patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [patches]
                            additionalProperties: false
                            properties:
                                patches:
                                    type: array
                                    minItems: 1
                                    items:
                                        $ref: "#/components/schemas/DocumentThreadPatch"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, thread]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    thread:
                                        $ref: "#/components/schemas/DocumentThread"

    /documents/{id}/threads/{threadId}-with-preview:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, thread, document]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    thread:
                                        $ref: "#/components/schemas/DocumentThreadWithPreview"
                                    document:
                                        $ref: "#/components/schemas/Document"

    /documents/{id}/threads/{threadId}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /documents/{id}/threads/{threadId}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum: [Start, End]
                      default: Start
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessages"}
        post:
            requestBody: {$ref: "#/components/requestBodies/CreateMessage"}
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /documents/{id}/threads/{threadId}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamCompletion"}

    /documents/{id}/threads/{threadId}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPing"}

    /documents/{id}/threads/{threadId}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /documents/{id}/threads/{threadId}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /documents/{id}/threads/{threadId}/messages/{index}/experimental-approvals:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentId"}
            - name: threadId
              in: path
              required: true
              schema: {$ref: "#/components/schemas/DocumentThreadId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageExperimentalApprovals"}
        patch:
            requestBody:
                $ref: "#/components/requestBodies/PatchMessageExperimentalApprovals"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageExperimentalApprovals"}

    /channels:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [spaceId, channel]
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                channel:
                                    type: object
                                    required: [name, description]
                                    additionalProperties: false
                                    properties:
                                        creator:
                                            $ref: "#/components/schemas/Actor"
                                        name:
                                            type: string
                                        description:
                                            $ref: "#/components/schemas/Content"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetChannel"}

    /channels/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChannelId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetChannel"}
        patch:
            patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [patches]
                            additionalProperties: false
                            properties:
                                patches:
                                    type: array
                                    minItems: 1
                                    items:
                                        $ref: "#/components/schemas/ChannelPatch"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetChannel"}

    /channels/{id}-reference:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChannelId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, reference]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    reference:
                                        $ref: "#/components/schemas/ChannelReference"

    /channels/{id}-preview:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChannelId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, channel]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    channel:
                                        $ref: "#/components/schemas/ChannelPreview"

    /channels/{id}/posts:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/ChannelId"}
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      $ref: "#/components/schemas/DateTime"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, channel, nextCursor, posts]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    channel:
                                        $ref: "#/components/schemas/ChannelPreview"
                                    nextCursor:
                                        oneOf:
                                            - $ref: "#/components/schemas/DateTime"
                                            - type: "null"
                                    posts:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/PostPreview"

    /posts:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [spaceId, post]
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                post:
                                    type: object
                                    additionalProperties: false
                                    # TODO(ifitzsimmons, #ai): Eventually, we'll allow posts to be created
                                    # without a channel. That's the reason this endpoint isn't formatted
                                    # like `/channels/{id}/posts`. However, since we can't support post
                                    # creation outside of channels right now, users are required to provide
                                    # a channelId in the request. Going from required to optional will be
                                    # a backwards compatible change when the time comes.
                                    required: [channel, content]
                                    properties:
                                        creator:
                                            $ref: "#/components/schemas/Actor"
                                        createdTimeZone:
                                            $ref: "#/components/schemas/TimeZone"
                                        channel:
                                            type: object
                                            required: [id]
                                            additionalProperties: false
                                            properties:
                                                id:
                                                    $ref: "#/components/schemas/ChannelId"
                                        content:
                                            $ref: "#/components/schemas/Content"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetPost"}

    /posts/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetPost"}

    /posts/{id}-reference:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, reference]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    reference:
                                        $ref: "#/components/schemas/PostReference"

    /posts/{id}-preview:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, post]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    post:
                                        $ref: "#/components/schemas/PostPreview"

    /posts/{id}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /posts/{id}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum: [Start, End]
                      default: Start
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessages"}
        post:
            requestBody: {$ref: "#/components/requestBodies/CreateMessage"}
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /posts/{id}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamCompletion"}

    /posts/{id}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPing"}

    /posts/{id}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /posts/{id}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /posts/{id}/messages/{index}/experimental-approvals:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/PostId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageExperimentalApprovals"}
        patch:
            requestBody:
                $ref: "#/components/requestBodies/PatchMessageExperimentalApprovals"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageExperimentalApprovals"}

    # TODO(ifitzsimmons, #ai): Change this interface so that it returns a parsed string
    # representation of the search filters and an indication of whether a particular
    # result matched the search filter or not.
    /spaces/{id}/search:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/SpaceId"}
        get:
            parameters:
                - name: query
                  in: query
                  required: true
                  schema:
                      type: string
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [results]
                                additionalProperties: false
                                properties:
                                    results:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/SearchResult"

    # TODO(#site-api): Implement site API.
    /sites/{id}-reference:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/SiteId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, reference]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    reference:
                                        $ref: "#/components/schemas/SiteReference"

    /tasks:
        patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [spaceId, patches]
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                # TODO(#public-api-blocking): This should be an actor object?
                                actor:
                                    type: object
                                    required: [id]
                                    additionalProperties: false
                                    properties:
                                        id:
                                            $ref: "#/components/schemas/AccountId"
                                patches:
                                    type: array
                                    minItems: 1
                                    items:
                                        $ref: "#/components/schemas/TaskBatchPatch"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/PatchTasks"}
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [spaceId, task]
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                task:
                                    $ref: "#/components/schemas/TaskCreateRequest"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetTaskWithNotes"}

    /tasks/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
        patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [patches]
                            additionalProperties: false
                            properties:
                                # TODO(#public-api-blocking): This should be an actor object?
                                actor:
                                    type: object
                                    required: [id]
                                    additionalProperties: false
                                    properties:
                                        id:
                                            $ref: "#/components/schemas/AccountId"
                                patches:
                                    type: array
                                    minItems: 1
                                    items:
                                        $ref: "#/components/schemas/TaskPatch"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/PatchTask"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetTask"}

    /tasks/{id}-reference:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, reference]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    reference:
                                        $ref: "#/components/schemas/TaskReference"

    /tasks/{id}-with-notes:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetTaskWithNotes"}

    /tasks/{id}/notes:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetTaskNotes"}
        patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [patches]
                            additionalProperties: false
                            properties:
                                patches:
                                    type: array
                                    minItems: 1
                                    items:
                                        $ref: "#/components/schemas/TaskNotesPatch"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetTaskNotes"}

    /tasks/{id}/subtasks:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      $ref: "#/components/schemas/TaskQueryCursor"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, task, nextCursor, tasks]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    task:
                                        $ref: "#/components/schemas/Task"
                                    nextCursor:
                                        oneOf:
                                            - $ref: "#/components/schemas/TaskQueryCursor"
                                            - type: "null"
                                    tasks:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/TaskQueryItem"

    /tasks/{id}/subtasks-query:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: []
                            additionalProperties: false
                            properties:
                                limit:
                                    type: integer
                                    minimum: 1
                                    maximum: 100
                                    default: 10
                                cursor:
                                    $ref: "#/components/schemas/TaskQueryCursor"
                                filters:
                                    type: array
                                    items:
                                        $ref: "#/components/schemas/TaskQueryFilter"
                                sorts:
                                    type: array
                                    items:
                                        $ref: "#/components/schemas/TaskQuerySort"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, task, nextCursor, tasks]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    task:
                                        $ref: "#/components/schemas/Task"
                                    nextCursor:
                                        oneOf:
                                            - $ref: "#/components/schemas/TaskQueryCursor"
                                            - type: "null"
                                    tasks:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/TaskQueryItem"

    /tasks/{id}-with-notes/subtasks:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      $ref: "#/components/schemas/TaskQueryCursor"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, task, nextCursor, tasks]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    task:
                                        $ref: "#/components/schemas/TaskWithNotes"
                                    nextCursor:
                                        oneOf:
                                            - $ref: "#/components/schemas/TaskQueryCursor"
                                            - type: "null"
                                    tasks:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/TaskQueryItem"

    /tasks/{id}-with-notes/subtasks-query:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: []
                            additionalProperties: false
                            properties:
                                limit:
                                    type: integer
                                    minimum: 1
                                    maximum: 100
                                    default: 10
                                cursor:
                                    $ref: "#/components/schemas/TaskQueryCursor"
                                filters:
                                    type: array
                                    items:
                                        $ref: "#/components/schemas/TaskQueryFilter"
                                sorts:
                                    type: array
                                    items:
                                        $ref: "#/components/schemas/TaskQuerySort"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, task, nextCursor, tasks]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    task:
                                        $ref: "#/components/schemas/TaskWithNotes"
                                    nextCursor:
                                        oneOf:
                                            - $ref: "#/components/schemas/TaskQueryCursor"
                                            - type: "null"
                                    tasks:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/TaskQueryItem"

    /tasks/{id}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /tasks/{id}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum: [Start, End]
                      default: Start
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessages"}
        post:
            requestBody: {$ref: "#/components/requestBodies/CreateMessage"}
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessage"}

    /tasks/{id}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamCompletion"}

    /tasks/{id}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPing"}

    /tasks/{id}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /tasks/{id}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageStreamPart"}

    /tasks/{id}/messages/{index}/experimental-approvals:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskId"}
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageExperimentalApprovals"}
        patch:
            requestBody:
                $ref: "#/components/requestBodies/PatchMessageExperimentalApprovals"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetMessageExperimentalApprovals"}

    /task-collections:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [spaceId, collection]
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                collection:
                                    type: object
                                    required: [name]
                                    additionalProperties: false
                                    properties:
                                        creator:
                                            # TODO(#public-api-blocking): Use `$ref: "#/components/schemas/Actor"` instead.
                                            type: object
                                            required: [id]
                                            additionalProperties: false
                                            properties:
                                                id:
                                                    $ref: "#/components/schemas/AccountId"
                                        name:
                                            $ref: "#/components/schemas/LabelString"
                                        color:
                                            oneOf:
                                                - $ref: "#/components/schemas/TaskCollectionColor"
                                                - type: "null"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, collection]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    collection:
                                        $ref: "#/components/schemas/TaskCollection"

    /task-collections/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskCollectionId"}
        patch:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [patches]
                            additionalProperties: false
                            properties:
                                # TODO(#public-api-blocking): This should be an actor object?
                                actor:
                                    type: object
                                    required: [id]
                                    additionalProperties: false
                                    properties:
                                        id:
                                            $ref: "#/components/schemas/AccountId"
                                patches:
                                    type: array
                                    minItems: 1
                                    items:
                                        $ref: "#/components/schemas/TaskCollectionPatch"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, collection]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    collection:
                                        $ref: "#/components/schemas/TaskCollection"
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, collection]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    collection:
                                        $ref: "#/components/schemas/TaskCollection"

    /task-collections/{id}-reference:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskCollectionId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, reference]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    reference:
                                        $ref: "#/components/schemas/TaskCollectionReference"

    /task-collections/{id}-preview:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskCollectionId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [spaceId, collection]
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    collection:
                                        $ref: "#/components/schemas/TaskCollectionPreview"

    /task-collections/{id}/tasks:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskCollectionId"}
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      $ref: "#/components/schemas/TaskQueryCursor"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetTaskCollectionTasks"}

    # NOTE(calebmer): `-query` refers to the upcoming HTTP `QUERY` method, not
    # `TaskQuery`. Eventually we should add `QUERY /task-collections/{id}/tasks`
    # and keep this endpoint around for backwards compatibility.
    /task-collections/{id}/tasks-query:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/TaskCollectionId"}
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: []
                            additionalProperties: false
                            properties:
                                limit:
                                    type: integer
                                    minimum: 1
                                    maximum: 100
                                    default: 10
                                cursor:
                                    $ref: "#/components/schemas/TaskQueryCursor"
                                filters:
                                    type: array
                                    items:
                                        $ref: "#/components/schemas/TaskQueryFilter"
                                sorts:
                                    type: array
                                    items:
                                        $ref: "#/components/schemas/TaskQuerySort"
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200": {$ref: "#/components/responses/GetTaskCollectionTasks"}

    /files/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/FileId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [id, contentType, contentLength, signedUrl, isUploading]
                                additionalProperties: false
                                properties:
                                    id:
                                        $ref: "#/components/schemas/FileId"
                                    contentType:
                                        type: string
                                    contentLength:
                                        type: integer
                                    signedUrl:
                                        type: string
                                    isUploading:
                                        type: boolean

    /files/{id}/content:
        parameters:
            - name: id
              in: path
              required: true
              schema: {$ref: "#/components/schemas/FileId"}
        get:
            responses:
                default: {$ref: "#/components/responses/Error"}
                "302":
                    headers:
                        location:
                            schema: {type: string}

webhooks:
    bot:
        post:
            parameters:
                - name: Alpine-Signature
                  in: header
                  required: false
                  description: >
                      Signature of the raw request body formatted as `sha256=<hex>` where `<hex>` is
                      the hex-encoded HMAC SHA-256 of the raw request body keyed with the bot's
                      webhook secret. Only sent when the bot has a webhook secret configured.
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [spaceId, botAccount, attempt, accessToken, eventId, event]
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                botAccount:
                                    type: object
                                    required: [id, bot]
                                    additionalProperties: false
                                    properties:
                                        id:
                                            $ref: "#/components/schemas/AccountId"
                                        bot:
                                            type: object
                                            required: [id]
                                            additionalProperties: false
                                            properties:
                                                id:
                                                    $ref: "#/components/schemas/BotId"
                                attempt:
                                    type: integer
                                    minimum: 1
                                accessToken:
                                    type: string
                                eventId:
                                    $ref: "#/components/schemas/BotWebhookEventId"
                                event:
                                    $ref: "#/components/schemas/BotWebhookEvent"
            responses:
                "200":
                    description:
                        Return a 200 status to indicate that the data was received successfully

components:
    responses:
        Error:
            content:
                application/json:
                    schema:
                        type: object
                        required: [error]
                        additionalProperties: false
                        properties:
                            error:
                                type: object
                                required: [message, retry]
                                additionalProperties: false
                                properties:
                                    message:
                                        type: string
                                        description:
                                            A human-readable message providing more details about
                                            the error.
                                    retry:
                                        type: object
                                        required: [able]
                                        additionalProperties: false
                                        properties:
                                            able:
                                                type: boolean
                                                description:
                                                    If true, it indicates that the request should
                                                    succeed if tried again.

        GetChannel:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, channel]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            channel:
                                $ref: "#/components/schemas/Channel"

        GetChat:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, chat]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            chat:
                                $ref: "#/components/schemas/Chat"

        GetDocument:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, document]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            document:
                                $ref: "#/components/schemas/Document"

        GetTask:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, task]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            task:
                                $ref: "#/components/schemas/Task"

        GetTaskWithNotes:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, task]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            task:
                                $ref: "#/components/schemas/TaskWithNotes"

        PatchTask:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, task, results]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            task:
                                $ref: "#/components/schemas/Task"
                            results:
                                type: array
                                items:
                                    $ref: "#/components/schemas/TaskPatchResult"

        PatchTasks:
            content:
                application/json:
                    schema:
                        type: object
                        required: [tasks, results]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            tasks:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Task"
                            results:
                                type: array
                                items:
                                    $ref: "#/components/schemas/TaskBatchPatchResult"

        GetTaskNotes:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, notes]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            notes:
                                $ref: "#/components/schemas/TaskNotes"

        GetTaskCollectionTasks:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, collection, nextCursor, tasks]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            collection:
                                $ref: "#/components/schemas/TaskCollection"
                            # TODO(calebmer): We should document how if the default sorts change
                            # while iterating through this collection an error will be thrown if
                            # sorts aren't explicitly specified.
                            nextCursor:
                                oneOf:
                                    - $ref: "#/components/schemas/TaskQueryCursor"
                                    - type: "null"
                            tasks:
                                type: array
                                items:
                                    $ref: "#/components/schemas/TaskQueryItem"

        GetMessage:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, message]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            message:
                                $ref: "#/components/schemas/Message"

        GetMessages:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, totalMessageCount, nextCursor, messages]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            totalMessageCount:
                                type: integer
                            nextCursor:
                                type: [integer, "null"]
                                minimum: 0
                            messages:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Message"

        GetMessageExperimentalApprovals:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, approvals]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            approvals:
                                type: array
                                items:
                                    $ref: "#/components/schemas/MessageExperimentalApproval"

        # TODO(calebmer, #public-api): We don't currently have
        # `GET /chats/{id}/messages/{index}/stream/completion` endpoints but the
        # intention is to add that endpoint and for it to return the same type as the
        # `PUT` endpoint.
        GetMessageStreamCompletion:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, completion]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            completion:
                                type: object
                                required: [completedTime]
                                additionalProperties: false
                                properties:
                                    completedTime:
                                        $ref: "#/components/schemas/DateTime"

        # NOTE(ifitzsimmons, 2025-11-14): If a client tries pinging a stream after it's
        # been completed, we don't throw an error. Instead, we return the completed time
        # and the last stream ping time (without updating the last stream ping time).
        GetMessageStreamPing:
            content:
                application/json:
                    schema:
                        type: object
                        required: [spaceId, ping]
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            ping:
                                type: object
                                required: [lastUpdatedTime]
                                additionalProperties: false
                                properties:
                                    lastUpdatedTime:
                                        $ref: "#/components/schemas/DateTime"

        # TODO(calebmer, #public-api): We don't currently have
        # `GET /chats/{id}/messages/{index}/stream/parts/{partIndex}` endpoints but
        # the intention is to add that endpoint and for it to return the same type as
        # the `PUT` endpoint.
        GetMessageStreamPart:
            content:
                application/json:
[...]
