# @generated by //shared/api:write_specification

openapi: 3.0.0
info:
    title: Alpine API
    description: The Alpine REST API.
    version: 1.0.0
servers:
    - url: https://api.alpine.inc
paths:
    /accounts/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/AccountId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - account
                                additionalProperties: false
                                properties:
                                    account:
                                        $ref: "#/components/schemas/AccountWithoutSpace"
                default:
                    $ref: "#/components/responses/Error"
    /spaces/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/SpaceId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - space
                                additionalProperties: false
                                properties:
                                    space:
                                        $ref: "#/components/schemas/Space"
                default:
                    $ref: "#/components/responses/Error"
    /spaces/{id}/accounts/{accountId}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/SpaceId"
            - name: accountId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/AccountId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - account
                                additionalProperties: false
                                properties:
                                    account:
                                        $ref: "#/components/schemas/Account"
                default:
                    $ref: "#/components/responses/Error"
    /spaces/{id}/bots/{botId}/settings:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/SpaceId"
            - name: botId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/BotId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - settings
                                additionalProperties: false
                                properties:
                                    settings:
                                        type: object
                                        required:
                                            - values
                                        additionalProperties: false
                                        properties:
                                            values:
                                                type: object
                                                additionalProperties: true
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - chat
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    chat:
                                        $ref: "#/components/schemas/Chat"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum:
                          - start
                          - end
                      default: start
            responses:
                "200":
                    $ref: "#/components/responses/GetMessages"
                default:
                    $ref: "#/components/responses/Error"
        post:
            requestBody:
                $ref: "#/components/requestBodies/CreateMessage"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamCompletion"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPing"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /chats/{id}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChatId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - document
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    document:
                                        $ref: "#/components/schemas/Document_Response"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - commentThread
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    commentThread:
                                        $ref: "#/components/schemas/DocumentCommentThread_Response"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum:
                          - start
                          - end
                      default: start
            responses:
                "200":
                    $ref: "#/components/responses/GetMessages"
                default:
                    $ref: "#/components/responses/Error"
        post:
            requestBody:
                $ref: "#/components/requestBodies/CreateMessage"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamCompletion"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPing"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /documents/{id}/threads/{threadId}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentId"
            - name: threadId
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/DocumentThreadId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /channels/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/ChannelId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - channel
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    channel:
                                        $ref: "#/components/schemas/Channel_Response"
                default:
                    $ref: "#/components/responses/Error"
    /posts:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - channelId
                                - content
                            additionalProperties: false
                            properties:
                                channelId:
                                    $ref: "#/components/schemas/ChannelId"
                                createdTimeZone:
                                    $ref: "#/components/schemas/TimeZone"
                                content:
                                    $ref: "#/components/schemas/Content"
            responses:
                "200":
                    $ref: "#/components/responses/GetPost"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetPost"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum:
                          - start
                          - end
                      default: start
            responses:
                "200":
                    $ref: "#/components/responses/GetMessages"
                default:
                    $ref: "#/components/responses/Error"
        post:
            requestBody:
                $ref: "#/components/requestBodies/CreateMessage"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamCompletion"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPing"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /posts/{id}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/PostId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /spaces/{id}/search:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/SpaceId"
        get:
            parameters:
                - name: query
                  in: query
                  required: true
                  schema:
                      type: string
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - results
                                additionalProperties: false
                                properties:
                                    results:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/SearchResult"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - task
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    task:
                                        $ref: "#/components/schemas/Task_Response"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/messages/{index}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        get:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/messages:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: integer
                - name: from
                  in: query
                  schema:
                      type: string
                      enum:
                          - start
                          - end
                      default: start
            responses:
                "200":
                    $ref: "#/components/responses/GetMessages"
                default:
                    $ref: "#/components/responses/Error"
        post:
            requestBody:
                $ref: "#/components/requestBodies/CreateMessage"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessage"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/messages/{index}/stream/completion:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamCompletion"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/messages/{index}/stream/ping:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPing"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/messages/{index}/stream/parts:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        post:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /tasks/{id}/messages/{index}/stream/parts/{partIndex}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskId"
            - name: index
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
            - name: partIndex
              in: path
              required: true
              schema:
                  type: integer
                  minimum: 0
        put:
            requestBody:
                $ref: "#/components/requestBodies/PutMessageStreamPart"
            responses:
                "200":
                    $ref: "#/components/responses/GetMessageStreamPart"
                default:
                    $ref: "#/components/responses/Error"
    /task-collections/{id}:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskCollectionId"
        get:
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - taskCollection
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    taskCollection:
                                        $ref: "#/components/schemas/TaskCollection"
                default:
                    $ref: "#/components/responses/Error"
    /task-collections/{id}/tasks:
        parameters:
            - name: id
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/TaskCollectionId"
        get:
            parameters:
                - name: limit
                  in: query
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 10
                - name: cursor
                  in: query
                  schema:
                      type: string
                - name: status
                  in: query
                  schema:
                      type: array
                      items:
                          type: string
                          enum:
                              - Open
                              - Closed
                      maxItems: 2
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - spaceId
                                    - tasks
                                    - nextCursor
                                additionalProperties: false
                                properties:
                                    spaceId:
                                        $ref: "#/components/schemas/SpaceId"
                                    nextCursor:
                                        type:
                                            - string
                                            - "null"
                                    tasks:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/TaskWithoutContent"
                default:
                    $ref: "#/components/responses/Error"
webhooks:
    bot:
        post:
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - spaceId
                                - botId
                                - botAccountId
                                - attempt
                                - accessToken
                                - eventId
                                - event
                            additionalProperties: false
                            properties:
                                spaceId:
                                    $ref: "#/components/schemas/SpaceId"
                                botId:
                                    $ref: "#/components/schemas/BotId"
                                botAccountId:
                                    $ref: "#/components/schemas/AccountId"
                                accountId:
                                    $ref: "#/components/schemas/AccountId"
                                attempt:
                                    type: integer
                                    minimum: 1
                                accessToken:
                                    type: string
                                eventId:
                                    $ref: "#/components/schemas/BotWebhookEventId"
                                event:
                                    $ref: "#/components/schemas/BotWebhookEvent"
            responses:
                "200":
                    description: Return a 200 status to indicate that the data was received
                        successfully
components:
    responses:
        Error:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - error
                        additionalProperties: false
                        properties:
                            error:
                                type: object
                                required:
                                    - message
                                    - retry
                                additionalProperties: false
                                properties:
                                    message:
                                        type: string
                                        description: A human-readable message providing more details about the error.
                                    retry:
                                        type: object
                                        required:
                                            - able
                                        additionalProperties: false
                                        properties:
                                            able:
                                                type: boolean
                                                description: If true, it indicates that the request should succeed if tried
                                                    again.
        GetMessage:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - spaceId
                            - message
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            message:
                                $ref: "#/components/schemas/Message_Response"
        GetMessages:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - spaceId
                            - nextCursor
                            - totalMessageCount
                            - messages
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            totalMessageCount:
                                type: integer
                            nextCursor:
                                type:
                                    - integer
                                    - "null"
                                minimum: 0
                            messages:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Message_Response"
        GetMessageStreamCompletion:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - spaceId
                            - completion
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            completion:
                                type: object
                                required:
                                    - completedTime
                                additionalProperties: false
                                properties:
                                    completedTime:
                                        $ref: "#/components/schemas/DateTime"
        GetMessageStreamPing:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - spaceId
                            - ping
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            ping:
                                type: object
                                required:
                                    - lastUpdatedTime
                                additionalProperties: false
                                properties:
                                    lastUpdatedTime:
                                        $ref: "#/components/schemas/DateTime"
        GetMessageStreamPart:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - spaceId
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
        GetPost:
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - spaceId
                            - post
                        additionalProperties: false
                        properties:
                            spaceId:
                                $ref: "#/components/schemas/SpaceId"
                            post:
                                $ref: "#/components/schemas/Post_Response"
    requestBodies:
        CreateMessage:
            required: true
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - content
                        additionalProperties: false
                        properties:
                            isStream:
                                type: boolean
                            createdTimeZone:
                                $ref: "#/components/schemas/TimeZone"
                            parent:
                                $ref: "#/components/schemas/MessageContentPayloadParent"
                            content:
                                $ref: "#/components/schemas/Content"
        PutMessageStreamPart:
            required: true
            content:
                application/json:
                    schema:
                        type: object
                        required:
                            - payload
                        additionalProperties: false
                        properties:
                            payload:
                                $ref: "#/components/schemas/MessageStreamPartPayload"
    schemas:
        LabelString:
            type: string
            minLength: 1
            maxLength: 50
        DateTime:
            type: string
            format: date-time
        TimeZone:
            type: string
        AccountId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        BotId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        BotWebhookEventId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        ChannelId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        ChatId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        DocumentId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        DocumentThreadId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        PostId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        SpaceId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        TaskId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        TaskCollectionId:
            type: string
            pattern: ^[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        AccountPath:
            type: string
            pattern: ^/accounts/[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        ChannelPath:
            type: string
            pattern: ^/channels/[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        ChatPath:
            type: string
            pattern: ^/chats/[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        ChatMessagePath:
            type: string
            pattern: ^/chats/[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]/messages/(?:[0-9]|[1-9][0-9]+)$
        ChatMessagesListPath:
            type: string
            pattern: ^/chats/[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]/messages$
        DocumentPath:
            type: string
            pattern: ^/documents/[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        DocumentMessagePath:
            type: string
            pattern: ^/documents/[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]/threads/[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]/messages/(?:[0-9]|[1-9][0-9]+)$
        DocumentThreadPath:
            type: string
            pattern: ^/documents/[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]/threads/[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        DocumentThreadMessagesListPath:
            type: string
            pattern: ^/documents/[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]/threads/[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]/messages$
        PostPath:
            type: string
            pattern: ^/posts/[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        PostMessagePath:
            type: string
            pattern: ^/posts/[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]/messages/(?:[0-9]|[1-9][0-9]+)$
        PostMessagesListPath:
            type: string
            pattern: ^/posts/[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]/messages$
        TaskPath:
            type: string
            pattern: ^/tasks/[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        TaskCollectionPath:
            type: string
            pattern: ^/task-collections/[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]$
        TaskMessagePath:
            type: string
            pattern: ^/tasks/[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]/messages/(?:[0-9]|[1-9][0-9]+)$
        TaskMessagesListPath:
            type: string
            pattern: ^/tasks/[0-9abcdefghjkmnpqrstvwxyz]{25}[0-9abcdefghjkmnpqrstvw]/messages$
        MessagesListPath:
            oneOf:
                - $ref: "#/components/schemas/ChatMessagesListPath"
                - $ref: "#/components/schemas/DocumentThreadMessagesListPath"
                - $ref: "#/components/schemas/PostMessagesListPath"
                - $ref: "#/components/schemas/TaskMessagesListPath"
        AccountMentionTarget:
            type: object
            required:
                - type
                - id
            additionalProperties: false
            properties:
                type:
                    const: Account
                id:
                    $ref: "#/components/schemas/AccountId"
        ChannelMentionTarget:
            type: object
            required:
                - type
                - id
            additionalProperties: false
            properties:
                type:
                    const: Channel
                id:
                    $ref: "#/components/schemas/ChannelId"
        DocumentMentionTarget:
            type: object
            required:
                - type
                - id
            additionalProperties: false
            properties:
                type:
                    const: Document
                id:
                    $ref: "#/components/schemas/DocumentId"
        PostMentionTarget:
            type: object
            required:
                - type
                - id
            additionalProperties: false
            properties:
                type:
                    const: Post
                id:
                    $ref: "#/components/schemas/PostId"
        TaskMentionTarget:
            type: object
            required:
                - type
                - id
            additionalProperties: false
            properties:
                type:
                    const: Task
                id:
                    $ref: "#/components/schemas/TaskId"
        TaskMentionTarget_Response:
            type: object
            required:
                - type
                - id
                - status
            additionalProperties: false
            properties:
                type:
                    const: Task
                id:
                    $ref: "#/components/schemas/TaskId"
                status:
                    $ref: "#/components/schemas/TaskStatus"
        TaskCollectionMentionTarget:
            type: object
            required:
                - type
                - id
            additionalProperties: false
            properties:
                type:
                    const: TaskCollection
                id:
                    $ref: "#/components/schemas/TaskCollectionId"
        MentionTarget:
            oneOf:
                - $ref: "#/components/schemas/AccountMentionTarget"
                - $ref: "#/components/schemas/ChannelMentionTarget"
                - $ref: "#/components/schemas/DocumentMentionTarget"
                - $ref: "#/components/schemas/PostMentionTarget"
                - $ref: "#/components/schemas/TaskMentionTarget"
                - $ref: "#/components/schemas/TaskCollectionMentionTarget"
            discriminator:
                propertyName: type
                mapping:
                    Account: "#/components/schemas/AccountMentionTarget"
                    Channel: "#/components/schemas/ChannelMentionTarget"
                    Document: "#/components/schemas/DocumentMentionTarget"
                    Post: "#/components/schemas/PostMentionTarget"
                    Task: "#/components/schemas/TaskMentionTarget"
                    TaskCollection: "#/components/schemas/TaskCollectionMentionTarget"
        Content:
            type: object
            additionalProperties: false
            required:
                - elements
            properties:
                elements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentBlockElement"
        ContentBlockElement:
            oneOf:
                - $ref: "#/components/schemas/ContentParagraphBlockElement"
                - $ref: "#/components/schemas/ContentUnorderedListBlockElement"
                - $ref: "#/components/schemas/ContentOrderedListBlockElement"
                - $ref: "#/components/schemas/ContentCheckListBlockElement"
                - $ref: "#/components/schemas/ContentQuoteBlockElement"
                - $ref: "#/components/schemas/ContentHeadingBlockElement"
                - $ref: "#/components/schemas/ContentDividerBlockElement"
                - $ref: "#/components/schemas/ContentTableBlockElement"
                - $ref: "#/components/schemas/ContentCodeBlockElement"
            discriminator:
                propertyName: type
                mapping:
                    Paragraph: "#/components/schemas/ContentParagraphBlockElement"
                    UnorderedList: "#/components/schemas/ContentUnorderedListBlockElement"
                    OrderedList: "#/components/schemas/ContentOrderedListBlockElement"
                    CheckList: "#/components/schemas/ContentCheckListBlockElement"
                    Quote: "#/components/schemas/ContentQuoteBlockElement"
                    Heading: "#/components/schemas/ContentHeadingBlockElement"
                    Divider: "#/components/schemas/ContentDividerBlockElement"
                    Table: "#/components/schemas/ContentTableBlockElement"
                    Code: "#/components/schemas/ContentCodeBlockElement"
        ContentParagraphBlockElement:
            type: object
            required:
                - type
                - elements
            additionalProperties: false
            properties:
                type:
                    const: Paragraph
                elements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentInlineElement"
        ContentListBlockElement:
            oneOf:
                - $ref: "#/components/schemas/ContentUnorderedListBlockElement"
                - $ref: "#/components/schemas/ContentOrderedListBlockElement"
                - $ref: "#/components/schemas/ContentCheckListBlockElement"
            discriminator:
                propertyName: type
                mapping:
                    UnorderedList: "#/components/schemas/ContentUnorderedListBlockElement"
                    OrderedList: "#/components/schemas/ContentOrderedListBlockElement"
                    CheckList: "#/components/schemas/ContentCheckListBlockElement"
        ContentUnorderedListBlockElement:
            type: object
            required:
                - type
                - items
            additionalProperties: false
            properties:
                type:
                    const: UnorderedList
                items:
                    type: array
                    minItems: 1
                    items:
                        $ref: "#/components/schemas/ContentListBlockElementItem"
        ContentOrderedListBlockElement:
            type: object
            required:
                - type
                - items
            additionalProperties: false
            properties:
                type:
                    const: OrderedList
                orderStart:
                    type: integer
                    minimum: 1
                items:
                    type: array
                    minItems: 1
                    items:
                        $ref: "#/components/schemas/ContentListBlockElementItem"
        ContentCheckListBlockElement:
            type: object
            required:
                - type
                - items
            additionalProperties: false
            properties:
                type:
                    const: CheckList
                items:
                    type: array
                    minItems: 1
                    items:
                        $ref: "#/components/schemas/ContentCheckListBlockElementItem"
        ContentListBlockElementItem:
            type: object
            required:
                - elements
            additionalProperties: false
            properties:
                elements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentParagraphBlockElement"
                nestedListElements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentListBlockElement"
        ContentCheckListBlockElementItem:
            type: object
            required:
                - checked
                - elements
            additionalProperties: false
            properties:
                checked:
                    type: boolean
                elements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentParagraphBlockElement"
                nestedListElements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentListBlockElement"
        ContentQuoteBlockElement:
            type: object
            required:
                - type
                - elements
            additionalProperties: false
            properties:
                type:
                    const: Quote
                elements:
                    type: array
                    minItems: 1
                    items:
                        $ref: "#/components/schemas/ContentQuoteBlockElementBlockElement"
        ContentQuoteBlockElementBlockElement:
            oneOf:
                - $ref: "#/components/schemas/ContentParagraphBlockElement"
                - $ref: "#/components/schemas/ContentUnorderedListBlockElement"
                - $ref: "#/components/schemas/ContentOrderedListBlockElement"
                - $ref: "#/components/schemas/ContentCheckListBlockElement"
            discriminator:
                propertyName: type
                mapping:
                    Paragraph: "#/components/schemas/ContentParagraphBlockElement"
                    UnorderedList: "#/components/schemas/ContentUnorderedListBlockElement"
                    OrderedList: "#/components/schemas/ContentOrderedListBlockElement"
                    CheckList: "#/components/schemas/ContentCheckListBlockElement"
        ContentHeadingBlockElement:
            type: object
            required:
                - type
                - level
                - elements
            additionalProperties: false
            properties:
                type:
                    const: Heading
                level:
                    type: integer
                    minimum: 1
                    maximum: 3
                elements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentInlineElement"
        ContentDividerBlockElement:
            type: object
            required:
                - type
            additionalProperties: false
            properties:
                type:
                    const: Divider
        ContentTableBlockElement:
            type: object
            required:
                - type
                - width
                - columns
                - rows
            additionalProperties: false
            properties:
                type:
                    const: Table
                width:
                    type: number
                hasHeaderRow:
                    type: boolean
                hasHeaderColumn:
                    type: boolean
                columns:
                    type: array
                    minItems: 2
                    items:
                        type: object
                        required:
                            - width
                        additionalProperties: false
                        properties:
                            width:
                                type: number
                rows:
                    type: array
                    minItems: 1
                    items:
                        $ref: "#/components/schemas/ContentTableBlockElementRow"
        ContentTableBlockElementRow:
            type: object
            required:
                - cells
            additionalProperties: false
            properties:
                cells:
                    type: array
                    minItems: 2
                    items:
                        $ref: "#/components/schemas/ContentTableBlockElementCell"
        ContentTableBlockElementCell:
            type: object
            required:
                - elements
            additionalProperties: false
            properties:
                elements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentTableBlockElementCellBlockElement"
        ContentTableBlockElementCellBlockElement:
            oneOf:
                - $ref: "#/components/schemas/ContentParagraphBlockElement"
                - $ref: "#/components/schemas/ContentUnorderedListBlockElement"
                - $ref: "#/components/schemas/ContentOrderedListBlockElement"
                - $ref: "#/components/schemas/ContentCheckListBlockElement"
                - $ref: "#/components/schemas/ContentQuoteBlockElement"
                - $ref: "#/components/schemas/ContentCodeBlockElement"
            discriminator:
                propertyName: type
                mapping:
                    Paragraph: "#/components/schemas/ContentParagraphBlockElement"
                    UnorderedList: "#/components/schemas/ContentUnorderedListBlockElement"
                    OrderedList: "#/components/schemas/ContentOrderedListBlockElement"
                    CheckList: "#/components/schemas/ContentCheckListBlockElement"
                    Quote: "#/components/schemas/ContentQuoteBlockElement"
                    Code: "#/components/schemas/ContentCodeBlockElement"
        ContentCodeBlockElement:
            type: object
            required:
                - type
                - language
                - lines
            additionalProperties: false
            properties:
                type:
                    const: Code
                language:
                    type: string
                    enum:
                        - text
                        - javascript
                        - html
                        - css
                        - sql
                        - python
                        - typescript
                        - shell
                        - java
                        - json
                        - markdown
                        - csharp
                        - cpp
                        - c
                        - php
                        - go
                        - yaml
                        - powershell
                        - rust
                        - kotlin
                        - ruby
                        - lua
                        - xml
                        - dart
                        - swift
                        - assembly
                        - webassembly
                        - scala
                        - r
                        - elixir
                        - objectivec
                        - perl
                        - haskell
                        - solidity
                        - clojure
                        - erlang
                        - ocaml
                lines:
                    type: array
                    minItems: 1
                    items:
                        $ref: "#/components/schemas/ContentCodeBlockElementLine"
        ContentCodeBlockElementLine:
            type: object
            required:
                - elements
            additionalProperties: false
            properties:
                elements:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentCodeBlockElementTextInlineElement"
        ContentInlineElement:
            oneOf:
                - $ref: "#/components/schemas/ContentTextInlineElement"
                - $ref: "#/components/schemas/ContentBreakInlineElement"
                - $ref: "#/components/schemas/ContentMentionInlineElement"
            discriminator:
                propertyName: type
                mapping:
                    Text: "#/components/schemas/ContentTextInlineElement"
                    Break: "#/components/schemas/ContentBreakInlineElement"
                    Mention: "#/components/schemas/ContentMentionInlineElement"
        ContentTextInlineElement:
            type: object
            required:
                - type
                - text
            additionalProperties: false
            properties:
                type:
                    const: Text
                text:
                    type: string
                    minLength: 1
                marks:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentInlineElementMark"
        ContentBreakInlineElement:
            type: object
            required:
                - type
            additionalProperties: false
            properties:
                type:
                    const: Break
                marks:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentInlineElementMark"
        ContentMentionInlineElement:
            type: object
            required:
                - type
                - target
            additionalProperties: false
            properties:
                type:
                    const: Mention
                target:
                    $ref: "#/components/schemas/MentionTarget"
                title:
                    type: string
                isAccountShortName:
                    type: boolean
                marks:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentInlineElementMark"
        ContentMentionInlineElement_Response:
            type: object
            required:
                - type
                - target
                - title
            additionalProperties: false
            properties:
                type:
                    const: Mention
                target:
                    $ref: "#/components/schemas/MentionTarget_Response"
                title:
                    type: string
                    minLength: 1
                isAccountShortName:
                    type: boolean
                marks:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentInlineElementMark"
        ContentInlineElementMark:
            oneOf:
                - $ref: "#/components/schemas/ContentInlineElementBoldMark"
                - $ref: "#/components/schemas/ContentInlineElementItalicMark"
                - $ref: "#/components/schemas/ContentInlineElementStrikeMark"
                - $ref: "#/components/schemas/ContentInlineElementLinkMark"
                - $ref: "#/components/schemas/ContentInlineElementCodeMark"
                - $ref: "#/components/schemas/ContentInlineElementHighlightMark"
                - $ref: "#/components/schemas/ContentInlineElementCommentMark"
            discriminator:
                propertyName: type
                mapping:
                    Bold: "#/components/schemas/ContentInlineElementBoldMark"
                    Italic: "#/components/schemas/ContentInlineElementItalicMark"
                    Strike: "#/components/schemas/ContentInlineElementStrikeMark"
                    Link: "#/components/schemas/ContentInlineElementLinkMark"
                    Code: "#/components/schemas/ContentInlineElementCodeMark"
                    Highlight: "#/components/schemas/ContentInlineElementHighlightMark"
                    Comment: "#/components/schemas/ContentInlineElementCommentMark"
        ContentInlineElementBoldMark:
            type: object
            required:
                - type
            additionalProperties: false
            properties:
                type:
                    const: Bold
        ContentInlineElementItalicMark:
            type: object
            required:
                - type
            additionalProperties: false
            properties:
                type:
                    const: Italic
        ContentInlineElementStrikeMark:
            type: object
            required:
                - type
            additionalProperties: false
            properties:
                type:
                    const: Strike
        ContentInlineElementLinkMark:
            type: object
            required:
                - type
                - url
            additionalProperties: false
            properties:
                type:
                    const: Link
                url:
                    type: string
        ContentInlineElementCodeMark:
            type: object
            required:
                - type
            additionalProperties: false
            properties:
                type:
                    const: Code
        ContentInlineElementHighlightMark:
            type: object
            required:
                - type
                - color
            additionalProperties: false
            properties:
                type:
                    const: Highlight
                color:
                    $ref: "#/components/schemas/ContentInlineElementHighlightMarkColor"
        ContentInlineElementHighlightMarkColor:
            type: string
            enum:
                - Red
                - Orange
                - Green
                - Blue
                - Purple
        ContentInlineElementCommentMark:
            type: object
            required:
                - type
                - threadId
            additionalProperties: false
            properties:
                type:
                    const: Comment
                threadId:
                    $ref: "#/components/schemas/DocumentThreadId"
        ContentCodeBlockElementTextInlineElement:
            type: object
            required:
                - type
                - text
            additionalProperties: false
            properties:
                type:
                    const: Text
                text:
                    type: string
                    minLength: 1
                    pattern: ^[^\n\r]*$
                marks:
                    type: array
                    items:
                        $ref: "#/components/schemas/ContentCodeBlockElementTextInlineElementMark"
        ContentCodeBlockElementTextInlineElementMark:
            oneOf:
                - $ref: "#/components/schemas/ContentInlineElementBoldMark"
                - $ref: "#/components/schemas/ContentInlineElementItalicMark"
                - $ref: "#/components/schemas/ContentInlineElementStrikeMark"
                - $ref: "#/components/schemas/ContentInlineElementLinkMark"
                - $ref: "#/components/schemas/ContentInlineElementHighlightMark"
                - $ref: "#/components/schemas/ContentInlineElementCommentMark"
            discriminator:
                propertyName: type
                mapping:
                    Bold: "#/components/schemas/ContentInlineElementBoldMark"
                    Italic: "#/components/schemas/ContentInlineElementItalicMark"
                    Strike: "#/components/schemas/ContentInlineElementStrikeMark"
                    Link: "#/components/schemas/ContentInlineElementLinkMark"
                    Highlight: "#/components/schemas/ContentInlineElementHighlightMark"
                    Comment: "#/components/schemas/ContentInlineElementCommentMark"
        AccountWithoutSpace:
            type: object
            required:
                - id
                - name
                - shortName
            additionalProperties: false
            properties:
                id:
                    $ref: "#/components/schemas/AccountId"
                name:
                    $ref: "#/components/schemas/LabelString"
                shortName:
                    $ref: "#/components/schemas/LabelString"
                botId:
                    $ref: "#/components/schemas/BotId"
        Space:
            type: object
            required:
                - id
                - name
            additionalProperties: false
            properties:
                id:
                    $ref: "#/components/schemas/SpaceId"
                name:
                    $ref: "#/components/schemas/LabelString"
        Account:
            type: object
            required:
                - id
                - name
                - shortName
                - space
            additionalProperties: false
            properties:
                id:
                    $ref: "#/components/schemas/AccountId"
                name:
                    $ref: "#/components/schemas/LabelString"
                shortName:
                    type: string
                    minLength: 1
                    maxLength: 50
                botId:
                    $ref: "#/components/schemas/BotId"
                space:
                    type: object
                    required:
                        - role
                        - addedTime
                    additionalProperties: false
                    properties:
                        role:
                            type: string
                            enum:
                                - Owner
                                - Admin
                                - Member
                        addedTime:
                            $ref: "#/components/schemas/DateTime"
                        inactive:
                            oneOf:
                                - type: object
                                  required:
                                      - type
                                  additionalProperties: false
                                  properties:
                                      type:
                                          const: Removed
                                      removedTime:
                                          $ref: "#/components/schemas/DateTime"
                                - type: object
                                  required:
                                      - type
                                  additionalProperties: false
                                  properties:
                                      type:
                                          const: InvitePending
        Chat:
            type: object
            required:
                - id
                - members
            additionalProperties: false
            properties:
                id:
                    $ref: "#/components/schemas/ChatId"
                members:
                    type: array
                    items:
                        type: object
                        required:
                            - account
                        additionalProperties: false
                        properties:
                            account:
                                $ref: "#/components/schemas/Account"
        Document:
            type: object
            required:
                - id
                - title
                - content
            additionalProperties: false
            properties:
                id:
                    $ref: "#/components/schemas/DocumentId"
                title:
                    type: string
                content:
                    $ref: "#/components/schemas/Content"
        DocumentPreview:
            type: object
            required:
                - id
                - title
            additionalProperties: false
            properties:
                id:
                    $ref: "#/components/schemas/DocumentId"
                title:
                    type: string
        DocumentCommentThread:
            type: object
            required:
                - id
                - createdTime
                - isResolved
                - commentCount
                - firstCommentAuthor
                - documentContentSnippet
            additionalProperties: false
            properties:
                id:
                    $ref: "#/components/schemas/DocumentThreadId"
                createdTime:
                    $ref: "#/components/schemas/DateTime"
                isResolved:
                    type: boolean
                commentCount:
                    type: integer
                    minimum: 0
                firstCommentAuthor:
                    oneOf:
                        - $ref: "#/components/schemas/Account"
                        - type: "null"
                documentContentSnippet:
                    $ref: "#/components/schemas/Content"
        ChannelPreview:
            type: object
            required:
                - id
                - name
            additionalProperties: false
            properties:
                id:
                    $ref: "#/components/schemas/ChannelId"
                name:
                    $ref: "#/components/schemas/LabelString"
        Channel:
            type: object
            required:
                - id
                - name
                - description
            additionalProperties: false
            properties:
                id:
                    $ref: "#/components/schemas/ChannelId"
                name:
                    $ref: "#/components/schemas/LabelString"
                description:
                    $ref: "#/components/schemas/Content"
        Post:
            type: object
            required:
                - id
                - author
                - createdTime
                - createdTimeZone
                - content
                - contentPreview
            additionalProperties: false
            properties:
                id:
                    $ref: "#/components/schemas/PostId"
                author:
                    $ref: "#/components/schemas/Account"
                createdTime:
                    $ref: "#/components/schemas/DateTime"
                createdTimeZone:
                    $ref: "#/components/schemas/TimeZone"
                channel:
                    $ref: "#/components/schemas/ChannelPreview"
                content:
                    $ref: "#/components/schemas/Content"
                contentPreview:
                    type: string
        PostPreview:
            type: object
            required:
                - id
                - author
                - contentPreview
            additionalProperties: false
            properties:
                id:
                    $ref: "#/components/schemas/PostId"
                author:
                    $ref: "#/components/schemas/Account"
                channel:
                    $ref: "#/components/schemas/ChannelPreview"
                contentPreview:
                    type: string
        Task:
            type: object
            required:
                - id
                - status
                - title
                - content
            additionalProperties: false
            properties:
                id:
                    $ref: "#/components/schemas/TaskId"
                status:
                    $ref: "#/components/schemas/TaskStatus"
                title:
                    type: string
                assignee:
                    $ref: "#/components/schemas/Account"
                due:
                    type: object
                    required:
                        - date
                    additionalProperties: false
                    properties:
                        date:
                            type: string
                            format: date
                priority:
                    type: string
                    enum:
                        - Low
                        - Medium
                        - High
                        - Urgent
                content:
                    $ref: "#/components/schemas/Content"
        TaskWithoutContent:
            type: object
            required:
                - id
                - status
                - title
            additionalProperties: false
            properties:
                id:
                    $ref: "#/components/schemas/TaskId"
                status:
                    $ref: "#/components/schemas/TaskStatus"
                title:
                    type: string
                assignee:
                    $ref: "#/components/schemas/Account"
                due:
                    type: object
                    required:
                        - date
                    additionalProperties: false
                    properties:
                        date:
                            type: string
                            format: date
                priority:
                    type: string
                    enum:
                        - Low
                        - Medium
                        - High
                        - Urgent
        TaskPreview:
            type: object
            required:
                - id
                - status
                - title
            additionalProperties: false
            properties:
                id:
                    $ref: "#/components/schemas/TaskId"
                status:
                    $ref: "#/components/schemas/TaskStatus"
                title:
                    type: string
        TaskStatus:
            oneOf:
                - type: object
                  required:
                      - type
                      - isActive
                  additionalProperties: false
                  properties:
                      type:
                          const: Open
                      isActive:
                          type: boolean
                - type: object
                  required:
                      - type
                  additionalProperties: false
                  properties:
                      type:
                          const: Closed
        TaskCollection:
            type: object
            required:
                - id
                - name
            additionalProperties: false
            properties:
                id:
                    $ref: "#/components/schemas/TaskCollectionId"
                name:
                    $ref: "#/components/schemas/LabelString"
        Message:
            type: object
            required:
                - index
                - author
                - createdTime
                - createdTimeZone
                - payload
            additionalProperties: false
            properties:
                index:
                    type: integer
                    minimum: 0
                author:
                    $ref: "#/components/schemas/Account"
                createdTime:
                    $ref: "#/components/schemas/DateTime"
                createdTimeZone:
                    $ref: "#/components/schemas/TimeZone"
                payload:
                    $ref: "#/components/schemas/MessagePayload"
        MessagePayload:
            oneOf:
                - $ref: "#/components/schemas/MessageContentPayload"
                - $ref: "#/components/schemas/MessageDeletedPayload"
            discriminator:
                propertyName: type
                mapping:
                    Content: "#/components/schemas/MessageContentPayload"
                    Deleted: "#/components/schemas/MessageDeletedPayload"
        MessageContentPayload:
            type: object
            required:
                - type
                - content
            additionalProperties: false
            properties:
                type:
                    const: Content
                parent:
                    $ref: "#/components/schemas/MessageContentPayloadParent"
                content:
                    $ref: "#/components/schemas/Content"
        MessageContentPayloadParent:
            oneOf:
                - $ref: "#/components/schemas/MessageContentPayloadMessageParent"
                - $ref: "#/components/schemas/MessageContentPayloadPostParent"
            discriminator:
                propertyName: type
                mapping:
                    Message: "#/components/schemas/MessageContentPayloadMessageParent"
                    Post: "#/components/schemas/MessageContentPayloadPostParent"
        MessageContentPayloadMessageParent:
            type: object
            required:
                - type
                - index
            additionalProperties: false
            properties:
                type:
                    const: Message
                index:
                    type: integer
                    minimum: 0
        MessageContentPayloadMessageParent_Response:
            type: object
            required:
                - type
                - index
                - author
                - contentSnippet
            additionalProperties: false
            properties:
                type:
                    const: Message
                index:
                    type: integer
                    minimum: 0
                endIndex:
                    type: integer
                    minimum: 0
                author:
                    $ref: "#/components/schemas/Account"
                contentSnippet:
                    $ref: "#/components/schemas/MessageContentPayloadParentContentSnippet"
        MessageContentPayloadPostParent:
            type: object
            required:
                - type
                - author
                - contentSnippet
            additionalProperties: false
            properties:
                type:
                    const: Post
        MessageContentPayloadPostParent_Response:
            type: object
            required:
                - type
                - author
                - contentSnippet
            additionalProperties: false
            properties:
                type:
                    const: Post
                author:
                    $ref: "#/components/schemas/Account"
                contentSnippet:
                    $ref: "#/components/schemas/MessageContentPayloadParentContentSnippet"
        MessageDeletedPayload:
            type: object
            required:
                - type
            additionalProperties: false
            properties:
                type:
                    const: Deleted
        MessageStreamPart:
            type: object
            required:
                - index
                - version
                - payload
                - createdTime
            additionalProperties: false
            properties:
                index:
                    type: integer
                    minimum: 0
                version:
                    type: integer
                    minimum: 0
                createdTime:
                    type: string
                    format: date-time
                payload:
                    $ref: "#/components/schemas/MessageStreamPartPayload"
        MessageStreamPartPayload:
            oneOf:
                - $ref: "#/components/schemas/MessageStreamContentPartPayload"
                - $ref: "#/components/schemas/MessageStreamToolCallPartPayload"
                - $ref: "#/components/schemas/MessageStreamReasoningPartPayload"
            discriminator:
                propertyName: type
                mapping:
                    Content: "#/components/schemas/MessageStreamContentPartPayload"
                    ToolCall: "#/components/schemas/MessageStreamToolCallPartPayload"
                    Reasoning: "#/components/schemas/MessageStreamReasoningPartPayload"
        MessageStreamContentPartPayload:
            type: object
            required:
                - type
                - content
            additionalProperties: false
            properties:
                type:
                    const: Content
                content:
                    $ref: "#/components/schemas/Content"
        MessageStreamReasoningPartPayload:
            type: object
            required:
                - type
                - content
            additionalProperties: false
            properties:
                type:
                    const: Reasoning
                content:
                    $ref: "#/components/schemas/Content"
        MessageStreamToolCallPartPayload:
            type: object
            required:
                - type
                - call
            additionalProperties: false
            properties:
                type:
                    const: ToolCall
                call:
                    $ref: "#/components/schemas/MessageStreamToolCallPartPayloadCall"
        MessageStreamToolCallPartPayloadCall:
            oneOf:
                - $ref: "#/components/schemas/MessageStreamToolCallPartPayloadReadCall"
                - $ref: "#/components/schemas/MessageStreamToolCallPartPayloadSearchCall"
            discriminator:
                propertyName: type
                mapping:
                    Read: "#/components/schemas/MessageStreamToolCallPartPayloadReadCall"
                    Search: "#/components/schemas/MessageStreamToolCallPartPayloadSearchCall"
        MessageStreamToolCallPartPayloadReadCall:
            type: object
            required:
                - type
                - target
            additionalProperties: false
            properties:
                type:
                    const: Read
                target:
                    $ref: "#/components/schemas/MentionTarget"
        MessageStreamToolCallPartPayloadSearchCall:
            type: object
            required:
                - type
                - query
            additionalProperties: false
            properties:
                type:
                    const: Search
                query:
                    type: string
        BotWebhookEvent:
            oneOf:
                - $ref: "#/components/schemas/BotWebhookNewMessageEvent"
                - $ref: "#/components/schemas/BotWebhookNewPostEvent"
            discriminator:
                propertyName: type
                mapping:
                    NewMessage: "#/components/schemas/BotWebhookNewMessageEvent"
                    NewPost: "#/components/schemas/BotWebhookNewPostEvent"
        BotWebhookNewMessageEvent:
            type: object
            required:
                - type
                - room
                - index
                - authorId
                - createdTimeZone
            additionalProperties: false
            properties:
                type:
                    const: NewMessage
                room:
                    $ref: "#/components/schemas/MessageRoomTarget"
                index:
                    type: integer
                    minimum: 0
                authorId:
                    $ref: "#/components/schemas/AccountId"
                createdTimeZone:
                    $ref: "#/components/schemas/TimeZone"
                wasMentioned:
                    type: boolean
                parent:
                    $ref: "#/components/schemas/BotWebhookNewMessageEventParent"
        BotWebhookNewMessageEventParent:
            oneOf:
                - $ref: "#/components/schemas/BotWebhookNewMessageEventMessageParent"
                - $ref: "#/components/schemas/BotWebhookNewMessageEventPostParent"
            discriminator:
                propertyName: type
                mapping:
                    Message: "#/components/schemas/BotWebhookNewMessageEventMessageParent"
                    Post: "#/components/schemas/BotWebhookNewMessageEventPostParent"
        BotWebhookNewMessageEventMessageParent:
            type: object
            required:
                - type
                - index
                - author
            additionalProperties: false
            properties:
                type:
                    const: Message
                index:
                    type: integer
                author:
                    type: object
                    required:
                        - id
                    additionalProperties: false
                    properties:
                        id:
                            $ref: "#/components/schemas/AccountId"
        BotWebhookNewMessageEventPostParent:
            type: object
            required:
                - type
                - author
            additionalProperties: false
            properties:
                type:
                    const: Post
                author:
                    type: object
                    required:
                        - id
                    additionalProperties: false
                    properties:
                        id:
                            $ref: "#/components/schemas/AccountId"
        BotWebhookNewPostEvent:
            type: object
            required:
                - type
                - postId
                - authorId
                - createdTimeZone
            additionalProperties: false
            properties:
                type:
                    const: NewPost
                postId:
                    $ref: "#/components/schemas/PostId"
                authorId:
                    $ref: "#/components/schemas/AccountId"
                createdTimeZone:
                    $ref: "#/components/schemas/TimeZone"
                wasMentioned:
                    type: boolean
        MessageContentPayloadParentContentSnippet:
            type: object
            required:
                - isTruncated
                - elements
            additionalProperties: false
            properties:
                elements:
                    type: array
                    items:
                        $ref: "#/components/schemas/MessageContentPayloadParentContentSnippetTextInline\
                            Element"
                isTruncated:
                    type: boolean
        MessageContentPayloadParentContentSnippetTextInlineElement:
            type: object
            required:
                - type
                - text
            additionalProperties: false
            properties:
                type:
                    const: Text
                text:
                    type: string
                marks:
                    type: array
                    items:
                        $ref: "#/components/schemas/MessageContentPayloadParentContentSnippetInlineElem\
                            entMark"
        MessageContentPayloadParentContentSnippetInlineElementMark:
            oneOf:
                - $ref: "#/components/schemas/ContentInlineElementStrikeMark"
                - $ref: "#/components/schemas/ContentInlineElementCodeMark"
            discriminator:
                propertyName: type
                mapping:
                    Strike: "#/components/schemas/ContentInlineElementStrikeMark"
                    Code: "#/components/schemas/ContentInlineElementCodeMark"
        MessageRoomTarget:
            oneOf:
                - $ref: "#/components/schemas/ChatMessageRoom"
                - $ref: "#/components/schemas/DocumentCommentRoom"
                - $ref: "#/components/schemas/PostCommentRoom"
                - $ref: "#/components/schemas/TaskCommentRoom"
            discriminator:
                propertyName: type
                mapping:
                    Chat: "#/components/schemas/ChatMessageRoom"
                    DocumentCommentThread: "#/components/schemas/DocumentCommentRoom"
                    Post: "#/components/schemas/PostCommentRoom"
                    Task: "#/components/schemas/TaskCommentRoom"
        ChatMessageRoom:
            type: object
            required:
                - type
                - id
            additionalProperties: false
            properties:
                type:
                    const: Chat
                id:
                    $ref: "#/components/schemas/ChatId"
        DocumentCommentRoom:
            type: object
            required:
                - type
                - id
                - threadId
            additionalProperties: false
            properties:
                type:
                    const: DocumentCommentThread
                id:
                    $ref: "#/components/schemas/DocumentId"
                threadId:
                    $ref: "#/components/schemas/DocumentThreadId"
        PostCommentRoom:
            type: object
            required:
                - type
                - id
            additionalProperties: false
            properties:
                type:
                    const: Post
                id:
                    $ref: "#/components/schemas/PostId"
        TaskCommentRoom:
            type: object
            required:
                - type
                - id
            additionalProperties: false
            properties:
                type:
                    const: Task
                id:
                    $ref: "#/components/schemas/TaskId"
        SearchResult:
            oneOf:
                - $ref: "#/components/schemas/SearchAccountResult"
                - $ref: "#/components/schemas/SearchChannelResult"
                - $ref: "#/components/schemas/SearchChatResult"
                - $ref: "#/components/schemas/SearchChatMessageResult"
                - $ref: "#/components/schemas/SearchDocumentResult"
                - $ref: "#/components/schemas/SearchDocumentMessageResult"
                - $ref: "#/components/schemas/SearchPostResult"
                - $ref: "#/components/schemas/SearchPostMessageResult"
                - $ref: "#/components/schemas/SearchTaskResult"
                - $ref: "#/components/schemas/SearchTaskMessageResult"
                - $ref: "#/components/schemas/SearchTaskCollectionResult"
            discriminator:
                propertyName: type
                mapping:
                    Account: "#/components/schemas/SearchAccountResult"
                    Channel: "#/components/schemas/SearchChannelResult"
                    Chat: "#/components/schemas/SearchChatResult"
                    ChatMessage: "#/components/schemas/SearchChatMessageResult"
                    Document: "#/components/schemas/SearchDocumentResult"
                    DocumentMessage: "#/components/schemas/SearchDocumentMessageResult"
                    Post: "#/components/schemas/SearchPostResult"
                    PostMessage: "#/components/schemas/SearchPostMessageResult"
                    Task: "#/components/schemas/SearchTaskResult"
                    TaskMessage: "#/components/schemas/SearchTaskMessageResult"
                    TaskCollection: "#/components/schemas/SearchTaskCollectionResult"
        SearchAccountResult:
            type: object
            required:
                - title
                - bodyMatch
                - type
                - id
            additionalProperties: false
            properties:
                title:
                    type: string
                bodyMatch:
                    const: null
                parsedFilter:
                    $ref: "#/components/schemas/SearchResultParsedFilter"
                type:
                    const: Account
                id:
                    $ref: "#/components/schemas/AccountId"
        SearchChannelResult:
            type: object
            required:
                - title
                - bodyMatch
                - type
                - id
            additionalProperties: false
            properties:
                title:
                    type: string
                bodyMatch:
                    oneOf:
[...]
